{% extends "cau/index.html" %}
{% load i18n %}
{% load django_tables2 %}
 	
{% block subcontent %}

<h1>Detall de l'incidència</h1>

<form enctype="multipart/form-data" method="POST" action="">{% csrf_token %}
<table>
{{ form.as_table }} 
</table>
</form>

</br>
{% if is_informatic %}
<a href="/admin/cau/cauticket/{{tiquet_id}}/">Editar incidència</a>
{% endif %}
</br>
</br>
</br>
<h1>Comentaris</h1>
</br>
{% for comentari in comentaris %}
<form enctype="multipart/form-data" method="POST" action="">{% csrf_token %}
<table>
{{ comentari.as_table }} 
</table>
</form>
</br>
</br></br></br>
{% endfor %}

</br>
<form enctype="multipart/form-data" method="POST" action="">{% csrf_token %}
<table>
{{ comentari_form.as_table }} 

<tr><td><input type="submit" value="Acceptar"/></td></tr>

</table>
</form>

</br>


{% endblock %}