{% extends "cau/index.html" %}
{% load i18n %}
{% load django_tables2 %}
 	
{% block subcontent %}


<h1>Llistat d'incidències</h1>
{% render_table taula %}
</br>
</br>
<h1>Nova incidència</h1>

<form enctype="multipart/form-data" method="POST" action="">{% csrf_token %}
<table>
{% for error in form.non_field_errors %}
    <tr><td>{{ error }}</td></tr>
{% endfor %}
{{ form.as_table }} 

<tr><td><input type="submit" value="Acceptar"/></td></tr>

</table>
</form>


{% endblock %}
