{% extends "cau/index.html" %}
{% load i18n %}

 	
{% block subcontent %}


        

{% if rows|length > 0 %}
<div style="width: 100; float: left; margin: 20px 20px 20px 20px;">
<h1>{{titol}}</h1>
<br/>
<table>
<tr>
<td></td>
{% for column in columns %}
<td align="center"><b>{{column|safe}}</b></td>
{% endfor %}
</tr>

{% for row in rows %}
<tr class="{% cycle 'row1' 'row2' %}">
    {% for item in row %}
           {%if item == None %}
            <td ></td>
           {% else %}
             <td>{{item|safe}}</td>
           {% endif %}
    {% endfor %}
</tr>
{% endfor %}
</table>
</br>
<a href="/cau/tiket-acces-historic-pacs/0">Nou tiquet</a>
</div>
{% else %}
<div style="width:100; float: left; margin: 20px 20px 20px 20px; height: 40px; text-align: center;">No hi han dades per la taula: <b>{{grafic.titol}}</b> ({{grafic.descripcio}})</div>
{% endif %}



{% endblock %}