{% extends "cau/base_app.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}




<script type="text/javascript" src="/my_admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>


<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css"/>
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
<!--<link rel="stylesheet" type="text/css" href="/static/admin/css/global.css"/>-->

<link rel="stylesheet" type="text/css" href="/static/media/css/quadrecomandament.css" />

{% endblock %}



{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}

    
<form action="{{tiket_id}}" method="post">{% csrf_token %}
    <table> <TR>
    {% if es_informatic %}
    <tD>
        <table>
            {{ form.as_table }}
        </table>
    </TD>
    {% else %}
    
    <tD>
 
    
    </td>
    {% endif %}
    <td> 
        <table>
            {{ subform.as_table }}
        </table>
    </td>      
    
    </TR>
    
    {% if not missatge %}
    <TR>
        <TD><input type="submit" value="Aplicar" /></TD>
    </TR>
    {% endif %}
    </TABLE>
</form>

<form action="../" method="post">{% csrf_token %}
    <div id="content" class="flex">
        {% if missatge %}
            <ul class="messagelist"><li>{{missatge}}</li></ul>
        {% endif %}
        
    </div>
</form>
<a href="{{url_ret}}">Enrrere</a>

 
    

{% endblock %}