{% extends "base/base_site.html" %}
{% load i18n %}
{% block extrastyle %}{% load adminmedia %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/login.css" />{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}Valideu-vos per entrar en el sistema.{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>

{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
    <label for="id_username" class="required">DNI <small>(sense lletra)</small>:</label> {{ form.username }}
  </div>
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
    <label for="id_password" class="required">Password:</label> {{ form.password }}
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <div class="form-row">
    <label for="id_password" class="required">Eines:</label><input type="radio" name="intranet" value='False' checked="checked" />
    </div>	      
   <div class="form-row">
    <label for="id_password" class="required">Intranet:</label>	<input type="radio" name="intranet" value='True' />
  </div>	      
    
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Entrar" />
  
</form>



{% if form.errors %}  
  </div>
    	<div class="submit-row">
  		<a href="/registration/password_reset/">{% trans 'Ha oblidat la paraula clau?' %}</a>     
  </div>
{% endif %}
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}