<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="es"> 
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Planilles IDI :: Principal{% endblock title %}</title>
        <meta name="viewport" content="width=device-width">        
        <link href="{{ STATIC_URL }}media/planilles/css/bootstrap.css" rel="stylesheet" type="text/css" >
        <link href="{{ STATIC_URL }}media/planilles/css/datepicker.css" rel="stylesheet" type="text/css" >
        <link href="{{ STATIC_URL }}media/planilles/css/main.css" rel="stylesheet" type="text/css" >
        <style>
            body {
                padding-bottom: 40px;
            }
        </style>
        <script src="{{ STATIC_URL }}media/planilles/js/modernizr-2.6.1-respond-1.1.0.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
            {% block header %}{% endblock header %}
        </div>
        <div id="notificacio-container" class="container">
            {% block notificacions %}{% endblock notificacions %}
        </div>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        <div class="footer">
            {% block footer %}{% endblock footer %}
        </div>
        <script src="{{ STATIC_URL }}media/planilles/js/jquery-1.8.2.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}media/planilles/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}media/planilles/js/plugins.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}media/planilles/js/main.js" type="text/javascript"></script>
        {% block localjs %}
        {% endblock localjs %}
    </body>
</html>