{% extends "base/base.html" %}
{% load i18n %}
{% load sorting_tags %}
{% block title %}{{ title }} | Àrea del treballador{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}




{% block bodyclass %}change-list{% endblock %}

{% block branding %}
<h1 id="site-name">Àrea del treballador</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{{ root_path }}/">Inici</a>
		{% for part in request.path|split:"/" %}
		{% if part %}
		&rsaquo; <a href="{% for i in forloop.revcounter|minus:"1"|get_range %}../{% endfor %}">{{part|capfirst}}</a>
		{% endif %}
		{% endfor %}
	</div>
{% endblock %}
