{% extends "rrhh/base_app.html" %}

{% load i18n %}

{% load sorting_tags %}
{% block body %}



<h2>Extració en Excel de la activitat complementaria</h2>

<h3>{{data_tall}}</h3>
 
<br/><br/>

<form enctype="multipart/form-data" method="POST" action="">{% csrf_token %}
{{ form.as_p }} 
<p class="submit"><input name="ok" type="submit" value="Acceptar"></p>
</form>


{% for metge in metges %}
<div style="background-color: #e5e5e5;">
<h3>{{metge.0}} </h3>

<table>
{% for tipus_exploracio in metge.1 %}
<tr><td><h2>{{tipus_exploracio.0}}</h2></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>


	{% for prova in tipus_exploracio.2 %}
	<tr>
	{% for item in prova %}
	<td align="left">{{item|safe}}</td>
	{% endfor %}
	</tr>
	{% endfor %}

<tr><td><b>TOTAL: </b></td><td>{{tipus_exploracio.1}}</td><td></td><td></td><td></td><td></td><td></td></tr>
{% endfor %}


</table>
<br/>
</div>

<br/>

{% endfor %}


        {% if missatge %}
            <ul class="messagelist"><li>{{missatge}}</li></ul>
        {% endif %}


{% endblock %}