{% extends "base/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block title %}{{ title }} | Gestió RRHH{% endblock %}
{% block branding %}
<h1 id="site-name">Gestió RRHH</h1>
{% endblock %}

{% block extrahead %}{{block.super}}
<script src="/static/media/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/media/js/highcharts.js" type="text/javascript"></script>




<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>




<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="/static/media/css/quadrecomandament.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}



<div id="content-main">	

<ul id="menu_indicadors">
<li id="primer_indicador">
{% for indicador in indicadors %}
	<!--  TODO: posar class="current" -->
	<a href="/rrhh/{{indicador|slugify}}"
	{% for part in request.path|split:"/" %}
	{% ifequal part indicador|slugify %}
	class="current"
	{% endifequal %}
	{% endfor %}
	>{{indicador}}</a></li><li>	
{% endfor %}
	</li>
</ul>

 
<div id="intranet_body">
{% block body %}{% endblock %}
</div>

</div>
{% endblock %}