{% extends "rrhh/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}

{% block body %}

<h1>DPOs</h1>
<form enctype="multipart/form-data" method="POST" action="">
<table class="form-table">
<tbody>
<tr><th>Any</th><td>
<select name="any">
<option>2010</option>
<option selected="">2011</option>
<option>2012</option>
</select>
</td></tr>

<tr><th>RTF</th><td><input type="file" name="rtf"></td></tr>
<tr><th>PDF</th><td><input type="file" name="pdf"></td></tr>
</tbody>
</table>
<p class="submit"><input name="ok" type="submit" value="Acceptar"></p>
</form>

{% endblock %}