{% extends "base/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}

{% block bodyclass %}change-list{% endblock %}

 	
{% block content %}

<h1>Index</h1>

<div id="content-main">	

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
	        <caption><a href="" class="section">Index</a></caption>
	<thead>
		<tr>
    		<th scope="col" class="colSM">appliacio</th>
       	</tr>
	</thead>
	<tbody>
	     <tr class="row1">
	     	<td>
	    	 	<menu>
    				<li>       		
		       	  	<a href='/admin/auth/user/'>Gestió de personal</a>
       				</li>
       				<li>       		
		       	  	<a href='/admin/intranet/idea/'>Gestió del portal d'idees</a>
       				</li>
       				<li>       		
		       	  	<a href='/rrhh/activitat-complementaria/'>Activitat complementària</a>
       				</li>
		    	</menu>
		    </td>
		      		
    	</tr>
    </tbody>       	
</table>
     	

</div>
</div>
</div>
{% endblock %}

