/*!
 * CSS Per Planilles idi
 *
 * Combina plugins + main.css
 * Aprofita el variables.less per coloraines 
 * 
 */

@import "variables.less";
@import "timepicker.less";

body {
    -webkit-print-color-adjust:exact
}

// Sobreescritura de variables. NO FUNCIONA!!!!
@navbarHeight: 60px!important;

// hr { margin: 0;}

.navbar {
    .brand {
        background: transparent url("../img/logo_idi.png") no-repeat left 5px;
        padding-left: 50px;
        padding-bottom: 5px;
        padding-top:13px;
    }
    margin-bottom: 20px;
}

.navbar .nav > li > a {
    // Vertically center the text given @navbarHeight
    padding: 16px 12px 10px 0px;
}

a.brand {
    height: 30px!important;
}

.controls {
    .valor-camp {
        padding: 5px 0 0 4px;
        font-weight: 700;
    }
}

.strong { font-weight: bold; }

// Fem el link de les taules clickables a tot el TD
table.table tbody tr td a { display:block; }

// variables de color per a displays de planilles
@hora-extra: lighten(@green, 70%);
@laboral: lighten(@green, 50%);
@laboral-mati: lighten(@green, 40%);
@laboral-partit: lighten(@green, 30%);
@laboral-tarda: lighten(@green, 10%);
@laboral-nit: lighten(@green, 0%);

@no-laboral: lighten(@grayLight, 20%);


.calendari {
    border-width: 0px;
    border-spacing: 2px;
    border-style: solid;
    border-collapse: collapse;
    background-color: @white;

    th, td {
        padding: 1px;
        text-align: center
    }

    th {
        border-width: 0px;
        padding: 1px;
        border-style: solid;
        width: 120px;
        &.nom-treballador { 
            font-size: 12px;
            letter-spacing:-0.1em;
            overflow: hidden;
            text-align: left;
            width: 120px;
        }
    }


    td {
        border-color: lighten(@grayLight, 25%);
        border-width: 1px;
        border-style: dotted;
        width: 20px;

        &.header-dia { 
            border-width: 0px;
            font-weight: bold;
        }

        &.dia_W { 
            background-color: @grayLight; 
            a {
                color:@grayLighter;
                font-weight: normal;
            }

        }

        &.dia_F { background-color: lighten(@red, 20%) }
        &.dia_FL { background-color: lighten(@red, 10%) }
        &.dia_0 { border-width: 0px; }

        &.dia_FOO { background-color: #abcabc } // Cool for testing ;)

        &.laboral { 
            background-color: @laboral; 
            a { color : #333; }
        }

        // &.laboral-mati { background-color: @laboral-mati }
        // &.laboral-tarda { background-color: @laboral-tarda }
        // &.laboral-partit { background-color: @laboral-partit }
        // &.laboral-nit { background-color: @laboral-nit }

        &.torn-M { background-color: @laboral-mati }
        &.torn-P { background-color: @laboral-partit }
        &.torn-T { background-color: @laboral-tarda }
        &.torn-N { background-color: @laboral-nit }

        &.torn-M-weekend { background-color: mix(@laboral-mati, @grayLight) }
        &.torn-P-weekend { background-color: mix(@laboral-partit, @grayLight) }
        &.torn-T-weekend { background-color: mix(@laboral-tarda, @grayLight) }
        &.torn-N-weekend { background-color: mix(@laboral-nit, @grayLight) }



        // &.weekend { 
        //     border-color: @grayLight;
        //     border-style: solid;
        // }
        
        // &.laboral-mati-weekend { background-color: mix(@laboral-mati, @grayLight) }
        // &.laboral-tarda-weekend { background-color: mix(@laboral-tarda, @grayLight) }
        // &.laboral-partit-weekend { background-color: mix(@laboral-partit, @grayLight) }
        // &.laboral-nit-weekend { background-color: mix(@laboral-nit, @grayLight) }

        &.no-laboral { background-color: @no-laboral }
        &.extra { background-color: @laboral }

        &.dia-doble { 
            background-color: #ffff40;
            color: #111;
        }

        &.lower { text-transform: lowercase; }

        a {
            color: inherit;
            display: block;
            font-size: @fontSizeSmall;
            font-weight: bold;
            text-decoration: none;
            
            &.hora-extra {
                background: transparent url('../img/custom_bgs.png') no-repeat bottom left;
            }

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

.hora-extra-tooltip {
    color: @yellow;
    font-size: @baseFontSize * 0.7;
}


.form_sequencia_color {
    border: 1px solid #777;
    float: left;
    margin-right: 10px;
    height: 30px;
    padding-left: 10px;
    text-align: center;
    width: 22px;

    &.torn-M { background-color: @laboral-mati }
    &.torn-P { background-color: @laboral-partit }
    &.torn-T { background-color: @laboral-tarda }
    &.torn-N { background-color: @laboral-nit }

    &.list {
        height: 20px;
        margin: 0;
        padding: 0;
        width: 20px;
    }
}

.tooltip-inner {
    text-align: left;
}

// .tipus-desp { visibility:hidden; }

.menys-hores-treballades { color: @green; }
.mes-hores-treballades { color: @red; }

// Per a input's molt petits
.span05 { width: 28px; }

.app-version { color: @grayLight; }

.div-debug { background-color: @red; }

.dies-setmana ul { 
    list-style-type: none; 
    margin:0;
}

.dies-setmana li { 
    float:left;
    margin-right: 10px;
}

.columna-tooltip {
    cursor: pointer;
    text-decoration: none;
}

/// CSS compilat del kolorpicker
div.kolorPicker-wrapper {position:relative !important;}
// input.kolorPicker {height:15px; padding:2px 0 2px 5px; border:1px solid #666666 ; width:86px; font-size:12px; line-height:15px; background: #fff url("../img/color-wheel.jpg") no-repeat 70px 0; -moz-border-radius: 4px; -webkit-border-radius: 4px; font-family: Verdana,Arial,sans-serif; z-index:100; position:relative !important; float:left; margin:0 0 20px 0;}
input.kolorPicker {background: #fff url("../img/color-wheel.jpg") no-repeat 70px 4px; cursor:pointer;  position:relative !important;}
div.kolorpicker-palette { float: left; margin: 0 0 10px 78px;width:180px;position:relative;display:inline;}
div.kolorpicker-palette ul { margin:0; padding-left:20px;}
div.kolorpicker-palette ul li { list-style: none; float: left; width: 42px; height: 12px; background: #D0DFE5; border: 1px solid #666666; font-size: 10px; line-height:12px; text-align: center; margin: 0 3px 0 0; padding: 3px 3px 4px 3px; -moz-border-radius: 4px; -webkit-border-radius: 4px; color: #353448; cursor: pointer; }
#kolorPicker .kolorpicker-palette-select { background: #353448; color: #D0DFE5; }
div.x-close-box { float: right !important; width: 15px; height: 12px; font-size: 10px; line-height:12px; background: #353448; border: 1px solid #666666; text-align: center; padding: 3px 3px 4px 3px; margin: 0 2px 0 0; display: block;-moz-border-radius: 4px; -webkit-border-radius: 4px; color: #ffffff; cursor: pointer; }
#kolorPicker { border: 1px solid #353448; margin: 0; background: #f5f9fb; padding: 7px 5px 5px 5px; color: #fff; width: 290px; height: auto; z-index: 99; position: absolute; top: -8px; left: -8px; cursor:pointer; font: 13px/18px Verdana,Arial,sans-serif;}
div#kolorPicker table td.tile {line-height:20px;}



