{% extends "base/base_bootstrap.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}Intranet IDI :: Principal{% endblock %}

{% block header %}
    <div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar">One </span>
                <span class="icon-bar">Two </span>
                <span class="icon-bar">Three </span>
            </a>
            <a class="brand" href="/intranet"><strong>IDI</strong>ntranet</a>    
            <div class="nav-collapse collapse">
                <ul class="nav">
                <!--  el menu 2 és el d'usuari -->
                    {# DPO #}
                    <li class="">
                        <a href="/intranet/dpos/">{% trans "DPO" %}</a>
                    </li>
                    {# Nòmines #}
                    <li class="">
                        <a href="/intranet/nomines/">{% trans "Nòmines" %}</a>
                    </li>
                    {# IRPF #}
                    <li class="">
                        <a href="/intranet/irpf/">{% trans "IRPF" %}</a>
                    </li>
                    {# Portal d'idees #}
                    <li class="">
                        <a href="/intranet/portal-didees/">{% trans "Portal d'Idees" %}</a>
                    </li>
                    {# Dcuments #}
                    <li class="">
                        <a href="/intranet/documents/">{% trans "Documents" %}</a>
                    </li>

                    
                    <!--{# PLANILLES - Calendaris #}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% trans "Calendaris" %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'calendari_personal_intranet' %}">{% trans "Calendari de Festius" %}</a>
                            </li>
                            <li class="disabled">
                                <a href="">{% trans "Calendari de Guardies" %}</a>
                            </li>
                        </ul>
                    </li>-->
                    
                </ul>
                <!-- Menu d'usuari -->
                <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.user.get_full_name }}
                            {# <span class="badge badge-important"></span> #}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="disabled"><a href="usuari/notificacions"><i class="icon-envelope"></i> Notificacions</a></li>
                            <li class="divider"></li>
                            <li><a href="/"><i class="icon-home"></i> Portal IDI</a></li>
                            <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div>
{# {{request.user.groups.all}}#}</div>
{% endblock header %}

{% block notificacions %}
{% endblock notificacions %}

{% block content %}    
{% endblock content %}
