{% extends "intranet/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block content %}

<ul class="breadcrumb">
  <li><a href="/intranet/documents/">Documents</a> <span class="divider">/</span></li>
  {% if result|last|first|split:"/"|length_is:"2" %}
  <li class="active">{{result|last|first|split:"/"|first}}</li>
  {% else %}
  
  {% for var in result|last|first|split:"/"|slice:":-1" %}

  {% if forloop.last %}
  <li class="active">{{var}}</li>
  {% else %}
  <li><a href="#">{{var}}</a> <span class="divider">/</span></li>

  {% endif %}
  {% endfor %}
  {% endif %}
  
</ul>



<ul class="unstyled">
{% for file, is_directory, time in result %}
<li >
<a style="height: 30px; display: block;" href="/intranet/documents/{{file}}" >
{% if is_directory %}
	<img style="float:left;" src="/static/media/img/folder_small.jpg">
{% else %}
	<img style="float:left;" src="/static/media/img/file_small.png">
{% endif %}	
	<span style="float: left; margin-left: 8px; margin-top: 10px;">
		{{file|split:"/"|last}}
	</span>
</a>

</li>
{% endfor %}
</ul>



{% endblock %}