{% extends "intranet/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block content %}

<ul class="breadcrumb">
{% for any in anys %}
<li><a href="/intranet/dpos/{{any}}/">{{any}}</a> <span class="divider">|</span></li>
{% endfor %}	  
</ul>


{% if dpos %}
<h3>{{estat}}</h3>
<small>
<table class="table table-bordered table-condensed">
<tr>
<td><b>Tipus/Grup</b></td>
<td><b>Descripció</b></td>
<td><b>Indicador</b></td>
<td><b>Fita</b></td>
<td><b>Bandes/Compliment</b></td>
<td><b>Pes</b></td>
<td><b>Valoració</b></td>
</tr>

{% for row in dpos %}
<tr>
{% for column in row %}
<td>{{column|linebreaks}}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
</small>
{% endif %}

{% if pagada %}
<h3>Liquidació</h3>
<table>
<tr>
<td>
<a href="/intranet/dpos/{{curr_any}}/justificant/">Justificant de pagament</a>
</td>
</tr>
</table>
{% endif %}
{% endblock %}