{% extends "intranet/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block content %}


{% if anys %}
<ul class="breadcrumb">
{% for any in anys %}
<li><a href="/intranet/irpf/{{any}}/">{{any}}</a> <span class="divider">|</span></li>
{% endfor %}	  
</ul>
{% endif %}


{% endblock %}