{% extends "intranet/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block content %}
{% if anys %}
<ul class="breadcrumb">
{% for any in anys %}
<li><a href="/intranet/nomines/{{any}}/">{{any}}</a> <span class="divider">|</span></li>
{% endfor %}	  
</ul>

{% if mesos %}
<h3>Nòmines de l'any {{curr_any}}</h3>
<ul id="llistat_nomines">
{% for mes in mesos %}
<li><a href="/intranet/nomines/{{curr_any}}/{{mes}}">{{mes}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if extres %}
<h3>Pagues extraordinàries de l'any {{curr_any}}</h3>
<ul id="llistat_nomines">
{% for extra in extres %}
<li><a href="/intranet/nomines-extra/{{curr_any}}/{{extra}}/">{{extra}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endif %}

{% endblock %}