{% extends "intranet/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block content %}

<h1>El teu Perfil</h1>
<form action method="POST">
<table>
{% for item in perfil_read %}
<tr>
<th>{{item.0}}</h>
<td><input type="{{item.1}}" name="{{item.2}}" value="{{item.3}}" disabled="disabled"></td>
</tr>
{% endfor %}

{% for item in perfil_write %}
<tr>
<th>{{item.0}}</h>
<td><input type="{{item.1}}" name="{{item.2}}" value="{{item.3}}"></td>
</tr>
{% endfor %}
</table>
</form>
{% endblock %}