{% extends "intranet/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block content %}
<small>
<h3>Portal d'idees per a la igualtat</h3>
<br/>
<p style="margin-left: 20px;">
Benvolguts,<br/>

Benvolgudes,<br/>
<br/>
Des de l''Institut de Diagnòstic per la Imatge us donem la benvinguda al "Portal d'Idees". Punt de trobada
 des d''on es vol dedicar un espai per conèixer i compartir idees i experiències en el camp de la igualtat, un espai on es poden difondre i generar propostes innovadores adreçades a promoure la igualtat en l'empresa, que puguin servir per a millorar els mètodes de treball, les condicions laborals, la conciliació de la vida personal, laboral i familiar.<br/>

<br/>
Dúnia Gómez<br/>

Agent Igualtat<br/>
</p>
<br/>
<h3>Llistat d'idees rebudes</h3>
<p>
<table class="table table-bordered table-condensed">
<tr>
<td width=70><b>Data/Hora</b></td>
<td width=120><b>Remitent</b></td>
<td width=200><b>Concepte</b></td>
<td><b>Idea</b></td>
<td><b>Resposta</b></td>
</tr>

{% for idea in idees %}
<tr>
<td>{{idea.data}}</td>
<td>{{idea.user}}</td>
<td>{{idea.concepte}}</td>
<td>{{idea.idea|linebreaks}}</td>
<td>{{idea.resposta|linebreaks}}</td>
</tr>
{% endfor %}
</table>
<br/>
<h3>Enviar idea</h3>

<form enctype="multipart/form-data" method=POST action="">{% csrf_token %}
<table >
<tr>
<th>Categoria</th><td>
<select name="concepte">
<option>Asetjament moral/sexual</option>
<option>Excedèndies</option>
<option>Igualtat</option>
<option>Jornada de treball</option>
<option>Maternitat/Paternitat/Lactància</option>
<option>Permisos retribuïts</option>
<option>Vacances</option>
</select>
</td>
</tr>
<tr>
<th>Idea</th>
<td>
<textarea name="idea" rows="10" cols="40">
</textarea>
</td>
</tr>
</table>
<p class="submit"><input name="ok" type="submit" value="Enviar" /></p>
</form>

</small>


{% endblock %}