-extends "planilles/base.html"
-load url from future
-load sorting_tags
-load i18n

-block title 
  -trans "Recursos Humans"
-autosort treballadors
-block content
  %h4 
    %small
      -trans "Escull a algu"
  %table.table.table-stripped.table-hover.table-condensed.hover
    %thead
      %tr
        %th
          -anchor authuserprofile__unitat_idi "Unitat"
        %th
          -anchor first_name "Nom"
        %th
          -anchor last_name "Cognoms"
    %tbody
      -for treballador in treballadors
        %tr
          %td
            -ifchanged treballador.get_profile.unitat_idi 
              =treballador.get_profile.unitat_idi
          %td
            %a{'href': "{% url 'treballador' treballador.id treballador.username %}"}
              =treballador.get_profile.get_nom_normalitzat
          %td
            %a{'href': "{% url 'treballador' treballador.id treballador.username %}"}
              =treballador.get_profile.get_cognom_normalitzat