{% extends "base/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}

{% block bodyclass %}change-list{% endblock %}

 	
{% block content %}

<h1>Índex d'aplicacions</h1>

<div id="content-main">	

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
	        <caption><a href="" class="section">Índex</a></caption>
	<tbody>
	     <tr class="row1">
	     	<td>
	    	 	<menu>
    			{% for item in permisos_usuari %}
    				<li>       		
		       		{% if item != None %}<a href='/{{item.codename }}/'> {{item.name }} </a> {% else%} - {% endif%}
       				</li>
		    	{% endfor %}
		    	</menu>
		    </td>
		      		
    	</tr>
    </tbody>       	
</table>
     	

</div>
</div>
</div>
{% endblock %}

