{% extends "base/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
 	
{% block breadcrumbs %}
	<div class="breadcrumbs"><a href="/meta/about">	{% trans "Sobre" %}</a> &rsaquo;<a href="/">	Inici</a> &rsaquo;</div>

{% endblock %}
 	
 	
{% block content %}

<h1>No teniu permisos per accedir a aquest aplicatiu</h1>

<div id="content-main">	

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
	        <caption>Vostè nomes te permisos per accedir als següents:</caption>
	<thead>
		<tr>
    		<th scope="col" class="colSM">aplicacions:</th>
       	</tr>
	</thead>
	<tbody>
		<tr class="row1">
			<td>
				<menu>
			      {% for item in permisos_usuari %}
    				<li>       		
		       		{% if item != None %}<a href='/{{item.codename }}/'> {{item.name }} </a> {% else%} - {% endif%}
       				</li>
			      {% endfor %}
				 </menu>
			</td>
    	</tr>
    </tbody>       	
</table>
       	

</div>
</div>
</div>
{% endblock %}

