{% extends "base/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
 	
{% block breadcrumbs %}
	<div class="breadcrumbs"><a href="/meta/about">	{% trans "Sobre" %}</a> &rsaquo;<a href="/">	Inici</a> &rsaquo;</div>

{% endblock %}
 	
 	
{% block content %}

{% if request.session.intranet  %}

	<h1>No podeu accedir a les apliacions. Teniu que tancar la sesssio i tornar a validarvos sel·lecionant intranet.</h1>

{% else  %}

	<h1>No podeu accedir a la intranet. Teniu que tancar la sesssió i tornar a validar-vos.</h1>

{% endif  %}



<div id="content-main">	

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
	<caption>
		 <a href="/admin/logout/">Tancar la sessio</a>
	</caption>
</table>
       	

</div>
</div>
</div>
{% endblock %}