{% extends "base/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}

<h1>Sobre</h1>

<div id="content-main">	

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
	        <caption>Aplicació desenvolupada pel departament informàtica del 'I.D.I'</caption>
	<thead>
		<tr>
    		<th scope="col" class="colSM">contacte:</th>
       	</tr>
	</thead>
	<tbody>
	     <tr class="row1">
	     	<td>
	     		<menu>
					<li>       		
       					Departament informàtica IDI  telefon: 93 259 41 87
       				</li>
 	 				<li> 
       					Adreça electrònica amateu @idi.catsalut.cat i asellares @idi.catsalut.cat
		    		</li>
			    </menu>
		    </td>
    	</tr>
    </tbody>       	
</table>

</div>
</div>
</div>
{% endblock %}

