{% extends "indicadors_iso/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}


{% block content %}

<h1>Resultats</h1>

<div id="content-main">	

<div class="module" id="changelist">

{% if resultat %}
<div class="results">
<table cellspacing="0" id="result_list" summary="pacients trobats.">
	<caption><a href="" class="section">numero de proves</a></caption>
		<thead>
			<tr>
			{% for camp in nomCamps %}
				<th scope="col">{{camp}}</th>
			{% endfor %}			
	       	</tr>
		</thead>
		<tbody>
		{% for row in resultat %}
		 	<tr class="{% cycle 'row1' 'row2' %}">
	    	{% for item in row %}
		      		<td> {{item }}</td>
	    	{% endfor %}
	    	</tr>
    	{% endfor %}
</tbody>       	
</table>
 {{ a }}
 

{% else %}
    <p>No hi ha resultats per aquesta cerca.</p>
{% endif %}

</div>
</div>
{% endblock %}


