{% extends "indicadors_iso/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />
{% endblock %}

{% block extrahead %}

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

{% endblock %}
{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}


{% block submenupath %}
		&rsaquo; <a href="{{ url }}">Activitat</a>
{% endblock %}

{% block content %}

<h1>Proves del any en curs fins el mes especificat </h1>

<div id="content-main">	

<div class="module" id="changelist">

	<form action="/indicadors_iso/activitat_resultat/" method="get">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
	        <caption><a href="{{ self.url }}" class="section">{% blocktrans %} Seleccioneu el mes i el tipus de linea de negoci ( modalitat ) {% endblocktrans %}</a></caption>
            <tr>
     	       	<th scope="row"><label for="provalavel">Data Tall:</label><br /></th>
      			<th scope="row"></th>
      		</tr>
            <tr>
            	<td>
     <!--        		<div class="form-row  {{ datatall.label_tag }}"> -->
         				<p class="datetime">
        				{{datatall}}
        				</p>
 <!--
           		</div> 
            		<select name="mes"  value="">
           			{% for item in messos %}
            			<option value='{{item.id}}'>{{item.mes}}</option>
            	    {% endfor %}
            	    </select>
 -->
            	</td>
       	        <td>&nbsp;</td>
       	    </tr>
            <tr>
     	       	<th scope="row"><label for="provalavel">Linia de negoci:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            	<td>
            	    <select name="tipusexploracio"  value="">
            	        <option value='tots'>Totes</option>
           			{% for item in tipusexploracio %}
            			<option value='{{item.tipoexploracion}}'>{{item.tipoexploracion}}</option>
            	    {% endfor %}
            	    </select>
            	</td>
       	        <td>&nbsp;</td>
       	    </tr>
            <tr>
     	       	<th scope="row"><label for="provalavel">Centre:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            	<td>
            	    <select name="centres"  value="">
            	        <option value='tots'>Tots</option>
           			{% for item in centres %}
            			<option value='{{item.id}}'>{{item.descripcio}}</option>
            	    {% endfor %}
            	    </select>
            	</td>
       	        <td>&nbsp;</td>
            </tr>       	    
            <tr>
     	       	<th scope="row"><label for="provalavel">Maquina/Agenda:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            	<td>
            	    <select name="agenda"  value="">
            	        <option value='tots'>Tots</option>
           			{% for item in agenda %}
            			<option value='{{item.id}}'>{{item.obs}}</option>
            	    {% endfor %}
            	    </select>
            	</td>
       	        <td>&nbsp;</td>
       	    </tr>       	    
       	    <tr>
       	    	<td class="row1" >&nbsp;</td>
       	    	<td class="row1" >
					<div><!-- DIV needed for valid HTML -->
						<label for="searchbar"><img src="/static/admin/img/admin/icon_searchbox.png" alt="Search" /></label>
						<input type="submit" value="Cercar" />
					</div>
       	    	</td>
       	    </tr>
        </table>
        
	</div>
</form>


</div>
{% endblock %}

