{% extends "base/base_site.html" %}
{% load i18n %}

{% block title %}{{ title }} | Indicadors ISO per a direcció{% endblock %}
{% block branding %}
<h1 id="site-name">Indicadors ISO</h1>
{% endblock %}

{% block menupath %}
		&rsaquo; <a href="{{ root_path }}/indicadors_iso">Indicadors ISO</a>
		{% block submenupath %}{% endblock %}
{% endblock %}

{% block nav-global %}{% endblock %}