{% extends "indicadors/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}

<h1>Index</h1>

<div id="content-main">	

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
	        <caption><a href="" class="section">Index</a></caption>
	<thead>
		<tr>
    		<th scope="col" class="colSM">appliacio</th>
       	</tr>
	</thead>
	<tbody>
	     <tr class="row1">
	     <td>
	     <menu>
	      	 <li> 
       			<a href="/indicadors/indicadors_iso/temps_informe_ingressats/"  >Activitat per centre modalitat i maquina.</a>
		    </li>
 	 		<li> 
       			<a href="/indicadors/indicadors_iso/ ...  per fer"  >Per fer. </a>
		    </li>
		    
		    
		    
		    </menu>
		    
		    </td>
		    
		      		
    	</tr>
    	
    </tbody>       	
</table>
       	

</div>
</div>
{% endblock %}

