{% extends "indicadors/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="/static/media/css/quadrecomandament.css" />
{% endblock %}



{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}



<div id="content-main">	



<ul id="menu_indicadors">
<h1>{{objectiu}}</h1>
<li id="primer_indicador">
{% for indicador in indicadors %}
	{% ifequal request.path|split:"/"|last indicador|slugify %}
	<a href="/indicadors/{{objectiu_url}}/{{indicador|slugify}}/" class="current" 
	{% else %}
	{% if request.path|split:"/"|last in indicadors|slugify %}
	<a href="/indicadors/{{objectiu_url}}/{{indicador|slugify}}/" 
	{% else %}
	<a href="/indicadors/{{objectiu_url}}/{{indicador|slugify}}/"
	{% endif %}
	{% endifequal %}
	>{{indicador}}</a></li><li>	
{% endfor %}
	</li>
</ul>
<div id="left_menu">
{% include "indicadors/filtres.html" %}
</div>


<div id="body">
<!-- Mostra un titol amb els filtres actius -->
 
<h3 style="text-align: center;">
{% for filtre in request.session.filters %}
		{% for id, text in filtre.valors %}
			{% for enabled_filter_name, enabled_filter_value in request.session.enabled_filters.items %}
				{% if enabled_filter_name == filtre.nom|lower %}
				{% if enabled_filter_value == id %}
				- {{text}} -
				{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
{% endfor %}		
</h3>

{% for grafic in grafics %}
	{% with "indicadors/"|add:grafic.tipus|add:".html" as grafic_template %}
	{% include grafic_template %}
	{% endwith %}
{% endfor %}

</div>

</div>
{% endblock %}