{% extends "base/base_site.html" %}
{% load i18n %}


{% block title %}{{ title }} | Quadre de comandament{% endblock %}
{% block branding %}
<h1 id="site-name">Quadre de comandament</h1>
{% endblock %}

{% block extrahead %}{{block.super}}
<script src="/static/media/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/media/js/highcharts.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/static/django_tables2/themes/paleblue/css/screen.css" />

{% endblock %}
