{% extends "quadre_comandament/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs"><a href="/meta/about">	{% trans "Sobre" %}</a> &rsaquo;<a href="/quadre_comandament">	Inici</a> &rsaquo;</div>
{% endblock %}

{% block content %}

<h1>Seleccioneu el mes i el tipus de linea de negoci ( modalitat )</h1>

<div id="content-main">	

<div class="module" id="changelist">

	<form action="/quadre_comandament/cercaquadrecomandamentresultat/" method="get">
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
	        <caption><a href="{{ self.url }}" class="section">{% blocktrans %}sellecio{% endblocktrans %}</a></caption>
            <tr>
     	       	<th scope="row"><label for="provalavel">Mes:</label><br /></th>
      			<th scope="row"></th>
      		</tr>
            <tr>
            	<td>
            		<select name="mes"  value="">
           			{% for item in messos %}
            			<option value='{{item.id}}'>{{item.mes}}</option>
            	    {% endfor %}
            	    </select>
            	</td>
       	        <td>&nbsp;</td>
       	    </tr>
            <tr>
     	       	<th scope="row"><label for="provalavel">Linia de negoci:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            
            	<td>
            	    <select name="mes"  value="">
           			{% for item in tipusexploracio %}
            			<option value='{{item.id}}'>{{item.tipoexploracion}}</option>
            	    {% endfor %}
            	    </select>
            	</td>
       	        <td>&nbsp;</td>
       	    
       	    </tr>
       	    <tr>
       	    	<td class="row1" >&nbsp;</td>
       	    	<td class="row1" >
					<div><!-- DIV needed for valid HTML -->
						<label for="searchbar"><img src="/static/admin/img/admin/icon_searchbox.png" alt="Search" /></label>
						<input type="submit" value="Cercar" />
					</div>
       	    	</td>
       	    </tr>
      	    
        </table>
	</div>
</form>


</div>
{% endblock %}

