{% if request.session.filters and request.session.enabled_filters %}
<div id="left_menu">
<h2>Filtres</h2>
<form action="/quadre_comandament/set-filters" method="post">{% csrf_token %}

{% for filtre in request.session.filters %}
	{% if filtre.nom|lower in request.session.enabled_filters %}
		{{filtre.nom}}:</br>
		<select name="{{filtre.nom|lower}}" style="width: 100px">
		  <option value="0">Tots</option>
		{% for id, text in filtre.valors %}
			{% for enabled_filter_name, enabled_filter_value in request.session.enabled_filters.items %}
				{% if enabled_filter_name == filtre.nom|lower %}
					{% if id == enabled_filter_value %}
						<option selected="selected" value="{{id}}">{{text}}</option>
					{% else %}
						<option value="{{id}}">{{text}}</option>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		</select>	
		</br>		
	{% endif %}
{% endfor %}
	</br>	
<input type="submit" value="Aplicar">
</form>
</br></br></br>

{% if definicio %}
<div id="definicio">
	<b>Definició:</b></br></br>
	{{definicio|safe}}
	
</div>
{% endif %}

</div>
{% endif %}

