{% if grafic.series|length > 0 %}
<script>                         
var chart;
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'chart_container_{{forloop.counter}}',
         plotBackgroundColor: null,
         plotBorderWidth: null,
		 plotShadow: false,
		 marginLeft: 200,
		 marginRight: 200
      },
      title: {
         text: '{{grafic.titol|safe}}'
      },
      subtitle: {
          text: "{{grafic.descripcio|safe}}"
       },
      tooltip: {
         formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ parseInt(this.percentage) +' %';
         }
      },
      plotOptions: {
         pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
               enabled: true,
               color: '#000000',
               connectorColor: '#000000',
               formatter: function() {
                  return '<b>'+ this.point.name +'</b>: '+ parseInt(this.percentage) +' %';
               }
            }
         }
      },
       series: [{
         type: 'pie',
         name: '',
         data: [
         {% for serie in grafic.series %}
         	["{{serie.0|safe}}", {{serie.1|safe}}],
         {% endfor %}
         ]
      }]
   });

});    

</script> 

<div id='chart_container_{{forloop.counter}}' style="width: {{grafic.tamany}}%; float: left; margin: 20px 20px 20px 20px; height: 400px;"></div>
{% else %}
<div style="width: {{grafic.tamany}}%; float: left; margin: 20px 20px 20px 20px; height: 40px; text-align: center;">No hi han dades pel gràfic: <b>{{grafic.titol}}</b> ({{grafic.descripcio}})</div>
{% endif %}