{% extends "quadre_comandament/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="/static/media/css/quadrecomandament.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}


<h1>Objectius</h1>

<div id="content-main"> 

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
            <caption><a href="" class="section">Index</a></caption>
    <tbody>
         <tr class="row1">
            <td>
                <menu>
                    <li>   
                        <a href="/quadre_comandament/activitat/">Gestió de l'activitat facturada.</a>
                    </li>
                </menu>
                 <menu>
                <p><i> -Les darreres dades actulitzades son de la facturació del mes de  {{ darrera_actulitzacio_facturacio }} </i></p>
                </menu>                 
            </td>
                    
        </tr>
        
             
         <tr class="row2">
            <td>
                <menu>
                    <li> 
                        <a href="/quadre_comandament/radiolegs/">Gestió de l'activitat realitzada pels facultatius.</a>
                    </li><li> 
                        <a href="/quadre_comandament/tecnics_infermers/">Gestió de l'activitat realitzada pels tècnics rad. i dip. infermeria.</a>
                    </li><li> 
                        <a href="/quadre_comandament/iso/">Indicadors de qualitat ISO.</a>
                    </li><li> 
                        <a href="/quadre_comandament/vista-segones-opinions/">Gestió activitat realitzada en altres centres.</a>
                    </li>
                           
                </menu>
                <menu>
                    
                <p><i> -Les darreres dades actulitzades son del dia {{ darrera_actulitzacio_mdos }}</i></p>
               
                </menu>
            </td>
            
        <tr class="row1">
            <td>
            <menu>
             {% for key,value in index_dinamic.items %}
                    
                <li>   
                     <a href="/quadre_comandament/{{key|slugify}}/">{{value}}</a>
                        
                 </li>
            {% endfor %}
            </menu>
             <menu>
                <p><i> -Les dades son a temps real.</i></p>
             </menu>
         </td>            
        </tr>
        
    </tbody>        
</table>
</div>
</div>
</div>




{% endblock %}

