{% if grafic.series|length > 0 %}
<script>                         
var chart;
$(document).ready(function() {
	   chart = new Highcharts.Chart({
	      chart: {
	         renderTo: 'chart_container_{{forloop.counter}}',
	         defaultSeriesType: 'line',
	      },
	      title: {
	          text: "{{grafic.titol|safe}}"
	       },
	      subtitle: {
	         text: "{{grafic.descripcio|safe}}"
	      },

	      xAxis: {
	         categories: [
	                      {% for categoria in grafic.categories %}
	                      	'{{categoria}}',
	                      	{% endfor %}
	         ]
	      },
	      yAxis: {
	         min: 0,
	         title: {
	            text: "{{grafic.titol_y|safe}}"
	         }
	      },
	      tooltip: {
	         formatter: function() {
	            return ''+
	               this.series.name +': '+ this.y;
	         }
	      },
	      plotOptions: {
	         column: {
	            pointPadding: 0.2,
	            borderWidth: 0
	         },
	         line: {
	            dataLabels: {
	               enabled: true
	            },	
	          },         
	      },
	           series: [
	        	   
	           {% for serie in grafic.series %}
	           {
	           	name: "{{serie.0|safe}}",
	           	data: [
	           	       {% for item in serie.1 %}
	           	       {{item}},
	           	       {% endfor %}
	           	       ]
	           },
	           {% endfor %}
	       ]
	   });
	   
	   
	});
	   

</script> 

<div id='chart_container_{{forloop.counter}}' style="width: {{grafic.tamany}}%; float: left; margin: 20px 20px 20px 20px;"></div>
{% else %}
<div style="width: {{grafic.tamany}}%; float: left; margin: 20px 20px 20px 20px; height: 40px; text-align: center;">No hi han dades pel gràfic: <b>{{grafic.titol}}</b> ({{grafic.descripcio}})</div>
{% endif %}
