{% if grafic.series|length > 0 %}
<div style="width: {{grafic.tamany}}%; float: left; margin: 20px 20px 20px 20px;">
<h1>{{grafic.titol|safe}}</h1>
<br/>
<table>
<tr>
<td></td>
{% for column in grafic.categories %}
<td align="center"><b>{{column|safe}}</b></td>
{% endfor %}
</tr>
{% for serie in grafic.series %}
<tr>
<td><b>{{serie.0|safe}}</b></td>
{% if serie.2 %}

	{% for value in serie.1 %}
	<td align="rigth" {{serie.2}}>{{value|safe}}</td>
	{% endfor %}
	
{% else %}

	{% for value in serie.1 %}
	<td align="rigth">{{value|safe}}</td>
	{% endfor %}
	
{% endif %}
</tr>
{% endfor %}
</table>
</div>
{% else %}
<div style="width: {{grafic.tamany}}%; float: left; margin: 20px 20px 20px 20px; height: 40px; text-align: center;">No hi han dades per la taula: <b>{{grafic.titol}}</b> ({{grafic.descripcio}})</div>
{% endif %}
