{% load django_tables2 %}

{% if grafic.table|length > 0 %}
<div style="width: {{grafic.tamany}}%; float: left; margin: 20px 20px 20px 20px;">
<h1>{{grafic.titol|safe}} </h1>
<br/>
{% render_table grafic.series %}

</div>
{% else %}
<div style="width: {{grafic.tamany}}%; float: left; margin: 20px 20px 20px 20px; height: 40px; text-align: center;">No hi han dades per la taula: <b>{{grafic.titol}}</b> ({{grafic.descripcio}})</div>
{% endif %}
