{% extends "guardies/base_app.html" %}
{% load i18n %}

{% block submenupath %}
		&rsaquo; <a href="{{ url }}">Afegir</a>
{% endblock %}

{% block content %}

<h1>Guardies - assignar</h1>

<div id="content-main">	

<div class="module" id="changelist">
	<form action="" method="post">{% csrf_token %}
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
      
            <tr>
     	       	<th scope="row"><label for="provalavel">Informatic:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            	<td>
            	    <select name="informatic"  value="">
           			{% for item in informatics %}
            			<option value='{{item.0}}'>{{item.1}} {{item.2}}</option>
            	    {% endfor %}
            	    </select>
            	</td>
       	        <td>&nbsp;</td>
       	    </tr>
            <tr>
     	       	<th scope="row"><label for="provalavel">Guardia:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            	<td>
            	    <select name="setmana"  value="">
           			{% for item in guardies %}
            			<option value='{{item.id}}'>{{item.desc}}</option>
            	    {% endfor %}
            	    </select>
            	</td>
       	        <td>&nbsp;</td>
            </tr>       	    
              	    
       	    <tr>
       	    	<td class="row1" >&nbsp;</td>
       	    	<td class="row1" >
					<div><!-- DIV needed for valid HTML -->
			
						<input type="submit" value="Afegir" />
					</div>
       	    	</td>
       	    </tr>
        </table>
        
	</div>
</form>



</div>
{% endblock %}
