{% extends "guardies/base_app.html" %}

{% block content %}

<h1>Guardies</h1>

<div id="content-main">	

<div class="results">
<table cellspacing="0" id="result_list" summary="Ultimes 50 guardies">
	
		<thead>
			<tr>
			{% for camp in nomCamps %}
				<th scope="col">{{camp}}</th>
			{% endfor %}			
	       	</tr>
		</thead>
		<tbody>
		{% for row in resultat %}
		 	<tr class="{% cycle 'row1' 'row2' %}">
	    	{% for item in row %}
		      		<td> {{item }}</td>
	    	{% endfor %}
	    	</tr>
    	{% endfor %}
</tbody>       	
</table>
 {{ a }}

</div>
 <br />
<ul class="actionlist">
<li class="addlink"><a href="assignar">Afegir una guardia</a></li>
<li class="deletelink"><a href="/admin/guardies/guardia/">Eliminar una guardia</a></li>
<li class="addlink"><a href="/admin/guardies/incidencia/add">Afegir una incidencia</a></li>
<li class="addlink"><a href="/admin/meta/metadiafestiu/">Afegir dia festiu</a></li>
<li class="viewsitelink"><a href="/admin/guardies/incidencia/">Llistar incidencies</a></li>
<li class="viewsitelink"><a href="report">Report mensual</a></li>
</ul>
</div>
{% endblock %}
