{% extends "guardies/base_app.html" %}

{% block submenupath %}
		&rsaquo; <a href="{{ url }}">Report</a>
{% endblock %}

{% block content %}

<h1>Guardies - report</h1>
<br/>
<div id="content-main">	

<br/><br/>
<form enctype="multipart/form-data" method="POST" action="">{% csrf_token %}
{{ form.as_p }} 
<p class="submit"><input name="ok" type="submit" value="Acceptar"></p>
</form>

<h1> NOTA: En aquest llistat no apareixen els desplaçaments. </h1>


{% if guardies|length > 0 %}
<table width=80%>
<tr>
<td><b>Dates</b></td>
<td><b>Persona</b></td>
<td><b>Preu</b></td>
</tr>
{% for guardia in guardies %}
<tr>
<td>{{guardia.dataRang}}</td>
<td>{{guardia.user}}</td>
<td>{{guardia.preu}}</td>
</tr>
{% endfor %}
</table>

{% endif %}
<br/>

{% if diesFestius|length > 0 %}
<table width=80%>
<tr>
<td><b>Dia festiu</b></td>
<td><b>Descripció</b></td>
</tr>
<br />

{% for dia in diesFestius %}
<tr>
<td>{{dia.data}}</td>
<td>{{dia.desc}}</td>
</tr>
{% endfor %}
</table>
{% endif %}
</div>
{% endblock %}
