{% extends "quadre_comandament/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="/static/media/css/quadrecomandament.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}


<h1>Objectius</h1>

<div id="content-main"> 

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
            <caption><a href="" class="section">Índex</a></caption>
    <tbody>
         <tr class="row1">
            <td>
                <menu>
                    {% for key,value in index.items %}
                    
                    <li>   
                        <a href="/seguiment_personal/{{key|slugify}}/">{{value}}</a>
                        
                    </li>
                 
                    
                    {% endfor %}
                </menu>
                 <menu>
                <p><i> -Les darreres dades actualitzades són del dia  {{ darrera_actulitzacio_mdos }} </i></p>
                </menu>                 
            </td>
                    
        </tr>
    </tbody>        
</table>
</div>
</div>
</div>




{% endblock %}

