{% extends "base/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
 	
{% block breadcrumbs %}
	<div class="breadcrumbs"><a href="/meta/about">	{% trans "Sobre" %}</a> &rsaquo;<a href="/">	Inici</a> &rsaquo;</div>

{% endblock %}
 	
 	
{% block content %}

<br/>
   <menu>
        <li>
            <h1>             
                No teniu dades perque o bé no sou facultatiu o bé no esteu donats d'alta correctament en el sistema.
            </h1>  
       </li>
       <li>Posseu-vos en contacte amb informàica del I.D.I. si us plau. </li>
        
    </menu>
    

<div id="content-main">	

<div class="module" id="changelist">

<div class="results">
      	

</div>
</div>
</div>
{% endblock %}

