{% spaceless %}
{% load django_tables2 i18n %}
{% if table.page %}
<div class="table-container">
{% endif %}
{% block table %}
<table{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
    {% block table.thead %}
    <thead>
        <tr class="{% cycle "odd" "even" %}">
        {% for column in table.columns %}
        {% if column.sortable %}
            {% with column.order_by as ob %}
            <th class="{% spaceless %}{% if column.sortable %}sortable {% endif %}{% if ob %}{% if ob.is_descending %}desc{% else %}asc{% endif %}{% endif %}{% endspaceless %}"><a href="{% querystring table.prefixed_order_by_field=ob.opposite|default:column.name %}">{{ column.header }}</a></th>
            {% endwith %}
        {% else %}
            <th>{{ column.header }}</th>
        {% endif %}
        {% endfor %}
        </tr>
    </thead>
    {% endblock table.thead %}
    {% block table.tbody %}
    <tbody>
        {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
        {% block table.tbody.row %}
       
        <tr class="{% cycle "odd" "even" %}">
       
            {% if row.record.duplicat_trobat  %}
                
                    {% for cell in row %}
                     <td class="even" style="color: #D54E21">{{ cell }}</td>
                    {% endfor %}
                 
            {%else%}
            

                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}

            {%endif%}
            
            
        </tr>
        {% endblock table.tbody.row %}
        {% empty %}
        {% if table.empty_text %}
        {% block table.tbody.empty_text %}
        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
        {% endblock table.tbody.empty_text %}
        {% endif %}
        {% endfor %}
    </tbody>
    {% endblock table.tbody %}
    {% block table.tfoot %}
    <tfoot></tfoot>
    {% endblock table.tfoot %}
</table>
{% endblock table %}

{% if table.page %}
{% block pagination %}
<ul class="pagination">
    {% if table.page.has_previous %}
    {% block pagination.previous %}
    <li class="previous"><a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">{% trans "Previous" %}</a></li>
    {% endblock pagination.previous %}
    {% endif %}
    {% block pagination.current %}
    <li class="current">{% blocktrans with current=table.page.number total=table.paginator.num_pages %}Page {{ current }} of {{ total }}{% endblocktrans %}</li>
    {% endblock pagination.current %}
    {% if table.page.has_next %}
    {% block pagination.next %}
    <li class="next"><a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">{% trans "Next" %}</a></li>
    {% endblock pagination.next %}
    {% endif %}
</ul>
{% endblock pagination %}
</div>
{% endif %}
{% endspaceless %}
