{% extends "base/base_site.html" %}
{% load i18n %}

{% block title %}
    {% if historic == "RM_VH" %}
        {{ title }} | {% trans 'Historic RM VH' %}
    {% else %}
        {{ title }} | {% trans 'Historic TC TR VH' %}
    {% endif %}
{% endblock %}


{% block branding %}
    {% if historic == "RM_VH" %}
        <h1 id="site-name"> Històric RM Vall d Hebron periode 1991 - 2009 </h1>
    {% else  %}
        <h1 id="site-name"> Històric TC TR Vall d Hebron periode 1993 - 2009 </h1>    
    {% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
