{% extends "historics/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block content %}

<h1>Introduïu  les dades per a cercar el pacient</h1>

<div id="content-main">	

<div class="module" id="changelist">
{% if historic == "RM_VH" %}
	<form action="/historic_rm_vh/cercapacientsresultat/" method="get">
{% else %}
    <form action="/historic_tctr_vh/cercapacientsresultat/" method="get">
{% endif %}	   
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
	        <caption><a href="{{ self.url }}" class="section">{% blocktrans %}cerca{% endblocktrans %}</a></caption>
            <tr>
     	       	<th scope="row"><label for="provalavel">Per cognoms i nom:</label><br /></th>
      			<th scope="row"></th>
      		</tr>
            <tr>
            	<td><input type="text" name="pacient" id="pacient" value="" SIZE=50  /></td>
       	        <td>&nbsp;</td>
       	    </tr>
            <tr>
     	       	<th scope="row"><label for="provalavel">Per Id Blava:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            	<td><input type="text" name="pacientNHC" id="pacientNHC" value="" SIZE=50  /></td>
       	        <td>&nbsp;</td>
       	    </tr>
       	    <tr>
       	    	<td class="row1" >&nbsp;</td>
       	    	<td class="row1" >
					<div><!-- DIV needed for valid HTML -->
						<label for="searchbar"><img src="/static/admin/img/admin/icon_searchbox.png" alt="Search" /></label>
						<input type="submit" value="Cercar" />
					</div>
       	    	</td>
       	    </tr>
      	    
        </table>
	</div>
</form>


</div>
{% endblock %}

