{% extends "historics/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}

	
{% block content %}

<h1>Escolliu un pacient per veure les proves</h1>

<div id="content-main">	

<div class="module" id="changelist">

{% if primers_pacient_list %}
<div class="results">
<table cellspacing="0" id="result_list" summary="pacients trobats.">
	        <caption><a href="" class="section">pacients trobats.</a></caption>

	<thead>
		<tr>
		    <th scope="col" class="colSM" >Proves Diag.</th>
    		<th scope="col">{% anchor nex1 'NHC Blava' %}</th>
    		<!-- <th scope="col">{% anchor cip 'CIP' %}</th> -->
    		<th scope="col">{% anchor cgn1 'Cognom 1' %}</th>
    		<th scope="col">{% anchor cgn2 'Cognom 2' %}</th>
    		<th scope="col"> {% anchor nomb 'Nom' %}</th>
    		<th scope="col">{% anchor dnex 'Data neix.' %}</th>
    		<th scope="col">{% anchor telf 'Telefon' %}</th>
    		<th scope="col">{% anchor telc 'telefon 2 %}</th>
    		
    		
    		    		
       	</tr>
	</thead>
	<tbody>

<!-- -->

    {% autosort primers_pacient_list %}
    {% for item in primers_pacient_list %}
    	
    	{% if item.form.non_field_errors %}
    	<tr>
    		<td colspan="{{ item|length }}">{{ item.form.non_field_errors }}</td>
    	</tr>
		{% endif %}
    
	    <tr class="{% cycle 'row1' 'row2' %}">
	    
           {% if historic == "RM_VH" %}
	    	<th><a href="/historic_rm_vh/pacient/{{ item.idpacient }}/" >Proves</a></th>
            {% else %}
            <th><a href="/historic_tctr_vh/pacient/{{ item.idpacient }}/" >Proves</a></th>
            {% endif %}	    	
	    	
	    	<td>{% if item.nex1 != None %} {{item.nex1 }}{% else%} - {% endif%}</td>
	    	<!-- <td>{{item.cip}}</td> -->
        	<td>{% if item.cgn1 != None %} {{item.cgn1 }}{% else%} - {% endif%}</td>
        	<td>{% if item.cgn2 != None %} {{item.cgn2 }}{% else%} - {% endif%}</td>
        	<td>{% if item.nomb != None %} {{item.nomb }}{% else%} - {% endif%}</td>
        	<td>{% if item.get_dnex != None %} {{item.get_dnex }}{% else%} - {% endif%}</td>
        	<td>{% if item.telf != None %} {{item.telf }}{% else%} - {% endif%}</td>
        	<td>{% if item.telc != None %} {{item.telc }}{% else%} - {% endif%}</td>
        	
    	</tr>
    {% endfor %}
</tbody>       	
</table>

{% else %}
    <p>No hi ha pacients disponibles per aquesta cerca.</p>
{% endif %}

</div>
</div>
{% endblock %}



