{% extends "historics/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block content %}

<h1>Introduïu  les dades per a cercar el pacient</h1>

<div id="content-main">	

<div class="module" id="changelist">
	    
{% if historic == "RM_VH" %}
    <form action="/historic_rm_vh/cercapacientsacrresultat/" method="get">
{% else %}
    <form action="/historic_tctr_vh/cercapacientsacrresultat/" method="get">
{% endif %} 	    
        <table summary="{% blocktrans with app.name as name %}Models available in the {{ name }} application.{% endblocktrans %}">
	        <caption><a href="{{ self.url }}" class="section">{% blocktrans %}cerca{% endblocktrans %}</a></caption>
            <tr>
     	       	<th scope="row">
     	       	    {% if historic == "RM_VH" %}
     	       	      <label for="provalavel">Codi Diagnostic 1 Ex.: 01534560</label>
     	       	    {% else %}
     	       	      <label for="provalavel">Codi Diagnostic 1 Ex.: 04510330</label>
     	       	    {% endif %}  
     	       	    <br />
     	       	  </th>
      			<th scope="row"></th>
      		</tr>
            <tr>
            	<td><input type="text" name="codiDI1" id="codiDI1" value="" SIZE=50  /></td>
       	        <td>&nbsp;</td>
       	    </tr>
            <tr>
     	       	<th scope="row"><label for="provalavel">Codi Diagnostic 2:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            	<td><input type="text" name="codiDI2" id="codiDI2" value="" SIZE=50  /></td>
       	        <td>&nbsp;</td>
       	    </tr>
       	    <tr>
     	       	<th scope="row"><label for="provalavel">Codi Diagnostic 3:</label><br /></th>
      			<th scope="row"> </th>
      		</tr>
            <tr>
            	<td><input type="text" name="codiDI3" id="codiDI3" value="" SIZE=50  /></td>
       	        <td>&nbsp;</td>
       	    </tr>
       	    
       	    <tr>
       	    	<td class="row1" >&nbsp;<SELECT NAME="tipusConsulta" default="AND" ><option value="AND">AND</option><option value="OR">OR</option> </SELECT> Metode de busqueda. </td>
       	    	<td class="row1" >
					<div><!-- DIV needed for valid HTML -->
						<label for="searchbar"><img src="/static/admin/img/admin/icon_searchbox.png" alt="Search" /></label>
						<input type="submit" value="Cercar" />
					</div>
       	    	</td>
       	    </tr>
      	    
        </table>
	</div>
</form>


</div>
{% endblock %}

