{% extends "historics/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block content %}

<h1>Resultat de la cerca de Proves amb Codis diagnòstics.</h1>

<div id="content-main">	

<div class="module" id="changelist">

{% if historiasambacr %}
<div class="results">
<table cellspacing="0" id="result_list" summary="pacients trobats.">
	        <caption><a href="" class="section">pacients trobats.</a></caption>

	<thead>
		<tr>
			<th scope="col" class="colSM">Obrir informe</th>
    		<th scope="col">{% anchor nex1 'NHC Blava' %}</th>
    		<!--  <th scope="col">{% anchor cip 'CIP' %}</th> -->
    		<th scope="col"> {% anchor nomb 'Cognoms i nom' %}</th>
    		<th scope="col">{% anchor nex2 'N Visita' %}</th>
    		<th scope="col">{% anchor dexp 'Data prova' %}</th>
    		<!--  <th scope="col">{% anchor hexp 'Hora prova' %}</th> -->
    		<th scope="col">{% anchor cexp 'Codi Prova' %}</th>
    		<!-- <th scope="col">{% anchor cmet 'Metge' %}</th> -->
    		<!-- <th scope="col">{% anchor cexp1 'exploracio' %}</th> -->
    		<!-- <th scope="col">{% anchor cexpn 'exploracio' %}</th> -->
    		<th scope="col">{% anchor dcl1 'd clini.' %}</th>
    		<th scope="col">{% anchor dcl2 'd clini.' %}</th>
    		<th scope="col">{% anchor dex1 'dex 1' %}</th>
    		<th scope="col">{% anchor cdi1 'cdi 1' %}</th>
    		<th scope="col">{% anchor dex2 'dex 2' %}</th>
    		<th scope="col">{% anchor cdi2 'cdi 2' %}</th>
    		<th scope="col">{% anchor dex3 'dex 3' %}</th>
    		<th scope="col">{% anchor cdi3 'cdi 3' %}</th>
    		<th scope="col">{% anchor disk 'disc' %}</th> 
    		<!-- <th scope="col">{% anchor situ 'Situacio' %}</th> -->
    		<th scope="col">{% anchor obse 'Observacions' %}</th>
    		
    		
       	</tr>
	</thead>
	<tbody>



    {% autosort historiasambacr %}
    {% for item in historiasambacr %}
    	
    	{% if item.form.non_field_errors %}
    	<tr>
    		<td colspan="{{ item|length }}">{{ item.form.non_field_errors }}</td>
    	</tr>
		{% endif %}
    
	    <tr class="{% cycle 'row1' 'row2' %}">
	    {% if historic == "RM_VH" %}
	    	<th><a href="/historic_rm_vh/informe/{{ item.idhistoria }}/" class="addlink" >Informe</a></th>
        {% else %}
            <th><a href="/historic_tctr_vh/informe/{{ item.idhistoria }}/" class="addlink" >Informe</a></th>
        {% endif %}
	    	<td>{{item.nex1}}</td>
	    	<!-- <td>{{item.cip}}</td> -->
        	<td>{{item.cgn1}} {{item.cgn2}},{{item.nomb}}</td>
        	<td>{% if item.nex2 != None %} {{item.nex2}} {% else%} - {% endif%}</td>
        	<td>{% if item.dexp != None %} {{ item.get_dexp }} {% else%} - {% endif%}</td>
    		<!-- <td>{% if item.hexp != None %} {{item.get_hexp }} {% else%} - {% endif%}</td> -->
    		<td>{% if item.cexp != None %} {{item.cexp}} {% else%} - {% endif%}</td>
    		<!-- <td>{% if item.cmet != None %} {{item.cmet}} {% else%} - {% endif%}</td> -->
    		<!-- <td>{% if item.cexp1 != None %} {{item.cexp1}}{% else%} - {% endif%}</td> -->
    		<!-- <td>{% if item.cexpn != None %} {{item.cexpn}}{% else%} - {% endif%}</td> -->
    		<td>{% if item.dcl1 != None %} {{item.dcl1 }}{% else%} - {% endif%}</td>
    		<td>{% if item.dcl2 != None %} {{item.dcl2 }}{% else%} - {% endif%}</td>
    		<td>{% if item.dex1 != None %} {{item.dex1 }}{% else%} - {% endif%}</td>
    		<td>{% if item.cdi1 != None %} {{item.cdi1 }}{% else%} - {% endif%}</td>
    		<td>{% if item.dex2 != None %} {{item.dex2 }}{% else%} - {% endif%}</td>
    		<td>{% if item.cdi2 != None %} {{item.cdi2 }}{% else%} - {% endif%}</td>
    		<td>{% if item.dex3 != None %} {{item.dex3 }}{% else%} - {% endif%}</td>
    		<td>{% if item.cdi3 != None %} {{item.cdi3 }}{% else%} - {% endif%}</td>
    		<td>{% if item.disk != None %} {{item.disk }}{% else%} - {% endif%}</td>
    		<!-- <td>{% if item.situ != None %} {{item.situ }}{% else%} - {% endif%}</td> -->
    		<td>{% if item.obse != None %} {{item.obse }}{% else%} - {% endif%}</td>
        	
    	</tr>
    {% endfor %}
</tbody>       	
</table>

{% else %}
    <p>No hi ha pacients disponibles per aquesta cerca.</p>
{% endif %}

</div>
</div>
{% endblock %}



