{% extends "historics/base_site.html" %}
{% load i18n %}
{% load sorting_tags %}


{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}

 	
{% block content %}

<h1>Index</h1>

<div id="content-main">	

<div class="module" id="changelist">

<div class="results">
<table cellspacing="0" id="result_list" summary="aplicacions">
	        <caption><a href="" class="section">Index</a></caption>
	<thead>
		<tr>
    		<th scope="col" class="colSM">Aplicacions</th>
       	</tr>
	</thead>
	<tbody>
	     <tr class="row1">
	     <td>
	     	<menu>
				<li>      
				    {% if historic == "RM_VH" %} 		
       				<a href="/historic_rm_vh/cercapacients/" >Cerca de proves i informes per pacients</a>
       				{% else %}
       				<a href="/historic_tctr_vh/cercapacients/" >Cerca de proves i informes per pacients</a>
       				{% endif %}
       			</li>
 		 		<li> 
 		 		    {% if historic == "RM_VH" %}
       				<a href="/historic_rm_vh/cercapacientsacr/"  >Cerca de proves per codi ACR</a>
       				{% else %}
       				<a href="/historic_tctr_vh/cercapacientsacr/"  >Cerca de proves per codi ACR</a>
       				{% endif %}
			    </li>
		    </menu>
		    </td>
    	</tr>
    	
    </tbody>       	
</table>
</div>
</div>
{% endblock %}

