{% extends "base/base_bootstrap.html" %}
{% load url from future %}
{% load i18n %}

{% block header %}
{% with request.user.get_profile.permis_planilles as permis %}
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar">One </span>
                <span class="icon-bar">Two </span>
                <span class="icon-bar">Three </span>
            </a>
            <a class="brand" href="/"><strong>IDI</strong> Eines</a>    
            <div class="nav-collapse collapse">
                <ul class="nav">
                <!--  el menu 2 és el d'usuari -->
                {# PLANILLES - Calendaris #}
                   <!-- <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {# trans "Calendaris" #}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#% url 'calendari_personal' #}">{# trans "Calendari Laboral" #}</a>
                            </li>
                            <li class="disabled">
                                <a href="">{# trans "Calendari de Guardies" #}</a>
                            </li>
                        </ul>
                    </li>-->
                    {# MENU DE NO USER #}
                    {% if permis != 'USER' %}
                    {# PLANILLES - Planilles #}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% trans "Gestio RH" %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">{% trans "Personal" %}</li>
                                <li><a href="{% url 'rrhh' %}">{% trans "Treballadors" %}</a></li>
                                <li><a href="{% url 'planilles' %}">{% trans "Planilla" %}</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">{% trans "Horaris" %}</li>
                                <li><a href="{% url 'sequencies' %}">{% trans "Torns de Personal" %}</a></li>
                                <li><a href="{% url 'rotacions' %}">{% trans "Rotacions" %}</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">{% trans "Unitats" %}</li>
                                <li><a href="{% url 'unitats' %}">{% trans "Unitats" %}</a></li>
                                <li><a href="{% url 'maquines' %}">{% trans "Equips" %}</a></li>                                
                                <li><a href="{% url 'sequencies_equip' %}">{% trans "Torns d'Equip" %}</a></li>
                                <li><a href="{% url 'incidencies' %}">{% trans "Incidencies d'equip" %}</a></li>
                            <li class="divider"></li>
                            {% if permis == 'RRHH' or permis == 'ROOT' %}
                            <li class="nav-header">{% trans "RRHH" %}</li>
                                <li><a href="{% url 'calendaris' %}">{% trans "Calendaris de festius" %}</a></li>
                                <li><a href="{% url 'moviments' %}">{% trans "Tipus de Moviment" %}</a></li>
                                <li><a href="{% url 'jornades' %}">{% trans "Jornades Anuals" %}</a></li>
                                <li><a href="{% url 'grups_categoria' %}">{% trans "Agrupacions de Categories" %}</a></li>
                                <li><a href="{% url 'hores_extra' %}">{% trans "Hores Extraordinaries" %}</a></li>
                                <li><a href="{% url 'synchro_karat' %}">{% trans "Sincronitzar Categories RRHH" %}</a></li>
                            {% else %}
                            <li class="nav-header">{% trans "RRHH" %}</li>
                                <li><a href="{% url 'calendaris' %}">{% trans "Calendaris de festius" %}</a></li>
                                <li><a href="{% url 'moviments' %}">{% trans "Moviments" %}</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% trans "Reports" %}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">                            
                            <li><a href="{% url 'report_moviments_treballador' %}">{% trans "Moviments per unitat" %}</a></li>
                            {% if permis == 'RRHH' or permis == 'ROOT'%}
                            <li><a href="{% url 'report_activitat_extra' %}">{% trans "Activitat Extraordinaria" %}</a></li>
                            <li><a href="{% url 'query_treballador_hora' %}">{% trans "Query Treballador/Hora" %}</a></li>
                            {% endif %}
                            <!--
                            <li class="divider"></li>
                            <li class="nav-header">{% trans "Per unitat" %}</li>
                            <li><a href="{# url 'report_ratios_unitat' #}">{% trans "Ratios" %}</a></li>
                            -->
                        </ul>
                    </li>                    
                    {% endif %}
                </ul>
                <!-- Menu d'usuari -->
                <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ request.user.get_full_name }}
                            {# DESCOMENTAR PER VEURE PERMÍS ACTUAL #}
                            {# &nbsp;-&nbsp;{{ permis }} #} 
                            {# <span class="badge badge-important"></span> #}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="disabled"><a href="#"><i class="icon-envelope"></i> Notificacions</a></li>
                            <li class="divider"></li>
                            <li><a href="/"><i class="icon-home"></i> Portal IDI</a></li>
                            <li><a href="{% url 'logout' %}"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
{% endwith %}
{% endblock header %}

{% block notificacions %}
{% endblock notificacions %}

{% block content %}    
{% endblock content %}

{% block footer %}
    <hr style="margin:0">
    <div class="container">
        <em class="pull-right app-version"></em>
    </div>
{% endblock footer %}

