{% load url from future %}
{% load sorting_tags %}
{% load i18n %}
{# {% autosort calendari_llista %} #}

{% with request.user.get_profile.permis_planilles as permis %}
<table class="table table-striped table-condensed table-hover table-bordered">
    <thead>  
        <tr>
            <th style="width:250px">{# {% anchor dia "Dia" %} #}{% trans "Dia" %}</th>  
            <th style="width:60px">{# {% anchor tipus_dia "Tipus" %} #}{% trans "Tipus" %}</th>
            <th style="width:500px">{# {% anchor nom "Nom" %} #}{% trans "Nom" %}</th>
            {% if permis == 'RRHH' or permis == 'ROOT' %}
                <th style="width:30px;"></th>    
            {% endif %}
        </tr>  
    </thead>  
    <tbody>
    {% for dia in calendari_llista %}
        <tr>
            <td>{{ dia.dia }}</td>
            <td>{{ dia.tipus_dia }}</td>
            <td>{{ dia.nom }}</td>
            {% if permis == 'RRHH' or permis == 'ROOT' %}
            <td style="text-align:center">
                <a href="{% url 'calendari_delete_dia' calendari.id dia.id dia.dia.year %}" 
                   class="text-error"><i class="icon-trash"></i></a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endwith %}

