{# extends "planilles/base.html" #}
{% extends "intranet/base_app.html" %}
{% load url from future %}
{% load i18n %} 

{% block title %}{% trans "Calendari personal" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h3>{% trans "Calendari personal" %}</h3>
{% if error %}
    <h4>{% trans "No es pot mostrar el calendari personal" %}.</h4>
    <h4>{{ error }}</h4>
{% else %}
<div class="row">
    <h4 class="span6">{% trans "Any" %}: {{ anyo_def }}
        {% if darrer_periode_congelat %}
        <span class="muted">, validat el dia {{ darrer_periode_congelat.updated_at|date:"d/m/Y" }}</span>            
        {% endif %}
    </h4>
</div>

<div class="row">
    {% if anys|length > 1 %}
    <span class="pull-right muted">
        <h5>{% trans "Selecciona un altre any" %}:
        {% for anyo in anys %}
            {% if anyo.year != anyo_def %}
                <a class="muted" href="{% url 'calendari_personal_intranet' anyo.year %}">
                    {{ anyo.year }}
                </a>
            {% endif %}
            {% if not forloop.last and not forloop.first %}<span> | </span>{% endif %}
        {% endfor %}
        </h5>
    </span>
    {% endif %}
    <div class="btn-group span2" style="margin-bottom: 10px">
        <button id="btn-cal-llista" class="btn {% if request.session.cal_vista == 'llista' %}disabled{% endif %}">{% trans "Llista" %}</button>
        <button id="btn-cal-cal" class="btn {% if request.session.cal_vista == 'cal' %}disabled{% endif %}">{% trans "Calendari" %}</button>
    </div>
</div>
<div class="row" id="calendari-llista" 
{% if request.session.cal_vista == 'cal' %}
    style="display:none"
{% endif %}>
    {% if calendari_llista %}
        <div class="control-group">
            <label class="control-label" for="id_nom">
                <strong>{% trans "Dies festius" %}</strong> :
            </label>
            <div class="controls">
            {% include "planilles/calendari_display_calendari_llista.html" %}
            </div>
        </div>
    {% endif %}
    {% if periodes %}
        <div class="control-group">
            <label class="control-label" for="id_nom">
                <strong>{% trans "Rotacions i Torns" %} :</strong>
            </label>
            <div class="controls">
                {% include "planilles/rrhh_treballador_faps.html" %}
            </div>
        </div>
    {% endif %}
    {% if moviments %}
    <div class="control-group">
        <label class="control-label" for="id_nom">
            <strong>{% trans "Moviments" %}</strong> :
        </label>
        <div class="controls">
            {% include "planilles/rrhh_moviments.html" %}
        </div>
    </div>
    {% endif %}
    {% if extres %}
    <div class="control-group">
        <label class="control-label" for="id_nom">
            <strong>{% trans "Activitat Extarordinaria" %}</strong> :
        </label>
        <div class="controls">
            {% include "planilles/rrhh_extres.html" %}
        </div>
    </div>
    {% endif %}
</div>

<div id="calendari-cal" class="row"
{% if request.session.cal_vista == 'llista' %}
    style="display:none"
{% endif %}>
{% if calendari_cal %}
    <div>
    {% include "planilles/calendari_display_calendari_any.html" %}
    </div>
        <div class="row">
            <div class="pull-right">
                {% trans "Hores treballades" %}:
                <strong title="{% trans "Hores treballades a dia d\'avui" %}">
                {{ consolidat.hores_treballades_avui }}</strong>,
                &nbsp;{% trans "assignades" %}:
                <strong title="{% trans "Hores assignades per tot l\'any" %}">
                        {{ consolidat.hores_treballades }}</strong>,
                &nbsp;{% trans "conveni" %}:
                <strong title="{% trans "Horas a completar assignades per conveni" %}">
                        {{ consolidat.hores_totals|floatformat:"0" }}</strong>
                &nbsp;|&nbsp;
                <span>{% trans "Dies vacances fets/assignats/meritats" %}: 
                    <strong>{{ consolidat.vacas_fetes }}</strong> / 
                    <strong>{{ consolidat.vacas_totals }}</strong> /
                    <strong>{{ consolidat.vacas_meritades }}</strong>
                </span>&nbsp;
                <span>{% trans "Dies de lleure" %}: 
                    <strong>{{ consolidat.lleure_fets }}</strong> /
                    <strong>{{ consolidat.lleure_totals }}</strong> /
                    <strong>{{ consolidat.lleure_meritats }}</strong>
                </span>
            </div>
        </div>
        {% if consolidat.vacas_totals != consolidat.vacas_meritades %}
        <div class="row">
            {% if consolidat.data_quitansa.year == anyo_def %}
                <div class="pull-right">
                    &nbsp;{% trans "Darrera quitança" %}: <strong>{{ consolidat.data_quitansa|date:"d/m/Y" }}</strong>
                </div>
            {% endif %}
            <div class="pull-right text-error">
                {% trans "Els dies de vacances i d’assumptes propis de lliure disposició són proporcionals al temps treballat." %}
            </div>
        </div>
        {% endif %}
{% endif %}
</div>
{% endif %}
{% endblock content %}
{% block localjs %}
    <script type="text/javascript">
        function create_tooltips () {
            $('a[rel="tooltip"]').tooltip({
                'html' : true,
                'placement' : 'top',
                'animation' : false
            });
        }

        $('#btn-cal-llista').click(function() {
            update_session('cal_vista', 'llista')
            $(this).addClass('disabled');
            $('#btn-cal-cal').removeClass('disabled');
            $('#calendari-cal').hide();
            $('#calendari-llista').show();
        });

        $('#btn-cal-cal').click(function() {
            update_session('cal_vista', 'cal')
            $(this).addClass('disabled');
            $('#btn-cal-llista').removeClass('disabled');
            $('#calendari-llista').hide();
            $('#calendari-cal').show();
        });

        create_tooltips();
    </script>
{% endblock localjs %}    
