{% extends "intranet/base_app.html" %}
{% load url from future %}
{% load i18n %} 

{% block title %}{% trans "Calendari personal" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">
                        ×
                    </button>
                    <strong>{{ message.tags }}.</strong> {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock notificacions %}

{% block content %}
<h3>{% trans "Calendari personal" %}</h3>

<h4>    
    <small  class="pull-right">
        <strong>{{ anyo_resum.laborables }}</strong> {% trans "dies laborables" %}, 
        <strong>{{ anyo_resum.festius }}</strong> {% trans "dies festius" %}. 
        {% if anyo_resum.bisest %}
            {% trans "És any bisest" %}
        {% endif %}
    </small>
    {% trans "Dies pel calendari de l'any" %} {{ anyo_def }}:
</h4>
{% if anys %}
<div class="pull-right">
    <h5>{% trans "Selecciona un altre any" %}:
    {% for anyo in anys %}
        {% if anyo.year == anyo_def %}
            {{ anyo.year }} 
        {% else %}
            <a href="{% url 'calendari_personal_intranet' anyo.year %}">{{ anyo.year }}</a>
        {% endif %}
        {% if not forloop.last %}
            <span> | </span>    
        {% endif %}
    {% endfor %}
    </h5>
</div>
{% endif %}

<div class="btn-group" style="margin-bottom:10px">
    <button id="btn-cal-llista" class="btn {% if request.session.cal_vista == 'llista' %}disabled{% endif %}">{% trans "Llista" %}</button>
    <button id="btn-cal-cal" class="btn {% if request.session.cal_vista == 'cal' %}disabled{% endif %}">{% trans "Calendari" %}</button>
</div>


<div id="calendari-llista" 
{% if request.session.cal_vista == 'cal' %}
    style="display:none"
{% endif %}>
{% if calendari_llista %}
    {% include "planilles/calendari_display_calendari_llista.html" with user='usuari' %}
{% endif %}
</div>

<div id="calendari-cal" 
{% if request.session.cal_vista == 'llista' %}
    style="display:none"
{% endif %}>
{% if calendari_cal %}
    {% include "planilles/calendari_display_calendari_any.html" %}
{% endif %}
</div>

{% endblock content %}
{% block localjs %}
    <script type="text/javascript">
        function create_tooltips () {
            $('a[rel="tooltip"]').tooltip({
                'html' : true,
                'placement' : 'top',
                'animation' : false
            });
        }

        $('#f_dia').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});

        $('#btn-cal-llista').click(function() {
            update_session('cal_vista', 'llista')
            $(this).addClass('disabled');
            $('#btn-cal-cal').removeClass('disabled');
            $('#calendari-cal').hide();
            $('#calendari-llista').show();
        });

        $('#btn-cal-cal').click(function() {
            update_session('cal_vista', 'cal')
            $(this).addClass('disabled');
            $('#btn-cal-llista').removeClass('disabled');
            $('#calendari-llista').hide();
            $('#calendari-cal').show();
        });

        create_tooltips();
    </script>
{% endblock localjs %}    

