{% load i18n %} 
<table class="table table-condensed-striped table-condensed table-bordered 
              calendari">
    <thead>
        <tr>
            {% for dia in dies_31 %}
            {% if dia == 0 %}
                <th>
                    <span class="muted">{% trans "Mesos/Dies" %}&nbsp;</span>
                </th>
            {% else %}
                <th>{% if dia < 10 %}0{% endif %}{{ dia }}</th>
            {% endif %}
            {% endfor %}
        </tr>  
    </thead>  
    <tbody>
        {% for mes in calendari_cal %}
            <tr>
            {% for dies in mes %}
                {% if forloop.first %}
                    <th style="text-align:right">
                        <strong>{{ mes.0 }}&nbsp;</strong>
                    </th>
                {% else %}
                    {% for dia in dies %}
                    <td class="dia_{{ dia.tipus }} {{ dia.css }}"
                        {% if dia.style %}
                            style="{{ dia.style }}"
                        {% endif %}>
                    {% if dia.tipus and dia.tipus != '0' %}
                        <a href="#" rel="tooltip" title="{{ dia.tooltip }}"
                        {% if dia.extra %}
                            class="hora-extra"
                        {% endif %}
                        >
                            {% if dia.tipus == 'T' %}
                                {{ dia.abrev_torn }}
                            {% else %}
                                {{ dia.tipus }}
                            {% endif %}
                        </a>
                    {% endif %}
                    </td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>