{% extends "planilles/base.html" %}
{% load url from future %}
{% load i18n %} 

{% block title %}{% trans "Calendaris" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">
                        ×
                    </button>
                    <strong>{{ message.tags }}.</strong> {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock notificacions %}

{% block content %}
<h3><a href="{% url 'calendaris'  %}">{% trans "Calendaris" %}</a> &raquo; 
    <span class="muted">
    {% if calendari_id == '0' %}
        {% trans "Nou" %} {% trans "Calendari" %} 
    {% else %}
        {% trans "Editar" %} {% trans "Calendari" %}
    {% endif %}
    </span>
</h3>

<form action="/planilles/calendari/{{ calendari_id }}/" method="post" 
      class="form-horizontal" name="form_calendari">
    {% csrf_token %}
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %}</label>
        <div class="controls">
            <input type="text" name="nom" id="id_nom" 
                   placeholder="{% trans "Nom" %}" 
                   value="{{ form.nom.value }}">
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label for="id_es_mestre" class="checkbox">
                <input type="checkbox" name="es_mestre" id="id_es_mestre"
                       {% if form.es_mestre.value %}
                        checked="checked"
                       {% endif %}> 
                    {% trans "És calendari mestre" %}
            </label>
        </div>
    </div>
    
    {# Es pot fer via Django PERMS #}
    {# {% if perms.planilles.delete_calendarilaboral %} #}
    {# O via permisos a manija, via VIEW #}
    {% if permis == 'RRHH' or permis == 'ROOT' %}
    <div class="form-actions">
        <div class="pull-right">
            {% if calendari_id != '0' %}
                {# <a href="delete/" class="btn btn-danger" type="button">Esborrar Calendari</a> #}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                   {% trans "Esborrar" %} {% trans "Calendari" %}
                </a>
            {% endif %}
            
            <a href="{% url 'calendaris' %}" class="btn">
                {% trans "Cancelar" %}
            </a>

            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}
            </button>
        </div>
    </div>
    {% endif %}
</form>

<!-- Modal d'esborrat d'any -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Esborrar" %} {% trans "Calendari" %} {{ calendari.nom }}?</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Segur que vols esborrar" %} {% trans "aquest" %} {% trans "Calendari" %}?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Tancar" %}</button>
        <a href="delete/" class="btn btn-danger" type="button">{% trans "Esborrar" %}</a>
    </div>
</div>


{% if calendari_id != '0' %}
<h4>    
    <small  class="pull-right">
        <strong>{{ anyo_resum.laborables }}</strong> 
        {% trans "dies laborables" %}, 
        <strong>{{ anyo_resum.festius }}</strong> 
        {% trans "dies festius" %}. 
        {% if anyo_resum.bisest %}
            {% trans "És any bisest" %}
        {% endif %}
    </small>
    {% trans "Dies festius pel calendari de l'any" %} {{ anyo_def }}:
</h4>

{% if anys|length > 1 %}
<div class="pull-right">
    <h5>{% trans "Selecciona un altre any" %}:
    {% for anyo in anys %}
        {% if anyo.year == anyo_def %}
            {{ anyo.year }} 
        {% else %}
            <a href="{% url 'calendari' calendari_id anyo.year %}">
                {{ anyo.year }}
            </a>
        {% endif %}
        {% if not forloop.last %}
            <span> | </span>    
        {% endif %}
    {% endfor %}
    </h5>
</div>
{% endif %}

<div class="btn-group" style="margin-bottom:10px;">
    <button id="btn-cal-llista" class="btn {% if request.session.cal_vista == 'llista' %}disabled{% endif %}">{% trans "Llista" %}</button>
    <button id="btn-cal-cal" class="btn {% if request.session.cal_vista == 'cal' %}disabled{% endif %}">{% trans "Calendari" %}</button>
</div>


<div id="calendari-llista" 
{% if request.session.cal_vista == 'cal' %}
    style="display:none"
{% endif %}>
{% if calendari_llista %}
    {% include "planilles/calendari_display_calendari_llista.html" %}
{% endif %}
</div>

<div id="calendari-cal" 
{% if request.session.cal_vista == 'llista' %}
    style="display:none"
{% endif %}>
{% if calendari_cal %}
    {% include "planilles/calendari_display_calendari_any.html" %}
{% endif %}
</div>

{% if permis == 'RRHH' or permis == 'ROOT' %}
<div class="form-actions">
    <form class="form-inline" name="form_dia"  action="save/" method="post">
        {% csrf_token %}
        <input type="hidden" name="f_tipus" value="F">
        <div class="pull-right">
            <!--<a href="0" class="btn btn-primary">Afegir dia (form)</a>-->
            <button class="btn btn-primary" type="submit">{% trans "Afegir" %} {% trans "Dia Festiu"%}</button>
        </div>
        <label>{% trans "Data" %}</label>
        <input type="text" id="f_dia" name="f_dia" class="input-small" placeholder="{% trans "Data" %}">
        <label>{% trans "Descripció" %}</label>
        <input type="text" name="f_nom" class="input-large" placeholder="{% trans "Descripció" %}">
    </form>
</div>
{% endif %}
{% endif %}
{% endblock content %}

{% if calendari_id %}
    {% block localjs %}
        <script type="text/javascript">
            function create_tooltips () {
                $('a[rel="tooltip"]').tooltip({
                    'html' : true,
                    'placement' : 'top',
                    'animation' : false
                });
            }

            $('#f_dia').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});

            $('#btn-cal-llista').click(function() {
                update_session('cal_vista', 'llista')
                $(this).addClass('disabled');
                $('#btn-cal-cal').removeClass('disabled');
                $('#calendari-cal').hide();
                $('#calendari-llista').show();
            });

            $('#btn-cal-cal').click(function() {
                update_session('cal_vista', 'cal')
                $(this).addClass('disabled');
                $('#btn-cal-llista').removeClass('disabled');
                $('#calendari-llista').hide();
                $('#calendari-cal').show();
            });

            create_tooltips();
        </script>
    {% endblock localjs %}    
{% endif %}

