{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Calendaris de Festius" %}{% endblock title %}

{% block content %}
<h3>{% trans "Calendaris de Dies Festius" %}. 
    <small>
        {% trans "Escull un" %} 
        {% trans "Calendari" %} 
        {% trans "per editar les seves propietats" %}
    </small>
</h3>
<table class="table table-striped table-condensed hover">  
    <thead>  
        <tr>
            <th>{% anchor nom "Calendari" %}</th>
            <th>{% trans "Anys actius" %}</th>
            <th>{% trans "Unitats" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% autosort calendaris %}
        {% for calendari in calendaris %}
        <tr>
            <td>
                <a href="{% url 'calendari' calendari.id  anyo_def %}">
                {% if calendari.es_mestre %}
                    <strong>{{ calendari.nom }}</strong>
                {% else %}
                    {{ calendari.nom }}
                {% endif %}
                </a>
            </td>
            <td>
                {% for any in calendari.get_anys_en_curs %}
                <a href="{% url 'calendari' calendari.id any.year %}" 
                   style="display:inline">
                    {{ any.year }}</a>
                {% if not forloop.last %}<strong>| </strong>{% endif %}
                {% endfor %}
            </td>
            <td>
                {% for unitat in calendari.metaunitatidi_set.all %}
                    <div>{{ unitat }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if perms.planilles.add_calendarilaboral %}
<div class="form-actions">
    <div class="pull-right">
        <a href="0" class="btn btn-primary save">
            {% trans "Afegir" %} {% trans "Calendari" %}
        </a>
    </div>
</div>
{% endif %}
{% endblock content %}
