{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Equips" %}
{% if equip.id %} :: {{ equip.nom }}{% endif %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}


<h4>
    <a href="{% url 'unitats'  %}">{% trans "Unitats" %}</a> &raquo; 
    <a href="{% url 'unitat' equip.grup.unitat.id %}">{{ equip.grup.unitat.descripcio }}</a> &raquo;
    <a href="{% url 'unitat_grup' equip.grup.unitat.id equip.grup.id %}">{{ equip.grup.nom }}</a> &raquo;
    <span class="muted">
    {% if equip.id %}
        {% trans "Editar" %}
    {% else %}
        {% trans "Nou" %}
    {% endif %}
    {% trans "Equip" %}
    </span>
    {% if equip.id %}
        &raquo; {{ equip.nom }}
    {% endif %}
</h4>

<form action="." method="post" class="form-horizontal" name="form_equip">
    {% csrf_token %}
    <input type="hidden" name="grup" id="id_grup" value="{{ equip.grup.id }}">

    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %} :</label>
        <div class="controls">
            {{ form.nom }}
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.descripcio.errors %} error {% endif %}">
        <label class="control-label" for="id_descripcio">{% trans "Descripcio" %} :</label>
        <div class="controls">
            <textarea rows="5" id="id_descripcio" name="descripcio" 
                      class="input-xxlarge" 
                      placeholder="{% trans "Descripcio" %}">{% if form.descripcio.value != None %}{{ form.descripcio.value }}{% endif %}</textarea>
        </div>
    </div>
    {% if equip.periodeequip_set.all %}
    <div class="control-group">
        <label class="control-label" for="id_nom">
            {% trans "Períodes assignats" %} :
        </label>
        <div class="controls">
            <table class="table table-condensed table-hover table-bordered">
                <thead>  
                    <tr>
                        <th>{% trans "Periode" %}</th>
                        <th>{% trans "Torn" %}</th>
                        <th>{% trans "Personal" %}</th>
                        <th></th>
                    </tr>  
                </thead>  
                <tbody>
                {% for periode in equip.periodeequip_set.all %}
                    <tr>
                        <td>
                            {% ifchanged  periode.data_inici %}                                
                            <div>{{ periode.data_inici|date:"d/m/Y" }} - {{ periode.data_fi|date:"d/m/Y" }}</div>
                            <div class="muted"><strong>{{ periode.get_dies_periode }}</strong> {% trans "dies" %}</div>
                            {% endifchanged %}
                        </td>
                        <td>
                            <div>{{ periode.sequencia }}</div>
                            <div class="muted">{{ periode.sequencia.get_hores_format|safe }}</div>
                        </td>
                        <td>
                            {% for personal in periode.periodeequipsequenciapersonal_set.all%}
                                <div>
                                    {{ personal.personal }} {{ personal.categoria }}
                                    <span class="muted">x {{personal.get_hores_periode_categoria|safe}}</span>
                                </div>
                            {% endfor %}
                        </td>
                        <td style="text-align:center">
                            <a href="periode/{{ periode.id }}/delete/" 
                               class="text-error"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    {% if equip.incidenciaequip_set.all %}
    <div class="control-group">
        <label class="control-label" for="id_nom">
            {% trans "Incidencies" %} :
        </label>
        <div class="controls">
            <table class="table table-condensed table-hover table-bordered">
                <thead>  
                    <tr>
                        <th>{% trans "Data" %}</th>
                        <th>{% trans "Incidencia" %}</th>
                        <th></th>
                    </tr>  
                </thead>  
                <tbody>
                {% for incidencia in equip.incidenciaequip_set.all %}
                    <tr>
                        <td>
                            {% ifchanged incidencia.dia %}
                            {{ incidencia.dia }}
                            {% endifchanged %}
                        </td>
                        <td>
                            {{ incidencia.incidencia }}
                            <em>{{ incidencia.hora_inici }} -
                                {{ incidencia.hora_fi }}
                            </em>
                        </td>
                        <td style="text-align:center">
                            <a href="incidencia/{{ incidencia.id }}/delete/" 
                               class="text-error"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="form-actions">
        <div class="pull-right">
            {% if equip.id %}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                   {% trans "Esborrar" %} 
                   {% trans "Equip" %}
                </a>
            {% endif %}
            <a href="{% url 'unitat_grup' equip.grup.unitat.id equip.grup.id %}" class="btn">
                {% trans "Cancelar" %}
            </a>
            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}</button>
        </div>
    </div>
</form>


{% if form_periode %}
<div class="form-actions">
    <form class="form-inline" id="form_dia" name="form_dia"  action="{% url 'unitat_grup_equip_periode' equip.grup.unitat.id equip.grup.id equip.id  %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="categories_personal" id="id_categories_personal">
        <div class="row">
            <div class="span2">
                <label class="control-label" for="id_seq_data_inici">{% trans "Data d'inici" %}:</label>
            </div>
            <div class="span2">
                <label class="control-label" for="id_seq_data_fi">{% trans "Data final" %}:</label>
            </div>
            <div class="span4">
                <label class="radio inline" style="padding-top:0">
                  <input type="radio" name="tipus_accio" id="id_tipus_mov_1" 
                         value="M">{% trans "Incidencia" %}
                </label>
                <label class="radio inline" style="padding-top:0">
                  <input type="radio" name="tipus_accio" id="id_tipus_mov_3" 
                         value="S" checked="checked">{% trans "Torns" %}
                </label>
            </div>
        </div>

        <div class="row">
            <div class="pull-right">
                <button id="button-submit" class="btn btn-primary" type="button">
                    {% trans "Afegir" %} 
                    {% trans "Entrada" %}
                </button>
            </div>
            <div class="span2">            
                <div class="controls">
                    {{ form_periode.seq_data_inici}}
                    {% if form_periode.seq_data_inici.errors %}
                        <span class="help-inline">
                            {% for error in form_periode.seq_data_inici.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="span2">
                <div class="controls">
                    {{ form_periode.seq_data_fi }}
                    {% if form_periode.seq_data_fi.errors %}
                        <span class="help-inline">
                            {% for error in form_periode.seq_data_fi.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="span5">            
                <div class="controls" id="entrada_selects">
                    <div id="container_tipus_mov_M" style="display:none">
                    {{ form_periode.incidencia }}
                    </div>
                    <div id="container_tipus_mov_S">
                    {% trans "Entra els diferents torns a cada franja mati, tarda, nit." %}
                    </div>
                </div>
            </div>
        </div>
        <div id="form_personal_deploy">
            <hr />
            <div class="row" style="margin-bottom:10px;">
                <div class="span1">
                </div>
                <div class="span3">{% trans "Torn" %}</div>
                <div class="span3">{% trans "Categoria de personal" %}</div>
                <div class="span1"></div>
                <div class="span3" id="cat_personal_list">
                    {% trans "Assignats" %}
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="span1">
                {% trans "Matí" %}
                </div>
                <div class="span3">{{ form_periode.sequencia_m }}</div>
                <div class="span3">{{ form_periode.categoria_m }}</div>
                <div class="span1">            
                    {{ form_periode.personal_m }}
                    <i id="add_cat_personal_m" class="icon-plus add_cat_personal" style="cursor:pointer"></i>  
                </div>
                <div class="span3 cat_personal_list" id="cat_personal_list_m">
                    <em class="muted">{% trans "No s'ha assignat personal" %}</em>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="span1">
                {% trans "Tarda" %}
                </div>
                <div class="span3">{{ form_periode.sequencia_t }}</div>
                <div class="span3">{{ form_periode.categoria_t }}</div>
                <div class="span1">            
                    {{ form_periode.personal_t }}
                    <i id="add_cat_personal_t" class="icon-plus add_cat_personal" style="cursor:pointer"></i>  
                </div>
                <div class="span3 cat_personal_list" id="cat_personal_list_t">
                    <em class="muted">{% trans "No s'ha assignat personal" %}</em>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="span1">
                {% trans "Nit" %}
                </div>
                <div class="span3">{{ form_periode.sequencia_n }}</div>
                <div class="span3">{{ form_periode.categoria_n }}</div>
                <div class="span1">            
                    {{ form_periode.personal_n }}
                    <i id="add_cat_personal_n" class="icon-plus add_cat_personal" style="cursor:pointer"></i>  
                </div>
                <div class="span3 cat_personal_list" id="cat_personal_list_n">
                    <em class="muted">{% trans "No s'ha assignat personal" %}</em>
                </div>
            </div>
        </div>
        <div id="form_hores_deploy" style="display:none;">
            <hr />
            <div class="row">
                <div class="span2">
                    <label class="control-label" for="id_seq_data_inici">{% trans "Hora d'inici" %}:</label>
                </div>
                <div class="span2">
                    <label class="control-label" for="id_seq_fi">{% trans "Hora final" %}:</label>
                </div>
                <div class="span2">
                    <label class="control-label" for="id_seq_fi">{% trans "Comentari" %}:</label>
                </div>
            </div>
            <div class="row">
                <div class="span2">            
                    <div class="input-append">
                        <input type="text" name="mov_hora_inici" id="id_mov_hora_inici" 
                               class="input-mini time-picker">
                        <span class="add-on">
                            <i class="icon-time"></i>
                        </span>
                    </div>
                </div>
                <div class="span2">            
                    <div class="input-append">
                        <input type="text" name="mov_hora_final" id="id_mov_hora_final" 
                               class="input-mini time-picker">
                        <span class="add-on">
                            <i class="icon-time"></i>
                        </span>
                    </div>
                </div>
                <div class="span7">
                    <div class="input-append">
                    {{ form_periode.mov_comentari }}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}

<!-- Modal d'esborrat -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Esborrar" %} {% trans "Equip" %} <br />"<i>{{ form.nom.value }}</i>"?</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Segur que vols esborrar aquest" %} {% trans "Equip" %}?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Tancar" %}</button>
        <a href="delete/" class="btn btn-danger" type="button">{% trans "Esborrar" %}</a>
    </div>
</div>

{% endblock content %}

{% block localjs %}
<script type="text/javascript">
    var categoria_personal = {},
        string_cats = '',
        categories = {'m':{}, 't':{}, 'n': {}};
        string_catcat = {'m':'', 't':'', 'n': ''};


    function redraw_categories(franja) {
        var html = '<ul class="nav nav-tabs nav-stacked">',
            minus_link = '<i class="icon-minus" style="padding-left:5px; cursor:pointer"></i>';

        string_cats = '';
        string_catcat[franja] = ''
        // Per comptar elements d'un dict
        // Es compten les keys del objecte
        // if (Object.keys(categoria_personal).length == 0) {
        if (Object.keys(categories[franja]).length == 0) {
            html = '<em class="muted">No s\'ha assignat personal</em>';
        } else {
            // for (row in categoria_personal) {
            for (row in categories[franja]) {
                // cat = categoria_personal[row];
                cat = categories[franja][row]
                html += '<li id="' + franja +'_'+ row +'">' + minus_link + cat['qty'] + ' ' + cat['cat'];
                string_cats += row + ',' + cat['qty'] + ';';
                string_catcat[franja] += row + ',' + cat['qty'] + ';';
            }
            html += '</ul>'
        }
        $('#cat_personal_list_' + franja).html(html);
    }

    // Datepickers per a ccamps de data inici / fi
    $('#id_seq_data_inici').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});
    $('#id_seq_data_fi').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});

    // Mostra i amaga els selects de moviment/rotacio/sequencia
    $('[name=tipus_accio]').click(function() {
        $('#entrada_selects').children().hide();
        tipus = $(this).val()  // M, S
        $('#container_tipus_mov_' + tipus).show();
        
        // Mostra/amaga els radios de 1era sequencia
        if (tipus != 'S') {  // Si no es rotacio
            $('#form_personal_deploy').hide();
        } else {
            $('#form_personal_deploy').show();
        }
        // I mostra/ Amaga les hores si no es M
        if (tipus != 'M') {  // Si no es rotacio
            $('#form_hores_deploy').hide();
        } else {
            $('#form_hores_deploy').show();
        }

    });

    // Nomes permeto entrada de nombres al camp de text
    $('.time-picker').numeric({decimal: false, negative: false});

    // Afegeixo els : i autocompleto, en cas de menys de 4 caracters
    $('.time-picker').blur(function() {
        in_val = $(this).val(),
        len = in_val.length,
        out_val = '';

        if (len == 1) 
            out_val = '0' + in_val + ':00';
        else if (len == 2)
            out_val = in_val + ':00';
        else if (len == 3)
            out_val = in_val.substr(0, 2) + ':' + in_val.substr(2, 1) + '0';
        else if (len == 4)
            out_val = in_val.substr(0, 2) + ':' + in_val.substr(2, 2);
        $(this).val(out_val);
    });

    // Afegir tupla categoria/personal
    $('.add_cat_personal').click( function () {
        var franja = ($(this).attr('id')).slice(-1),
            id_cat = $('#id_categoria_' + franja).val(),
            txt_cat = $('#id_categoria_' + franja +' :selected').text(),
            num_personal = $('#id_personal_' + franja).val();

        // console.log(franja, id_cat, txt_cat, num_personal);

        if (num_personal > 0) {
            // categoria_personal[id_cat] = {'qty': num_personal,
            //                               'cat': txt_cat};
            categories[franja][id_cat] = {'qty': num_personal,
                                          'cat': txt_cat};
            redraw_categories(franja);
        }
    });

    // Treure categoria de la llista
    // la ID ve en format FRANJA_ID
    $('.cat_personal_list').on('click', 'i' , function(e){ 
        var tipus = ($(this).parent().attr('id')).charAt(0);
            id_clicked = ($(this).parent().attr('id')).slice(-1),
            
        
        // console.log(tipus, id_clicked);

        // delete categoria_personal[id_clicked]
        delete categories[tipus][id_clicked];
        redraw_categories(tipus);
    });
    $('#cat_personal_list_t').on('click', 'i' , function(e){
        id_clicked = $(this).parent().attr('id');
        delete categoria_personal[id_clicked]
        redraw_categories('t');
    });
    $('#cat_personal_list_n').on('click', 'i' , function(e){
        id_clicked = $(this).parent().attr('id');
        delete categoria_personal[id_clicked];
        redraw_categories('n');
    });

    // Abans del submit pleno un camp fake amb la llista de valors
    // com que es un obj el converteixo a json str
    $('#button-submit').click( function (){
        // $('#id_categories_personal').val(string_cats);
        $('#id_categories_personal').val(JSON.stringify(string_catcat));
        
        // console.log(string_catcat, $('#id_categories_personal').val());

        $('#form_dia').submit();
    });

</script>

{% endblock localjs %}
