{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Grups" %}
{% if grup.id %} :: {{ grup.nom }}{% endif %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h4>
    <a href="{% url 'unitats'  %}">{% trans "Unitats" %}</a> &raquo; 
    <a href="{% url 'unitat' grup.unitat.id %}">{{ grup.unitat.descripcio }}</a> &raquo;
    <span class="muted">
    {% if grup.id %}
        {% trans "Editar" %}
    {% else %}
        {% trans "Nou" %}
    {% endif %}
    {% trans "Grup" %}
    </span>
    {% if grup.id %}
        &raquo; {{ grup.nom }}
    {% endif %}
</h4>

<form action="." method="post" class="form-horizontal" name="form_grup">
    {% csrf_token %}    
    <input type="hidden" name="unitat" id="id_unitat" value="{{ grup.unitat.id }}">
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %}:</label>
        <div class="controls">
            <input type="text" name="nom" id="id_nom" class="input-xlarge" placeholder="Nom" value="{{ form.nom.value }}">
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_descripcio">
            {% trans "Descripció" %}:
        </label>
        <div class="controls">
            <!-- S'ha de mantenir el contingut enganxat al final del 
            tancament de l'inicidel tag-->
            <textarea rows="5" id="id_descripcio" name="descripcio" 
                      class="input-xxlarge" 
                      placeholder="{% trans "Descripcio" %}">{% if form.descripcio.value != None %}{{ form.descripcio.value }}{% endif %}</textarea>
        </div>
    </div>

    {% if grup.equip_set.all %}
    <div class="control-group">
        <label class="control-label" for="id_nom">
            {% trans "Equips assignats" %} :
        </label>
        <div class="controls">
            <table class="table table-condensed table-hover table-bordered">
                <thead>  
                    <tr>
                        <th>{% trans "Equip" %}</th>
                        <th class="muted">{% trans "Periode" %}</th>
                        <th class="muted">{% trans "Torn" %}</th>
                        <th class="muted">{% trans "Personal" %}</th>
                        <th>&nbsp;</th>
                    </tr>  
                </thead>  
                <tbody>
                {% for equip in grup.equip_set.all %}
                <tr>
                    <td colspan="4">
                        <a href="{% url 'unitat_grup_equip' equip.grup.unitat.id equip.grup.id equip.id %}">
                            {{ equip.nom }}
                        </a>                       
                    </td>
                    <td style="text-align:center">
                        <a href="equip/{{ equip.id }}/delete/" 
                           class="text-error"><i class="icon-trash"></i></a>
                    </td>
                </tr>
                {% for periode in equip.periodeequip_set.all %}
                    <tr>
                    <td colspan="2" style="padding-left:40px">{{ periode.data_inici }} - {{ periode.data_fi }}</td>
                    <td>{{ periode.sequencia }}</td>
                    <td>
                        {% for personal in periode.periodeequipsequenciapersonal_set.all%}
                            {{ personal.categoria }}: {{ personal.personal }}
                            {% if not forloop.last %}
                                <br />
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td></td>
                    </tr>
                {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

   {% if llocstreball_bool %}
    <div class="control-group">
        <label class="control-label" for="id_nom">
            {% trans "Llocs de treball" %} :
        </label>
        <div class="controls">
            <table class="table table-condensed table-hover table-bordered">
                <thead>  
                    <tr>
                        <th>{% trans "Dates" %}</th>
                        <th>{% trans "Torn" %}</th>
                        <th>{% trans "Categoria Professional" %}</th>
                        <th></th>
                    </tr>  
                </thead>  
                <tbody>
                {% for row in llocstreball_query %}
                    {% ifchanged row.inici %}
                    <tr>
                        <td colspan="4" style="background-color: #ddd"></td>
                    </tr>
                    {% endifchanged %}
                    <tr>
                        <td>
                        {% ifchanged row.inici %}
                            {% if row.fi %}
                                {% trans "De" %} 
                                <strong>{{ row.inici|date:'d-m-Y' }}</strong> 
                                {% trans "a" %} 
                                <strong>{{ row.fi|date:'d-m-Y' }}</strong>
                            {% else %}
                                {% trans "Des de" %} 
                                <strong>{{ row.inici|date:'d-m-Y' }}</strong>
                            {% endif %}
                        {% endifchanged %}
                        </td>
                        <td>
                            {% ifchanged row.sequencia %}
                                <a href="{% url 'sequencia' row.sequencia.id %}">
                                    {{ row.sequencia }}
                                </a>
                            {% endifchanged %}
                        </td>
                        <td>
                            {{ row.total_especialistes }} {{ row.categoria }}
                        </td>
                        <td style="text-align:center">
                            <a href="{{ row.sequencia_id }}/{{ row.categoria_id }}/delete/" class="text-error"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
    <div class="form-actions">
        <div class="pull-right">
            {% if grup.id %}
                <a href="{% url 'unitat_grup_equip' grup.unitat.id grup.id 0 %}" class="btn" role="button">
                    {% trans "Afegir" %} {% trans "Equip" %}
                </a>
                {% if False %}
                <a href="0/" class="btn" role="button">
                    {% trans "Afegir" %} {% trans "Lloc(s) de treball" %}
                </a>
                {% endif %}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">{% trans "Esborrar" %} {% trans "Grup" %}
                </a>
            {% endif %}

            <a href="{% url 'unitat' grup.unitat.id %}" class="btn">
                {% trans "Cancelar" %}
            </a>            

            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}</button>
        </div>
    </div>
</form>

<!-- Modal d'esborrat -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Esborrar" %} {% trans "Grup" %} <br />"<i>{{ form.nom.value }}</i>"?</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Segur que vols esborrar aquest" %} {% trans "Grup" %}?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Tancar" %}</button>
        <a href="delete/" class="btn btn-danger" type="button">{% trans "Esborrar" %}</a>
    </div>
</div>

{% endblock content %}
