{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Agrupacions de Categories" %}{% endblock title %}

{% block content %}
{% autosort grups_categories %}
<h3>{% trans "Grups de categories" %}.
    <small>
        {% trans "Escull un" %} 
        {% trans "Grup" %} 
        {% trans "per editar-ne les seves propietats" %}.
    </small>
</h3>
<table class="table table-striped table-condensed hover">  
    <thead>  
        <tr>
            <th>{% anchor nom "Grup" %}</th>  
            <th>{% trans "Categories" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for gc in grups_categories %}
        <tr>
            <td>
                <a href="{% url 'grup_categoria' gc.id %} ">{{ gc.nom }}</a>
            </td>
            <td>
                {% for categoria in gc.metacategoriaprofesionalkarat_set.all %}
                    <div>{{ categoria.descripcio }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-actions">
    <div class="pull-right">
        <a href="0" class="btn btn-primary save">
            {% trans "Afegir" %} {% trans "Grup de Categories" %}
        </a>
    </div>
</div>
{% endblock content %}
