{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Grups" %}{% endblock title %}

{% block content %}
{% autosort grups %}

<h4>
    <a href="{% url 'unitats'  %}">{% trans "Unitats" %}</a> &raquo; 
    <a href="{% url 'unitat' unitat.id %}">{{ unitat.descripcio }} &raquo;</a>
    {% trans "Grups" %}. <small>{% trans "Escull un" %} {% trans "grup" %} {% trans "per editar les serves propietats" %}</small></h3>
    </span>
</h4>

<table class="table table-striped table-condensed hover">  
    <thead>  
        <tr>
            <th>{% anchor nom "Nom" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for grup in grups %}
        <tr>            
            <td>
                <a href="{% url 'grup_unitat' unitat.id grup.id  %}">
                {{ grup.nom }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="form-actions">
    <div class="pull-right">
        <a href="0" class="btn btn-primary save">{% trans "Afegir" %} {% trans "Grup" %}</a>
    </div>
</div>


{% endblock content %}
