{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Hores Extraordinaries" %}{% endblock title %}

{% block content %}
{% autosort hores %}

<h3>{% trans "Hores Extraordinaries" %}
    <small>
    {% trans "Escull una" %} 
    {% trans "Hora" %} 
    {% trans "per editar les seves propietats" %}
    </small>
</h3>
<table class="table table-striped table-condensed hover">  
    <thead>  
        <tr>
            <th>{% anchor ordre_excel "Columna" %}</th>
            <th>{% anchor codi "Codi Karat" %}</th>
            <th>{% anchor nom "Nom" %}</th>
            <th>{% anchor tipus "Tipus" %}</th>
            <th>{% anchor vista "Calcul" %}</th>
            <th>{% anchor preu "Preu Unitari" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for hora in hores %}
        <tr>
            <td>{{ hora.ordre_excel }}</td>
            <td>{{ hora.codi }}</td>
            <td>
                <a href="{% url 'hora_extra' hora.id %}">
                    {{ hora.nom }}
                </a>
            </td>
            <td>{{ hora.get_tipus_display }}</td>
            <td>{{ hora.vista }}</td>
            <td>{{ hora.preu }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-actions">
    <div class="pull-right">
        <a href="0/" class="btn btn-primary save">
            {% trans "Afegir" %} {% trans "Hora Extraordinaria" %}
        </a>
    </div>
</div>
{% endblock content %}
