{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Hores Extraordinaries" %}
{% if extra.id %} :: {{ extra.nom }}{% endif %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h3><a href="{% url 'hores_extra'  %}">{% trans "Hores Extraordinaries" %}</a> &raquo; 
    <span class="muted">
    {% if extra.id %}
        {% trans "Editar" %} {% trans "Hora Extraordinaria" %}
    {% else %}
        {% trans "Nova" %} {% trans "Hora Extraordinaria" %}
    {% endif %}
    </span>
</h3>

<form action="." method="post" class="form-horizontal" name="form_moviments">
    {% csrf_token %}
    {{ form.dies_numero.as_hidden }}
    <div class="control-group {% if form.ordre_excel.errors %} error {% endif %}">
        <label class="control-label" for="id_vista">{% trans "Ordre de columna" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.ordre_excel }}
            {% if form.ordre_excel.errors %}
                <span class="help-inline">
                    {% for error in form.ordre_excel.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>    
    <div class="control-group {% if form.codi.errors %} error {% endif %}">
        <label class="control-label" for="id_codi">{% trans "Codi Karat" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.codi }}
            {% if form.codi.errors %}
                <span class="help-inline">
                    {% for error in form.codi.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.nom }}
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.descripcio.errors %} error {% endif %}">
        <label class="control-label" for="id_descripcio">{% trans "Descripcio" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.descripcio }}
            {% if form.descripcio.errors %}
                <span class="help-inline">
                    {% for error in form.descripcio.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.tipus.errors %} error {% endif %}">
        <label class="control-label" for="id_tipus">{% trans "Tipus" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.tipus }}
            {% if form.tipus.errors %}
                <span class="help-inline">
                    {% for error in form.tipus.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.comput.errors %} error {% endif %}">
        <label class="control-label" for="id_comput">{% trans "Comput" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.comput }}
            {% if form.comput.errors %}
                <span class="help-inline">
                    {% for error in form.comput.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.vista.errors %} error {% endif %}">
        <label class="control-label" for="id_vista">{% trans "Comput" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.vista }}
            {% if form.vista.errors %}
                <span class="help-inline">
                    {% for error in form.vista.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.preu.errors %} error {% endif %}">
        <label class="control-label" for="id_vista">{% trans "Preu Unitari" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.preu }}
            {% if form.preu.errors %}
                <span class="help-inline">
                    {% for error in form.preu.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <hr />
    <h4>{% trans "Formula de calcul d'hora implicita" %}</h4>
    <div class="control-group {% if form.dies_setmana.errors %} error {% endif %}">
        <label class="control-label" for="id_vista">{% trans "Dies d'activacio" %}<span class="muted">: </span> </label>
        <div class="controls dies-setmana">
            {{ form.dies_setmana }}
        </div>
    </div>
    <div class="control-group {% if form.es_dia_especial.errors %} error {% endif %}">
        <label class="control-label" for="id_vista">
            {% trans "Es festiu especial?" %}<span class="muted">: </span>
            <br />
            <span class="muted">{% trans "(Nadal i Cap d'Any)" %}</span>
        </label>
        <div class="controls dies-setmana">
            {{ form.es_dia_especial }}
        </div>
    </div>
    <div class="control-group {% if form.hora_inici.errors %} error {% endif %}">
        <label class="control-label" for="id_vista">{% trans "Hora d'inici" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.hora_inici }}
            {% if form.hora_inici.errors %}
                <span class="help-inline">
                    {% for error in form.hora_inici.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.hora_fi.errors %} error {% endif %}">
        <label class="control-label" for="id_vista">{% trans "Hora final" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.hora_fi }}
            {% if form.hora_fi.errors %}
                <span class="help-inline">
                    {% for error in form.hora_fi.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.festiu_laboral.errors %} error {% endif %}">
        <label class="control-label" for="id_vista">{% trans "Dia festiu/laboral" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.festiu_laboral }}
            {% if form.festiu_laboral.errors %}
                <span class="help-inline">
                    {% for error in form.festiu_laboral.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>

    <div class="form-actions">
        <div class="pull-right">
            {% if extra.id %}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                   {% trans "Esborrar" %} {% trans "Hora Extraordinaria" %}
               </a>
            {% endif %}
            <a href="{% url 'moviments' %}" class="btn">
                {% trans "Cancelar" %}
            </a>            
            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}
            </button>
        </div>
    </div>
</form>

<!-- Modal d'esborrat -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">×
        </button>
        <h3 id="myModalLabel" class="text-warning">
            {% trans "Esborrar" %} {% trans "Hora Extraordinaria" %}
            {{ extra }}?
        </h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">
            {% trans "Segur que vols esborrar aquesta" %} {% trans "Hora Extraordinaria" %}?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            {% trans "Tancar" %}
        </button>
        <a href="delete/" class="btn btn-danger" type="button">
            {% trans "Esborrar" %}
        </a>
    </div>
</div>
{% endblock content %}

{% block localjs %}
<script type="text/javascript">
    // Script per transformar CommaSeparatedInteger a checkboxes
    arr = $('#id_dies_numero').val().split(',');
    arr.forEach(function(elem) {
        $('#id_dies_setmana_' + elem).attr('checked', 'checked');
    });
</script>
{% endblock localjs %}


