{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Incidencies" %}
{% if incidencia.id %} :: {{ incidencia.nom }} {% endif %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}


{% block content %}
{% autosort incidencies %}
{% with request.user.get_profile.permis_planilles as permis %}
<h4>{% trans "Incidencies" %}. 
<small>
    {% trans "Escull una" %} 
    {% trans "Incidencia" %} 
    {% trans "per editar-la" %} 
</small>
</h4>
<table class="table table-striped table-hover table-condensed hover">  
    <thead>
        <tr>
            <th>{% anchor nom "Nom" %}</th>
            <th>{% anchor tipus "Codi" %}</th>
            <th>{% trans "Color" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for incidencia in incidencies %}
        <tr>
            <td>
                <a href="{% url 'incidencia' incidencia.id %}">{{ incidencia.nom }}</a>
            </td>
            <td>
                {{ incidencia.codi }}
            </td>
            <td>
                <div class="form_sequencia_color"
                     style="color: {{ incidencia.color_text }};
                            background-color: {{ incidencia.color }}"></div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if permis == 'RRHH' or permis == 'ROOT' %}
<div class="form-actions">
    <div class="pull-right">
        <a href="0" class="btn">
            {% trans "Afegir" %} {% trans "Incidencia" %}
        </a>
    </div>
</div>
{% endif %}
{% endwith %}
{% endblock content %}

