{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Incidencies" %}
{% if incidencia.id %} :: {{ incidencia.nom }}{% endif %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
{% with request.user.get_profile.permis_planilles as permis %}
<h3><a href="{% url 'incidencies'  %}">{% trans "Incidencies" %}</a> &raquo; 
    <span class="muted">
    {% if incidencia.id %}
        {% trans "Editar" %} {% trans "Incidencia" %}
    {% else %}
        {% trans "Nova" %} {% trans "Incidencia" %}
    {% endif %}
    </span>
</h3>

<form action="." method="post" class="form-horizontal" name="form_incidencies">
    {% csrf_token %}
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %}<span class="muted">:</span></label>
        <div class="controls">
            <input type="text" name="nom" id="id_nom" class="input-xxlarge" 
                   placeholder="{% trans "Nom" %}" value="{{ form.nom.value }}">
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.codi.errors %} error {% endif %}">
        <label class="control-label" for="id_codi">{% trans "Codi" %}<span class="muted">:</span></label>
        <div class="controls">
            <input type="text" name="codi" id="id_codi" class="input-small" 
                   placeholder="{% trans "codi" %}" value="{{ form.codi.value }}">
            {% if form.codi.errors %}
                <span class="help-inline">
                    {% for error in form.codi.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>    
    </div>
    <div class="control-group {% if form.color.errors %} error {% endif %}">
        <label class="control-label" for="id_color">{% trans "Color" %}<span class="muted">:</span></label>
        <div class="controls">
            <input type="text" name="color" id="id_color" class="kolorPicker input-small" 
                   placeholder="{% trans "Color" %}" value="{{ form.color.value }}">

        </div>
    </div>
    <div class="control-group {% if form.color_text.errors %} error {% endif %}">
        <label class="control-label" for="id_color">{% trans "Color del text" %}<span class="muted">:</span></label>
        <div class="controls">
            <span>
                <label for="id_color_text_1">
                    <input type="radio" id="id_color_text_1" value="#000" 
                           name="color_text"
                           {% if form.color_text.value == '#000' %}
                               checked="checked"
                           {% endif %}
                           >
                {% trans "Negre" %}
                </label>
            </span>
            <span>
                <label for="id_color_text_2">
                    <input type="radio" id="id_color_text_2" value="#fff" 
                           name="color_text"
                           {% if form.color_text.value == '#fff' %}
                               checked="checked"
                           {% endif %}
                           >
                {% trans "Blanc" %}
                </label>
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <div class="form_sequencia_color"></div>
        </div>
    </div>
    <div class="control-group {% if form.text_suport.errors %} error {% endif %}">
        <label class="control-label" for="id_text_suport">{% trans "Text de suport" %}<span class="muted">:</span></label>
        <div class="controls">
            {{ form.text_suport }}
            {% if form.text_suport.errors %}
                <span class="help-inline">
                    {% for error in form.text_suport.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>    
    </div>
    {% if permis == 'RRHH' or permis == 'ROOT' %}
    <div class="form-actions">
        <div class="pull-right">
            {% if incidencia.id %}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                   {% trans "Esborrar" %} {% trans "Incidencia" %}
               </a>
            {% endif %}
            <a href="{% url 'moviments' %}" class="btn">
                {% trans "Cancelar" %}
            </a>            
            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}
            </button>
        </div>
    </div>
    {% endif %}
</form>

<!-- Modal d'esborrat -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">×
        </button>
        <h3 id="myModalLabel" class="text-warning">
            {% trans "Esborrar" %} {% trans "Incidencia" %} {{ incidencia.nom }}?
        </h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">
            {% trans "Segur que vols esborrar aquesta" %} {% trans "Incidencia" %}?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            {% trans "Tancar" %}
        </button>
        <a href="delete/" class="btn btn-danger" type="button">
            {% trans "Esborrar" %}
        </a>
    </div>
</div>
{% endwith %}
{% endblock content %}

{% block localjs %}
    <script src="{{ STATIC_URL }}media/planilles/js/jquery.kolorpicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        function redraw_quadre() {
            quadre_text = $("#id_codi").val();
            quadre_bg_color = $("#id_color").val();

            // Fuck radiobuttons & jQuery
            if ($('#id_color_text_1').attr('checked') == 'checked') 
                quadre_color = '#000';
            else 
                quadre_color = '#fff';

            $('.form_sequencia_color')
                .html(quadre_text)
                .css('background-color', quadre_bg_color)
                .css('color', quadre_color);
        }

        $("#id_codi").on("change", function(event){
            redraw_quadre()
        });
        $("#id_color").on("change", function(event){
            redraw_quadre()
        });
        $('#id_color_text_1').on("click", function(event){
            redraw_quadre();

        });
        $('#id_color_text_2').on("click", function(event){
            redraw_quadre()
        });

        redraw_quadre();
    </script>
{% endblock localjs %}
