{% extends "planilles/base.html" %}
{% load url from future %}

{% if notificacions %}
    {% block notificacions %}
    <div class="row">
        <div class="alert alert-success span8">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Molt bé</strong> Has apretat un botó sense errors
        </div>
    </div>
    {% endblock notificacions %}
{% endif %}


{% block content %}
<h3>Escull una unitat o grup:</h3>
<table class="table table-striped table-condensed">  
    <thead>  
        <tr>  
            <th>Centre</th>
            <th>Unitat / Grup</th>  
        </tr>  
    </thead>  
    <tbody>
        {% for centre in centres %}
            {% for unitat in centre.metaunitatidi_set.all %}
            <tr>
                <td>
                    {% ifchanged centre.descripcio %}
                    <a href="{# url 'centre' centre.id  #}">{{ centre.descripcio }}</a>
                    {% endifchanged %}
                </td>
                <td>
                    <a href="{% url 'unitat' unitat.id  %}">{{ unitat.descripcio }}</a>
                </td>
            {% endfor %}
        {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock content %}
