{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}
{% trans "Jornades Anuals" %}{% if jornada.id %} :: {{ jornada.nom }}{% endif %} 
{% endblock title %}


{% block content %}
<h3><a href="{% url 'jornades'  %}">{% trans "Jornades Anuals" %}</a> &raquo; 
    <span class="muted">
    {% if jornada.id %}
        {% trans "Editar" %} {% trans "Jornada Anual" %} 
    {% else %}
        {% trans "Nova" %} {% trans "Jornada Anual" %}
    {% endif %}
    </span>
</h3>

<form action="." method="post" class="form-horizontal" 
      name="form_jornades_anuals">
    {% csrf_token %}
    <input type="hidden" name="es_default_hidden" value="{{ form.es_default.value }}">
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %}</label>
        <div class="controls">
            {{ form.nom }}
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <h5>Jornada diurna</h5><hr />
    <div class="control-group {% if form.hores.errors %} error {% endif %}">
        <label class="control-label" for="id_hores">{% trans "Hores" %}</label>
        <div class="controls">
            {{ form.hores }}
            {% if form.hores.errors %}
                <span class="help-inline">
                    {% for error in form.hores.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>    
    <div class="control-group {% if form.dies_vacances.errors %} error {% endif %}">
        <label class="control-label" for="id_dies_vacances">{% trans "Dies de Vacances" %}</label>
        <div class="controls">
            {{ form.dies_vacances }}
            {% if form.dies_vacances.errors %}
                <span class="help-inline">
                    {% for error in form.dies_vacances.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.dies_lleure.errors %} error {% endif %}">
        <label class="control-label" for="id_dies_lleure">{% trans "Dies de LLeure" %}</label>
        <div class="controls">
            {{ form.dies_lleure }}
            {% if form.dies_lleure.errors %}
                <span class="help-inline">
                    {% for error in form.dies_lleure.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <h5>Jornada noturna</h5><hr />
    <div class="control-group {% if form.hores_nit.errors %} error {% endif %}">
        <label class="control-label" for="id_hores_nit">{% trans "Hores Nit" %}</label>
        <div class="controls">
            {{ form.hores_nit }}
            {% if form.hores_nit.errors %}
                <span class="help-inline">
                    {% for error in form.hores_nit.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
        <div class="control-group {% if form.dies_vacances_nit.errors %} error {% endif %}">
        <label class="control-label" for="id_dies_vacances_nit">{% trans "Dies de Vacances" %}</label>
        <div class="controls">
            {{ form.dies_vacances_nit }}
            {% if form.dies_vacances_nit.errors %}
                <span class="help-inline">
                    {% for error in form.dies_vacances_nit.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.dies_lleure_nit.errors %} error {% endif %}">
        <label class="control-label" for="id_dies_lleure_nit">{% trans "Dies de LLeure" %}</label>
        <div class="controls">
            {{ form.dies_lleure_nit }}
            {% if form.dies_lleure_nit.errors %}
                <span class="help-inline">
                    {% for error in form.dies_lleure_nit.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>


    
    <div class="control-group">
        <div class="controls">
            <label class="control-label" for="id_es_default" class="checkbox" style="width:300px;">
                {% if form.es_default.value %}
                <input disabled="disabled" checked="checked" type="checkbox" name="es_default" id="id_es_default">    
                {% else %}
                <input type="checkbox" name="es_default" id="id_es_default">
                {% endif %}
                {% trans "Jornada per defecte per a nous treballadors" %}
            </label>
        </div>
    </div>

    <div class="form-actions">
        <div class="pull-right">
            {% if jornada.id %}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                    {% trans "Esborrar" %} {% trans "Jornada Anual" %}
                </a>
            {% endif %}
            
            <a href="{% url 'jornades' %}" class="btn">
                {% trans "Cancelar" %}
            </a>
            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}
            </button>
        </div>
    </div>
</form>

<!-- Modal d'esborrat -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">×</button>
        <h3 class="text-warning" id="myModalLabel">
            {% trans "Esborrar" %} {% trans "Jornada Anual" %} {{ jornada.nom }}?
        </h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">
            {% trans "Segur que vols esborrar aquesta" %} {% trans "Jornada Anual" %}?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            {% trans "Tancar" %}
        </button>
        <a href="delete/" class="btn btn-danger" type="button">
            {% trans "Esborrar" %}
        </a>
    </div>
</div>
{% endblock content %}

