{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Jornades Anuals" %}{% endblock title %}

{% block content %}
{% autosort jornades %}

<h4>{% trans "Jornades" %}. 
<small>
    {% trans "Escull un tipus de" %} 
    {% trans "Jornada" %} 
    {% trans "per editar-la" %} 
</small>
</h4>
<table class="table table-striped table-hover table-condensed hover">
    <thead>
        <tr>
            <th></th>
            <th colspan="3" style="text-align:center;">DIA</th>
            <th colspan="3" style="text-align:center;color:#fff;background-color:#888">NIT</th>
        </tr>
        <tr>
            <th>{% anchor nom "Nom" %}</th>
            <th>{% anchor hores "Hores" %}</th>
            <th>{% anchor dies_vacances "Vacances" %}</th>
            <th>{% anchor dies_lleure "Lleure" %}</th>
            <th>{% anchor hores "Hores" %}</th>
            <th>{% anchor dies_vacances_nit "Vacances" %}</th>
            <th>{% anchor dies_lleure_nit "Lleure" %}</th>
        </tr>  
    </thead>
    <tbody>
        {% for jornada in jornades %}
        <tr>
            <td>
                <a {% if jornada.es_default %}class="strong"{% endif %} 
                    href="{% url 'jornada' jornada.id %}">{{ jornada.nom }}</a>
            </td>
            <td>
                {{ jornada.hores }}
            </td>
            <td>
                {{ jornada.dies_vacances }}
            </td>
            <td>
                {{ jornada.dies_lleure }}
            </td>
            <td>
                {{ jornada.hores_nit }}
            </td>            
            <td>
                {{ jornada.dies_vacances_nit }}
            </td>            
            <td>
                {{ jornada.dies_lleure_nit }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-actions">
    <div class="pull-right">
        <a href="0" class="btn">
            {% trans "Afegir" %} {% trans "Tipus de Jornada Anual" %}
        </a>
    </div>
</div>
{% endblock content %}
