{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Màquines" %}{% endblock title %}

{% block content %}
{% autosort equips %}
<h4>{% trans "Màquines" %}. 
    <small>
        {% trans "Escull una" %} 
        {% trans "Equip" %} 
        {% trans "per veure'n les seves propietats" %}.
    </small>
</h4>
<table class="table table-striped table-condensed hover">  
    <thead>
        <tr>
            <th>{% anchor grup "Unitat" %}</th>
            <th>{% anchor grup "Grup" %}</th>
            <th>{% anchor nom "Equip" %}</th>  
            <th>{% trans "Període" %} i {% trans "torn" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for equip in equips %}
        <tr>
            <td>{% ifchanged equip.grup.unitat %}
                {{ equip.grup.unitat }}
            {% endifchanged %}</td>
            <td>{% ifchanged equip.grup %}{{ equip.grup }}{% endifchanged %}</td>
            <td>
                <a href="{% url 'unitat_grup_equip' equip.grup.unitat.id equip.grup.id equip.id %}">
                    {{ equip.nom }}
                </a>
            </td>
            <td>
            {% for periode in equip.periodeequip_set.all %}
                <div>
                    {{ periode.data_inici|date:"d/m/Y" }} - {{ periode.data_fi|date:"d/m/Y" }}
                    {{ periode.sequencia }}
                </div>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if False %}
<div class="form-actions">
    <div class="pull-right">
        <a href="0" class="btn">
            {% trans "Afegir" %} {% trans "Màquina" %}
        </a>
    </div>
</div>
{% endif %}
{% endblock content %}
