{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Màquines" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h4>
    <a href="{% url 'maquines'  %}">{% trans "Màquines" %}</a> &raquo; 
    <span class="muted">{% trans "Màquina" %}:</span>
    <a href="{% url 'maquina' maquina.id %}">
        {{ maquina.nom }} &raquo;
    </a>
    <span class="muted">
        {% trans "Assignar un període a Màquina" %}
    </span>
</h4>

<div class="form-actions">
    <form class="form-inline" name="form_periode_maquina" action="." method="post">
        {% csrf_token %}
        <input type="hidden" id="id_maquina" name="maquina" 
               value="{{ maquina.id }}">
        <h5>1.- {% trans "Escull primer un torn per assignar" %}:</h5>
        <div class="control-group {% if form.sequencia.errors %} error {% endif %}">
            <div class="controls">
                {{ form.sequencia }}
                {% if form.sequencia.errors %}
                    <span class="help-inline">
                        {% for error in form.sequencia.errors %}
                            {{ error }}&nbsp;
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
        </div>
        <h5>2.- {% trans "Escull un periode" %}</h5>
        <div class="control-group">
            <div class="controls">
                <label>{% trans "Data d'Inici" %}: </label>
                {{ form.data_inici }}
                <label>&nbsp;{% trans "Data final" %}: </label>
                {{ form.data_fi }}
            </div>
        </div>
        <div class="pull-right">
            <a href="{% url 'maquina' maquina.id %}" class="btn">
                {% trans "Cancelar" %}
            </a>            

            <button class="btn btn-primary" >
                {% trans "Afegir Període" %}
            </button>
        </div>
    </form>
</div>
{% endblock content %}

{% block localjs %}
    <script type="text/javascript">
        $('#id_data_inici').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});
        $('#id_data_fi').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});
    </script>
{% endblock localjs %}
