{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Màquines" %}
{% if maquina_id != '0' %} :: {{ maquina.nom }}{% endif %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h4>
    <a href="{% url 'maquines'  %}">{% trans "Màquines" %}</a> &raquo; 
    <span class="muted">
    {% if maquina_id == '0' %}
        {% trans "Nova" %}
    {% else %}
        {% trans "Editar" %}
    {% endif %}
    {% trans "Màquina" %}
    </span>
</h4>

<form action="." method="post" class="form-horizontal" name="form_grup">
    {% csrf_token %}    
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %} :</label>
        <div class="controls">
            {{ form.nom }}
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.grup.errors %} error {% endif %}">
        <label class="control-label" for="id_grup">{% trans "Grup" %} :</label>
        <div class="controls">
            {# {{ form.grup }} #}

            <select name="grup" id="id_grup">
                {% for grup in grups %}
                {% ifchanged grup.unitat %}
                    <option value="-1" disabled="disabled">
                        {{ grup.unitat }}
                    </option>
                {% endifchanged %}
                    <option value="{{ grup.id }}"
                        {% if grup.id == maquina.grup.id %}
                            selected="selected"
                        {% endif %}>
                        &nbsp;&nbsp;{{ grup.nom }}
                    </option>
                {% endfor %}
            </select>
            {% if form.grup.errors %}
                <span class="help-inline">
                    {% for error in form.grup.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>


    {% if maquina.periodemaquina_set.all %}
    <div class="control-group">
        <label class="control-label" for="id_nom">
            {% trans "Períodes assignats" %} :
        </label>
        <div class="controls">
            <table class="table table-condensed table-hover table-bordered">
                <thead>  
                    <tr>
                        <th>{% trans "Període" %}</th>
                        <th>{% trans "Dates" %}</th>
                        <th></th>
                    </tr>  
                </thead>  
                <tbody>
                {% for seq in maquina.periodemaquina_set.all %}
                    <tr>
                        <td>{{ seq.sequencia }}</td>
                        <td>
                            {{ seq.data_inici }}
                            {% if seq.data_fi %}- {{ seq.data_fi }}{% endif %}
                        </td>
                        <td style="text-align:center">
                            <a href="periode/{{ seq.id }}/delete/" 
                               class="text-error"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}



    <div class="form-actions">
        <div class="pull-right">
            {% if maquina_id != '0' %}
                <a href="periode" class="btn">
                    {% trans "Afegir" %} {% trans "Periode" %}
                </a>
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                   {% trans "Esborrar" %} 
                   {% trans "Màquina" %}
                </a>
            {% endif %}
            <a href="{% url 'maquines' %}" class="btn">
                {% trans "Cancelar" %}
            </a>
            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}</button>
        </div>
    </div>
</form>

<!-- Modal d'esborrat -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans "Esborrar" %} {% trans "Màquina" %} <br />"<i>{{ form.nom.value }}</i>"?</h3>
    </div>
    <div class="modal-body">
        <p>{% trans "Segur que vols esborrar aquesta" %} {% trans "Màquina" %}?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Tancar" %}</button>
        <a href="delete/" class="btn btn-danger" type="button">{% trans "Esborrar" %}</a>
    </div>
</div>

{% endblock content %}
