{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Moviments" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}


{% block content %}
{% autosort moviments %}

<div class="btn-group span2 pull-right" style="margin-right: 10px">
    <a href="{% url 'moviments'  %}" class="btn {% if not ambit %}disabled{% endif %}">{% trans "Tots" %}</a>
    <a href="{% url 'moviments_filtrats' 'IDI' %}" class="btn {% if ambit == 'IDI' %}disabled{% endif %}">{% trans "IDI" %}</a>
    <a href="{% url 'moviments_filtrats' 'ICS' %}" class="btn {% if ambit == 'ICS' %}disabled{% endif %}">{% trans "ICS" %}</a>
</div>

<h4>{% trans "Moviments" %}.
<small>
    {% trans "Escull un" %} 
    {% trans "Moviment" %} 
    {% trans "per editar-l'ho" %} 
</small>
</h4>
<table class="table table-striped table-hover table-condensed hover">  
    <thead>
        <tr>
            <th>{% anchor nom "Nom" %}</th>
            <th>{% trans "Àmbit" %}</th>            
            <th>{% anchor tipus "Codi" %}</th>
            <th>{% trans "Color" %}</th>
        </tr>  
    </thead>
    <tbody>
        {% for moviment in moviments %}
        <tr>
            <td>
                <a href="{% url 'moviment' moviment.id %}">{{ moviment.nom }}</a>
            </td>
            <td>
                {{ moviment.ambit|safe }}
            </td>

            <td>
                {{ moviment.codi }}
            </td>
            <td>
                <div class="form_sequencia_color"
                     style="color: {{ moviment.color_text }};
                            background-color: {{ moviment.color }}"></div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% with request.user.get_profile.permis_planilles as permis %}
{% if permis == 'RRHH' or permis == 'ROOT' %}
<div class="form-actions">
    <div class="pull-right">
        <a href="{% url 'moviment' 0 %}" class="btn">
            {% trans "Afegir" %} {% trans "Moviment" %}
        </a>
    </div>
</div>
{% endif %}
{% endwith %}
{% endblock content %}

