{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Moviments" %}
{% if moviment.id %} :: {{ moviment.nom }}{% endif %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h3><a href="{% url 'moviments'  %}">{% trans "Moviments" %}</a> &raquo; 
    <span class="muted">
    {% if moviment.id %}
        {% trans "Editar" %} {% trans "Moviment" %}
    {% else %}
        {% trans "Nou" %} {% trans "Moviment" %}
    {% endif %}
    </span>
</h3>

<form action="{% url 'moviment' mov_id %}" method="post" class="form-horizontal" name="form_moviments">
    {% csrf_token %}
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %}<span class="muted">:</span></label>
        <div class="controls">
            <input type="text" name="nom" id="id_nom" class="input-xxlarge" 
                   placeholder="{% trans "Nom" %}" value="{{ form.nom.value }}">
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.codi.errors %} error {% endif %}">
        <label class="control-label" for="id_codi">{% trans "Codi" %}<span class="muted">:</span></label>
        <div class="controls">
            <input type="text" name="codi" id="id_codi" class="input-small" 
                   placeholder="{% trans "codi" %}" value="{{ form.codi.value }}">
            {% if form.codi.errors %}
                <span class="help-inline">
                    {% for error in form.codi.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>    
    </div>
    <div class="control-group">
        <label class="control-label" for="id_es_idi">{% trans "IDI" %}<span class="muted">:</span></label>
        <div class="controls">
            {{ form.es_idi }}
            <small class="muted">{% trans "Moviment pels treballadors amb nòmina IDI" %}.</small>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_es_ics">{% trans "ICS" %}<span class="muted">:</span></label>
        <div class="controls">
            {{ form.es_ics }}
            <small class="muted">{% trans "Moviment pels treballadors amb nòmina ICS" %}.</small>
        </div>
    </div>
    <div class="control-group {% if form.color.errors %} error {% endif %}">
        <label class="control-label" for="id_color">{% trans "Color" %}<span class="muted">:</span></label>
        <div class="controls">
            <input type="text" name="color" id="id_color" class="kolorPicker input-small" 
                   placeholder="{% trans "Color" %}" value="{{ form.color.value }}">

        </div>
    </div>
    <div class="control-group {% if form.color_text.errors %} error {% endif %}">
        <label class="control-label" for="id_color">{% trans "Color del text" %}<span class="muted">:</span></label>
        <div class="controls">
            <span>
                <label for="id_color_text_1">
                    <input type="radio" id="id_color_text_1" value="#000" 
                           name="color_text"
                           {% if form.color_text.value == '#000' %}
                               checked="checked"
                           {% endif %}
                           >
                {% trans "Negre" %}
                </label>
            </span>
            <span>
                <label for="id_color_text_2">
                    <input type="radio" id="id_color_text_2" value="#fff" 
                           name="color_text"
                           {% if form.color_text.value == '#fff' %}
                               checked="checked"
                           {% endif %}
                           >
                {% trans "Blanc" %}
                </label>
            </span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <div class="form_sequencia_color"></div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label for="id_imputa_hores" class="checkbox">
                <input type="checkbox" name="imputa_hores" id="id_imputa_hores"
                       {% if form.imputa_hores.value %}
                        checked="checked"
                       {% endif %}> 
                    {% trans "S'imputen hores" %}.
                    <small class="muted">{% trans "Permet entrar la franja horària en la què s'aplicarà el moviment" %}.</small>
            </label>
            <hr />
            <label for="id_es_computable" class="checkbox">
                <input type="checkbox" name="es_computable" id="id_es_computable"
                       {% if form.es_computable.value %}
                        checked="checked"
                       {% endif %}> 
                    {% trans "Jornada Efectiva" %}.
                    <small class="muted">{% trans "Les hores afectades computen com a jornada efectiva sense sobrepassar les hores del torn. En cas contrari, computen com a no efectiva" %}.</small>
            </label>
            <label for="id_es_jornadaefectiva_afegida" class="checkbox">
                <input type="checkbox" name="es_jornadaefectiva_afegida" id="id_es_jornadaefectiva_afegida"
                       {% if form.es_jornadaefectiva_afegida.value %}
                        checked="checked"
                       {% endif %}> 
                    {% trans "Afegeix Jornada Efectiva" %}.
                    <small class="muted">{% trans "Si el moviment és jornada efectiva, aquest flag fa que les hores que sobrepasen el torn també computin com a tals" %}.</small>
            </label>
            <label for="id_es_jornada" class="checkbox">
                <input type="checkbox" name="es_jornada" id="id_es_jornada"
                       {% if form.es_jornada.value %}
                        checked="checked"
                       {% endif %}> 
                    {% trans "Canvi de Jornada" %}.
                    <small class="muted">{% trans "Si utilitzem aquest flag, cal utilitzar sempre el flag s'imputen hores i el jornada efectiva. Aquest moviment substituirà la quantitat d'hores que el treballador tingués en el seu torn, per les hores entrades amb el moviment. Les hores d'aquest moviment són considerades jornada efectiva" %}.</small>
            </label>
            <label for="id_es_excedencia" class="checkbox">
                <input type="checkbox" name="es_excedencia" id="id_es_excedencia"
                       {% if form.es_excedencia.value %}
                        checked="checked"
                       {% endif %}> 
                    {% trans "Suspensio Contractual" %}.
                    <small class="muted">{% trans "Aquest moviment resta la quantitat d'hores afectades de les hores anuals a treballar per conveni" %}.</small>
            </label>
            <label for="id_es_imputable_sempre" class="checkbox">
                <input type="checkbox" name="es_imputable_sempre" id="id_es_imputable_sempre"
                       {% if form.es_imputable_sempre.value %}
                        checked="checked"
                       {% endif %}>
                    {% trans "Inclou dies no laborables" %}.
                    <small class="muted">{% trans "Permet assignar un moviment a un dia en el què el treballador no treballi" %}.</small>
            </label>
            <label for="id_es_terminator" class="checkbox">
                <input type="checkbox" name="es_terminator" id="id_es_terminator"
                       {% if form.es_terminator.value %}
                        checked="checked"
                       {% endif %}>
                    {% trans "Elimina moviment" %}.
                    <small class="muted">{% trans "Elimina tots els moviments amb el mateix codi, posteriors a la data actual. Utilitzat per exemple per representar una alta mèdica" %}.</small>
            </label>
            <label for="id_es_infinit" class="checkbox">
                <input type="checkbox" name="es_infinit" id="id_es_infinit"
                       {% if form.es_infinit.value %}
                        checked="checked"
                       {% endif %}>
                    {% trans "Fins el 31 de Desembre" %}.
                    <small class="muted">{% trans "El moviment s'aplica per defecte des de la data d'inici fina a final d'any" %}.</small>
            </label>
        </div>
    </div>
    <div class="control-group {% if form.text_suport.errors %} error {% endif %}">
        <label class="control-label" for="id_text_suport">{% trans "Text de suport" %}<span class="muted">:</span></label>
        <div class="controls">
            {{ form.text_suport }}
            {% if form.text_suport.errors %}
                <span class="help-inline">
                    {% for error in form.text_suport.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>    
    </div>
    {% with request.user.get_profile.permis_planilles as permis %}
    {% if permis == 'RRHH' or permis == 'ROOT' %}
    <div class="form-actions">
        <div class="pull-right">
            {% if moviment.id %}
                {# <a href="delete/" class="btn btn-danger" type="button">Esborrar Calendari</a> #}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                   {% trans "Esborrar" %} {% trans "Moviment" %}
               </a>
            {% endif %}
            <a href="{% url 'moviments' %}" class="btn">
                {% trans "Cancelar" %}
            </a>            
            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}
            </button>
        </div>
    </div>
    {% endif %}
    {% endwith %}
</form>

<!-- Modal d'esborrat -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">×
        </button>
        <h3 id="myModalLabel" class="text-warning">
            {% trans "Esborrar" %} {% trans "Moviment" %} {{ moviment.nom }}?
        </h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">
            {% trans "Segur que vols esborrar aquest" %} {% trans "Moviment" %}?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            {% trans "Tancar" %}
        </button>
        <a href="delete/" class="btn btn-danger" type="button">
            {% trans "Esborrar" %}
        </a>
    </div>
</div>
{% endblock content %}

{% block localjs %}
    <script src="{{ STATIC_URL }}media/planilles/js/jquery.kolorpicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        function redraw_quadre() {
            quadre_text = $("#id_codi").val();
            quadre_bg_color = $("#id_color").val();

            // Fuck radiobuttons & jQuery
            if ($('#id_color_text_1').attr('checked') == 'checked') 
                quadre_color = '#000';
            else 
                quadre_color = '#fff';

            $('.form_sequencia_color')
                .html(quadre_text)
                .css('background-color', quadre_bg_color)
                .css('color', quadre_color);
        }

        $("#id_codi").on("change", function(event){
            redraw_quadre()
        });
        $("#id_color").on("change", function(event){
            redraw_quadre()
        });
        $('#id_color_text_1').on("click", function(event){
            redraw_quadre();

        });
        $('#id_color_text_2').on("click", function(event){
            redraw_quadre()
        });

        redraw_quadre();
    </script>
{% endblock localjs %}


