{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Query Treballador / Hora" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h3>{% trans "Query Treballador / Hora" %}</h3>

<form action="." method="post" class="form-horizontal">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="id_treballador">{% trans "Treballador" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.treballador }}
        </div>
    </div>    
    <div class="control-group">
        <label class="control-label" for="id_dia">{% trans "Dia" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.dia }}
        </div>
    </div>    
    <div class="control-group">
        <label class="control-label" for="id_hora">{% trans "Hora" %}<span class="muted">: </span> </label>
        <div class="controls">
            {{ form.hora }}
        </div>
    </div>    
    {% if tipus_hora %}
    <div class="control-group">
        <label class="control-label" for="id_hora">{% trans "Tipus" %}<span class="muted">: </span> </label>
        <div class="controls">
        <h4>{{ tipus_hora }}</h4>
        </div>
    </div>
    {% endif %}
    <div class="form-actions">
        <div class="pull-right">
            <button class="btn btn-primary" type="submit">
            {% trans "Query" %} 
            </button>
        </div>
    </div>

</form>

{% endblock content %}
