{% extends "planilles/base.html" %}
{% load url from future %}
{% load i18n %} 

{% block title %}{% trans "Report" %} :: {{report_title}} {% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">
                        ×
                    </button>
                    <strong>{{ message.tags }}.</strong> {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock notificacions %}

{% block content %}
<h3>{% trans "Report" %}: {{report_title}}</h3>
<form method="post" id="report_form" action="." class="form-horizontal">
    {% csrf_token %}
    {{ form.output.as_hidden }}
    <div class="control-group">
        <label class="control-label" for="id_nom">{% trans "Data inicial" %}<span class="muted">:</span></label>
        <div class="controls">{{ form.data_inici }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_nom">{% trans "Data final" %}<span class="muted">:</span></label>
        <div class="controls">{{ form.data_fi }}</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_nom">{% trans "Unitat" %}<span class="muted">:</span></label>
        <div class="controls">{{ form.unitat }}</div>
    </div>
    <div class="form-actions">
        <div class="pull-right">
            {% if table %}
            <button id="boto-exportar" class="btn" type="button">
                {% trans "Exportar a Excel" %}
            </button>
            {% endif %}
            <button class="btn btn-primary" type="submit">
                {% trans "Llistar" %}
            </button>
        </div>
    </div>
</form>

{{llegenda.VG}}

{% if table %}
<div>
    <table class="table table-bordered table-condensed">
    {% for row in table %}
    <tr>
        {% if forloop.first %}
            {% for key, item in row.items %}
            <td style="text-align:center"><a href="#" rel="">{{ item }}</a></td>
            {% endfor %}
        {% else %}
            {% for key, item in row.items %}
            {% if forloop.first %}
            <td><a href="{% url 'treballador' item.0 %}">{{item.1}}</a></td>
            {% else %}
                {% if item.0 %}
                    <td style="text-align:right"><a href="#" rel="tooltip" title="{{ item.1 }}">{{ item.0 }}</a></td>    
                {% else %}
                    <td class="muted" style="text-align:right">--</td>
                {% endif %}
            {% endif %}
            {% endfor %}
        {% endif %}
    </tr>
    {% endfor %}
    </table>
</div>
{% endif %}

{% if llegenda %}
<div class="row">
    <div class="span3">
        <h3>Llegenda</h3>
        <table class="table table-bordered table-condensed">
        {% for row in llegenda %}
        <tr>
        {% for item in row %}
            <td>{{item}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endif %}
{% endblock content %}

{% block localjs %}
    <script type="text/javascript">
        $('#id_data_inici').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});
        $('#id_data_fi').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});

        $('#boto-exportar').on('click', function() {
            $('#id_output').val('xls');
            $('#report_form').submit();
            
            return false;
        });
            

        $('a[rel="tooltip"]').tooltip({
            'html' : true,
            'placement' : 'top',
            'animation' : false
        });

    </script>
{% endblock localjs %}  

