{% extends "planilles/base.html" %}
{% load url from future %}
{% load i18n %} 

{% block title %}{% trans "Report" %} :: {% trans "Activitat Extraordinaria" %} {% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">
                        ×
                    </button>
                    <strong>{{ message.tags }}.</strong> {{ message|safe }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock notificacions %}

{% block content %}
{% with request.user.get_profile.permis_planilles as permis %}
<h3>{% trans "Report" %}: {% trans "Activitat Extraordinaria" %}</h3>
{% if periode %}
<form method="post" id="report_form" action="{% url 'report_activitat_extra' form.unitat.value periode.id %}"
      enctype="multipart/form-data" class="form-horizontal">
{% else %}
<form method="post" id="report_form" action="{% url 'report_activitat_extra' unitat %}"
      enctype="multipart/form-data" class="form-horizontal">
{% endif %}
    {% csrf_token %}
    {{ form.output.as_hidden }}
    {{ form.periode.as_hidden }}
    <div class="control-group">
        <label class="control-label" for="id_unitat">{% trans "Unitat" %}<span class="muted">:</span></label>
        <div class="controls">{{ form.unitat }}</div>
    </div>
    {% if form.unitat.value %}        
        <div class="control-group">
            <label class="control-label" for="id_nom">{% trans "Fins a data" %}<span class="muted">:</span></label>
            <div class="controls">{{ form.data_fi }}</div>
        </div>
        {% if periodes_val %}
        <div class="control-group">
            <label class="control-label" for="id_validacions">{% trans "Periodes validats" %}<span class="muted">:</span></label>
            <div class="controls">
                {% if False %}
                <select id="id_validacions" name="validacions">
                    {% for validacio in validacions %}
                        <option>{{ validacio|date:"d/m/Y" }}</option>
                    {% endfor %}
                </select>                
                {% endif %}
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <th style="text-align:left">Data final</th>
                        <th>Validat en data</th>
                        {% if permis == 'RRHH' or permis == 'ROOT' %}
                        <th>Validat per</th>    
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for periode_row in periodes_val %}
                        <tr {% if periode_row == periode %} class="info"{% endif %}>
                            <td>
                                <a href="{% url 'report_activitat_extra' form.unitat.value periode_row.id %}">
                                {{ periode_row.data_fi|date:"d/m/Y" }}&nbsp;
                                {{ periode_row.data_fi|date:"F"|capfirst }}
                                </a>
                            </td>
                            <td>{{ periode_row.created_at|date:"d/m/Y" }}</td>
                            {% if permis == 'RRHH' or permis == 'ROOT' %}
                            <td>{{ periode_row.user_validacio.get_profile }}</td>    
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if periodes_exp %}
        <div class="control-group">
            <label class="control-label" for="id_validacions">{% trans "Periodes exportats" %}<span class="muted">:</span></label>
            <div class="controls">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <th style="text-align:left">Data final</th>
                        <th>Validat en data</th>
                        {% if permis == 'RRHH' or permis == 'ROOT' %}
                        <th>Exportat en data</th>
                        <th>Validat per</th>    
                        {% endif %}
                    </thead>
                    <tbody>
                        {% for periode_row in periodes_exp %}
                        <tr {% if periode_row == periode %} class="info"{% endif %}>
                            <td>
                                <a href="{% url 'report_activitat_extra' form.unitat.value periode_row.id %}">
                                {{ periode_row.data_fi|date:"d/m/Y" }}&nbsp;
                                {{ periode_row.data_fi|date:"F"|capfirst }}
                                </a>
                            </td>
                            <td>{{ periode_row.created_at|date:"d/m/Y" }}</td>
                            {% if permis == 'RRHH' or permis == 'ROOT' %}
                            <td>{{ periode_row.updated_at|date:"d/m/Y"}}</td>    
                            <td>{{ periode_row.user_validacio.get_profile }}</td>    
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if permis == 'RRHH' or permis == 'ROOT' %}
        <div class="control-group">
            <label class="control-label" for="id_nom">{% trans "Fitxer excel d'entrada" %}<span class="muted">:</span></label>
            <div class="controls">{{ form.output_file }}</div>
        </div>
        {% endif %}
    {% endif %}
    <div class="form-actions">
        <div class="pull-right">
            {% if users %}
            {# NO es permet validar un periode ja validat #}
            {% if permis == 'CAPU' or permis == 'ROOT' and not periode%}
            <button id="boto-validar" class="btn btn-warning" type="button">
                {% trans "Validar periode actual" %}
            </button>
            {% endif %}
            {% if permis == 'RRHH' or permis == 'ROOT' %}
            {# Nomes es poden tancar periodes validats #}
            {% if periode and not periode.exportat %}
            <button id="boto-tancar" class="btn btn-warning" type="button">
                {% trans "Tancar Periode" %}
            </button>
            {% endif %}
            <button id="boto-exportar-fitxer-entrada" class="btn" type="button">
                {% trans "Exportar segons fitxer d'entrada" %}
            </button>
            <button id="boto-exportar" class="btn" type="button">
                {% trans "Exportar en format XLS" %}
            </button>
            {% endif %}
            {% endif %}
            {% if form.unitat.value %}
            <button id="boto-submit" class="btn btn-primary" type="button">
                {% trans "Calcular pendents" %}
            </button>
            {% endif %}
        </div>
    </div>
</form>

{% if users %}
{% if periode %}
    {% if periode.exportat %}
        <h4>{% trans "Resum dels moviments exportats fins a data" %} 
    {% else %}
        <h4>{% trans "Resum dels moviments validats fins a data" %} 
    {% endif %}
{% else %}
    <h4>{% trans "Resum dels moviments no validats fins a data" %} 
{% endif %}
        {{ form.data_fi.value }}.
    </h4>


<table class="table table-bordered table-condensed table-striped">
    <thead>
        <th></th>
        {% for mov in movs_extra %}
            <th style="text-align:right;">
                <a rel="tooltip" title="{{ mov.nom }}" class="columna-tooltip">
                    {% if mov.tipus == 'I' %}<em>{% endif %}
                    {{ mov.codi }}
                    {% if mov.tipus == 'I' %}</em>{% endif %}
                </a>
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for treb in users %}
            <tr>
                {% for item in treb %}
                {% if forloop.first %}
                    <td class="nom-treballador">
                        <a href="{% url 'activitat_extra_historic' item.id item.username %}" class="pull-left"><i class="icon-calendar"></i>&nbsp;&nbsp;</a>
                        <a href="{% url 'treballador' item.id item.username %}">
                            {{ item.nom }} {{ item.cognom }}
                        </a>
                    </td>
                {% else %}
                    <td style="text-align:right;"{% if item == 0 %}class="muted"{% endif %}>{{ item }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endwith %}
{% endblock content %}

{% block localjs %}
    <script type="text/javascript">
        $('#id_data_inici').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});
        $('#id_data_fi').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});

        $('#id_unitat').on('change', function() {
            window.location = '/idirh/reports/activitat_extra/' + $(this).val();
        })

        // Exportar XLS
        $('#boto-exportar').on('click', function() {
            $('#id_output').val('xls');
            $('#report_form').submit();
        });

        // Exportar Segons fitxer entrada
        $('#boto-exportar-fitxer-entrada').on('click', function() {
            $('#id_output').val('xls-entrada');
            $('#report_form').submit();
        });

        // Validar
        $('#boto-validar').on('click', function() {
            $('#id_output').val('validar');
            $('#report_form').submit();
        });

        // Tancar
        $('#boto-tancar').on('click', function() {
            $('#id_output').val('tancar');
            $('#report_form').submit();
        });

        $('#boto-submit').on('click', function() {
            $('#id_periode').val('');
            $('#report_form').attr('action', '{% url 'report_activitat_extra' form.unitat.value %}');
            $('#report_form').submit();
        });

        create_tooltips();

    </script>
{% endblock localjs %}  

