{% extends "planilles/base.html" %}
{% load url from future %}
{% load i18n %} 

{% block title %}{% trans "Report" %} :: {% trans "Historic Activitat Extraordinaria" %} {% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">
                        ×
                    </button>
                    <strong>{{ message.tags }}.</strong> {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock notificacions %}

{% block content %}
{% with request.user.get_profile.permis_planilles as permis %}
<h3>{% trans "Report" %}: {% trans "Historic Activitat Extraordinaria" %}</h3>
<h4 class="small muted">{{ profile }}</h4>
<table class="table table-bordered table-condensed table-striped">
    <thead>
        <th></th>
        {% for mov in movs_extra %}
            <th style="text-align:right;">
                <a rel="tooltip" title="{{ mov.nom }}">
                    {{ mov.codi }}
                    {% if mov.tipus == 'I' %}*{% endif %}
                </a>
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>    
    {% for mes in treb_mesos  %}
        <tr>
            <td>-{{ mes }}</td>
            {% for mov in movs_extra  %}
                <td>{{ mes.mov }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>


{{ treb_mesos.1.829 }}

{% endwith %}
{% endblock content %}
