{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Rotacions" %}
{% if rotacio.id %} :: {{ rotacio.nom }}{% endif %}
{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h3><a href="{% url 'rotacions'  %}">{% trans "Rotacions" %}</a> &raquo; 
    <span class="muted">
    {% if rotacio.id %}
        {% trans "Editar" %} {% trans "Rotació" %}
    {% else %}
        {% trans "Nova" %} {% trans "Rotació" %}
    {% endif %}
    </span>
</h3>

<form action="{% url 'rotacio' rot_id %}" method="post" class="form-horizontal" name="form_rotacions">
    {% csrf_token %}
    <div class="control-group {% if form.unitat.errors %} error {% endif %}">
        <label class="control-label" for="id_unitat">{% trans "Unitat" %}</label>
        <div class="controls">
            {{ form.unitat }}
            {% if form.unitat.errors %}
                <span class="help-inline">
                    {% for error in form.unitat.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %}</label>
        <div class="controls">
            {# <input type="text" name="nom" id="id_nom" class="input-xxlarge" placeholder="{% trans "Nom" %}" value="{{ form.nom.value }}"> #}
            {{ form.nom }}
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="form-actions">
        <div class="pull-right">
            {% if rotacio.id %}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                   {% trans "Esborrar" %} {% trans "Rotació" %}
               </a>
            {% endif %}
            <a href="{% url 'rotacions' %}" class="btn">
                {% trans "Cancelar" %}
            </a>            
            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}
            </button>
        </div>
    </div>
</form>

<!-- Modal d'esborrat d'any -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">×
        </button>
        <h3 id="myModalLabel" class="text-warning">
            {% trans "Esborrar" %} {% trans "rotació" %} {{ rotacio.nom }}?
        </h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">
            {% trans "Segur que vols esborrar aquesta" %} {% trans "Rotació" %}?
        </p>
        <p class="text-warning">
            {% trans "Disposa dels seguents Torns associats" %}:
            <ul class="unstyled muted">
            {% for row in rotseq %}
                <li>{{ row.ordre }} - {{ row.sequencia }}</li>
            {% endfor %}
            </ul>
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            {% trans "Tancar" %}
        </button>
        <a href="delete/" class="btn btn-danger" type="button">
            {% trans "Esborrar" %}
        </a>
    </div>
</div>


{% if rotseq %}
    <table class="table table-striped table-condensed table-hover table-bordered">
    <thead>  
        <tr>
            <th>{% trans "Ordre" %}</th>  
            <th>{% trans "Torn" %}</th>
            <th>{% trans "Hores" %}</th>
            <th></th>
        </tr>  
    </thead>  
    <tbody>
        {% for row in rotseq %}
        <tr>
            <td>
                {{ row.ordre }}</a>
            </td>
            <td>
                <a href="{% url 'sequencia' row.sequencia.id %}">
                    {{ row.sequencia }}
                </a>
            </td>
            <td>
                {{ row.sequencia.get_hores_format|safe }}
            </td>
            <td>
                <a href="{{ row.id }}/delete" class="text-error">
                    <i class="icon-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if rotacio.id %}
<div class="form-actions">
    <form class="form-inline" name="form_dia"  action="rotaciosequencia/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="span4">
                {% trans "Torn" %}
            </div>
            <div class="span2">
                {% trans "Ordre" %}
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                <!--<a href="0" class="btn btn-primary">Afegir dia (form)</a>-->
                <button class="btn btn-primary" type="submit">
                    {% trans "Afegir" %} {% trans "Torn" %}
                </button>
            </div>
            <input type="hidden" name="rotacio" id="id_rotacio" 
                   value="{{ rotacio.id }}">
            <div class="span4">
                <select name="sequencia" id="id_sequencia" class="input-xlarge">
                    {% for sequencia in sequencies %}
                    <option value="{{ sequencia.id }}">
                        {{ sequencia }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="span2">
                <input type="text" name="ordre" id="id_ordre" 
                       class="input-mini">
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}

