{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% block title %}Rotacions{% endblock title %}

{% block content %}

{% autosort rotacions %}

<h3>Rotacions. <small>Escull una rotació per editar les seves propietats</small></h3>
<table class="table table-striped table-condensed hover">  
    <thead>  
        <tr>
            <th>{% anchor unitat "Unitat" %}</th>
            <th>{% anchor nom "Nom" %}</th>
            <th>{% anchor nom "Torn" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for rotacio in rotacions %}
        <tr>
            <td>
                {{ rotacio.unitat }}
            </td>
            <td>
                <a href="{% url 'rotacio' rotacio.id %}">{{ rotacio.nom }}</a>
            </td>
            <td>
                {% for sequencia in rotacio.sequencia_set.all %}
                    <div>{{ sequencia }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-actions">
    <div class="pull-right">
        <a href="0" class="btn btn-primary save">Afegir Rotació</a>
    </div>
</div>
{% endblock content %}
