{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Planilla" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<form method="post" class="form-horizontal" 
      name="form_unitats">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="id_unitat">{% trans "Unitat" %}</label>
        <div class="controls">
        <select id ="select-unitat">
            <option value="0">- - - - - - - -</option>
            {% for unitat in unitats %}
                <option value="{{ unitat.id }}" 
                {% ifequal unitat.id unitat_id  %}
                    selected="selected"    
                {% endifequal %}
                >
                    {{ unitat }}
                </option>
            {% endfor %}
        </select>
        </div>
    </div>
</form>
{% if calendari %}
<table class="table table-condensed calendari">
    <thead>
        <tr>
            <td class="header-dia" colspan="1"></td>
            <td class="header-dia">
                <a href="{% url 'planilles_data_unitat' data_inici.year data_inici.month data_inici.day unitat_id %}">
                    &lt;&lt;
                </a>
            </td>
            <td class="header-dia" colspan="21" style="text-align:left">{{ data_inici|date:"d/m/Y" }}</td>
            <td class="header-dia" colspan="9" style="text-align:right">
                    {{ data_final|date:"d/m/Y" }}
            </td>
            <td class="header-dia">
                <a href="{% url 'planilles_data_unitat' propera_data.year propera_data.month propera_data.day unitat_id%}">
                    &gt;&gt;
                </a>
            </td>
        </tr>  
        <tr>
            <th colspan="1">{% trans "Treballador / Dies" %}</th>
            {% for dia in dies %}
                <td class="header-dia">{{ dia }}</td>
            {% endfor %}
        </tr>  
    </thead>  
    <tbody>
        {% for row in plan %}
        {% ifchanged row.karat_grup %}
        {% if not forloop.first %}
        <tr>
            <th colspan="24">&nbsp;</th>
        </tr>
        {% endif %}
        <tr>
            <th colspan="24" style="text-align:left">
                <span class="muted">{{ row.karat_grup }}</span>
            </th>
        </tr>
        {% endifchanged %}
        <tr>
            <th class="nom-treballador">
                <a href="{% url 'treballador' row.id row.codi %}" style="text-transform:capitalize">
                {{ row.inicilal }}.
                {{ row.cognom }}
                </a>
            </th>
            {% for dia in row.dies %}
                <td class="dia_{{ dia.tipus }} {{ dia.css }}"
                    {% if dia.style %}
                        style="{{ dia.style }}"
                    {% endif %}>                
                    <a href="#" rel="tooltip" title="{{ dia.tooltip }}">
                    {% if dia.tipus not in dies_no  %}
                        {% if dia.tipus == 'T' %}
                            {{ dia.abrev_torn }}
                        {% else %}
                            {{ dia.tipus }}
                        {% endif %}
                    {% endif %}
                    </a>
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock content %}

{% block localjs %}
<script type="text/javascript">
    function create_tooltips () {
        $('a[rel="tooltip"]').tooltip({
            'html' : true,
            'placement' : 'top',
            'animation' : false
        });
    }

    $('#select-unitat').on('change', function(){ 
        window.location = '/idirh/rrhh/planilla/' + $(this).val();
    });

    create_tooltips();
    
</script>
{% endblock localjs %}