{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}
  {% trans "Recursos Humans" %}
{% endblock %}
{% autosort treballadors %}
{% block content %}
  <h4>
    <small>
      {% trans "Escull a algu" %}
    </small>
  </h4>
  <table class='table table-stripped table-hover table-condensed hover'>
    <thead>
      <tr>
        <th>
          {% anchor authuserprofile__unitat_idi "Unitat" %}
        </th>
        <th>
          {% anchor first_name "Nom" %}
        </th>
        <th>
          {% anchor last_name "Cognoms" %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% for treballador in treballadors %}
        <tr>
          <td>
            {% ifchanged treballador.get_profile.unitat_idi %}
              {{ treballador.get_profile.unitat_idi }}
            {% endifchanged %}
          </td>
          <td>
            <a href='{% url 'treballador' treballador.id treballador.username %}'>
              {{ treballador.get_profile.get_nom_normalitzat }}
            </a>
          </td>
          <td>
            <a href='{% url 'treballador' treballador.id treballador.username %}'>
              {{ treballador.get_profile.get_cognom_normalitzat }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
