{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}
    {% trans "Recursos Humans" %} :: 
    {{ treballador.get_profile.get_nom_normalitzat }} 
    {{ treballador.get_profile.get_cognom_normalitzat }}
{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h4><a href="{% url 'rrhh' %}">{% trans "Recursos Humans" %}</a> &raquo; 
    <span class="muted">
        {% trans "Veure" %} {% trans "Treballador" %}
    </span>
</h4>
{% if form_hores_anuals %}
<form action="canvi_jornada_anual/" method="post" class="form-horizontal" name="form_treballador">
    {% csrf_token %}
    <div class="valor-camp pull-right">
        {{ form_hores_anuals.jornada_anual }}
    </div>
{% else %}
    <form action="" method="" class="form-horizontal" name="form_treballador">
{% endif %}
    <div class="control-group">
        <label class="control-label" for="id_nom">{% trans "Nom" %} :</label>
        <div class="controls">
            <div class="valor-camp">
                {{ treballador.get_profile.get_nom_normalitzat }} 
                {{ treballador.get_profile.get_cognom_normalitzat }}
                <span class="valor-camp muted">
                    {{ treballador.get_profile.categoria_profesional_karat }}
                </span>
            </div>
            <div class="valor-camp muted">
                {{ unitat.descripcio }}
                <span>&nbsp;-&nbsp;
                    {% if treballador.get_profile.empresa %}
                        {{ treballador.get_profile.empresa }}
                    {% else %}
                        {% trans "Aquest treballador no està assignat ni a IDI ni a ICS" %}
                    {% endif %}
                    
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        {% with request.user.get_profile.permis_planilles as permis %}
        {% if permis != 'USER' %}
        <div class="pull-right">
            {% if congelacions %}
                {% trans "Versió" %}: 
                <select class="input-medium" id="snapshots">
                <option value="0">{% trans "Darrera versió" %}</option>
                <option value="0">- - - - - - -</option>
                {% for item in congelacions %}
                    <option value="{{ item|date:"Y/m/d/G/i/" }}"
                    {% if congelacio|date:"Y/m/d/H/i" == item|date:"Y/m/d/H/i" %}
                        selected="selected"
                    {% endif %}
                    >
                        {{ item|date:"d/m/Y H:i" }}
                    </option>
                {% endfor %}
                </select>
            {% endif %}
            <a href="{% url 'congelar_treballador_any' treballador.id treballador.username anyo_def %}" class="btn btn-warning" type="submit">
                {% trans "Validar Calendari" %}
            </a>
        </div>        
        {% endif %} 
        {% endwith %}
        <h4 class="span2">{% trans "Any" %}: {{ anyo_def }}</h4>
        <h5 class="span4">
        {% if darrer_periode_congelat %}
            {% trans "Validat a data" %} {{ darrer_periode_congelat|date:"d/m/Y" }}.
        {% endif %}
        </h5>
    </div>

    {# Selector d'any #}
    <div class="row">
        {% if anys|length > 1 %}
        <span class="pull-right muted">
            <h5>{% trans "Selecciona un altre any" %}:
            {% for anyo in anys %}
                {% if anyo.year != anyo_def %}
                    <a class="muted" href="{% url 'treballador_any' treballador.id treballador.username anyo.year %}">
                        {{ anyo.year }}
                    </a>
                {% endif %}
                {% if not forloop.last and not forloop.first %}<span> | </span>{% endif %}
            {% endfor %}
            </h5>
        </span>
        {% endif %}
        <div class="btn-group span2" style="margin-bottom: 10px">
            <button id="btn-cal-llista" class="btn {% if request.session.cal_vista == 'llista' %}disabled{% endif %}">{% trans "Llista" %}</button>
            <button id="btn-cal-cal" class="btn {% if request.session.cal_vista == 'cal' %}disabled{% endif %}">{% trans "Calendari" %}</button>

        </div>
    </div>

    <div id="calendari-llista" 
    {% if request.session.cal_vista == 'cal' %}
        style="display:none"
    {% endif %}>
    {% if periodes %}
        <div class="control-group">
            <label class="control-label" for="id_nom">
                <strong>{% trans "Rotacions i Torns" %}</strong> :<br />
                <small class="muted">{% trans "Les rotacions i els torns es mostren en l'ordre d'entrada" %}</small>
            </label>
            <div class="controls">
                {% include "planilles/rrhh_treballador_faps.html" %}
            </div>
        </div>
    {% endif %}
    <!-- MOVIMENTS -->
    {% if moviments %}
    <div class="control-group">
        <label class="control-label" for="id_nom">
            <strong>{% trans "Moviments" %}</strong> :
        </label>
        <div class="controls">
            {% include "planilles/rrhh_moviments.html" %}
        </div>
    </div>
    {% endif %}
    {% if extres %}
        <div class="control-group">
            <label class="control-label" for="id_nom">
                <strong>{% trans "Activitat Extra" %}</strong> :
            </label>
            <div class="controls">
                {% include "planilles/rrhh_extres.html" %}
            </div>
        </div>
    {% endif %}
    </div>

    <div id="calendari-cal" 
    {% if request.session.cal_vista == 'llista' %}
        style="display:none"
    {% endif %}>
        <div>
        {% include "planilles/calendari_display_calendari_any.html" %}
        </div>
        <div class="row">
            <div class="pull-right">
                {% trans "Hores treballades" %}:
                <strong title="{% trans "Hores treballades a dia d\'avui" %}"
                        noclass="{{ consolidat.class_hores }}">
                {{ consolidat.hores_treballades_avui }}</strong>,
                &nbsp;{% trans "assignades" %}:
                <strong title="{% trans "Hores assignades per tot l\'any" %}">
                        {{ consolidat.hores_treballades }}</strong>,
                &nbsp;{% trans "conveni" %}:
                <strong title="{% trans "Horas a completar assignades per conveni" %}">
                        {{ consolidat.hores_totals|floatformat:"0" }}</strong>
                &nbsp;|&nbsp;
                <span>{% trans "Dies vacances fets/assignats/meritats" %}: 
                    <strong>{{ consolidat.vacas_fetes }}</strong> / 
                    <strong>{{ consolidat.vacas_totals }}</strong> /
                    <strong>{{ consolidat.vacas_meritades }}</strong>
                </span>&nbsp;
                <span>{% trans "Dies de lleure" %}: 
                    <strong>{{ consolidat.lleure_fets }}</strong> /
                    <strong>{{ consolidat.lleure_totals }}</strong> /
                    <strong>{{ consolidat.lleure_meritats }}</strong>
                </span>&nbsp;
            </div>    
        </div>
        {% if consolidat.data_quitansa.year == anyo_def %}
        <div class="row">
            <div class="pull-right">
                {% trans "Darrera quitança" %}: <strong>{{ consolidat.data_quitansa|date:"d/m/Y" }}</strong>&nbsp;
            </div>
        </div>
        {% endif %}
    </div>
</form>
{% if can_edit %}
<div class="form-actions">
    <form class="form-inline" name="form_dia"  action="." method="post">
        {% csrf_token %}
        <div class="row">
            <div class="span2">
                <label class="control-label" for="id_seq_data_inici">{% trans "Data d'inici" %}:</label>
            </div>
            <div class="span2">
                <label class="control-label" for="id_seq_data_fi">{% trans "Data final" %}:</label>
            </div>
            <div class="span4">
                <label class="radio inline" style="padding-top:0">
                  <input type="radio" name="tipus_accio" id="id_tipus_mov_1" 
                         value="M" checked>{% trans "Moviment" %}
                </label>
                <label class="radio inline" style="padding-top:0">
                  <input type="radio" name="tipus_accio" id="id_tipus_mov_4" 
                         value="E">{% trans "Extra" %}
                </label>
                <label class="radio inline" style="padding-top:0">
                  <input type="radio" name="tipus_accio" id="id_tipus_mov_2" 
                         value="R">{% trans "Rotació" %}
                </label>
                <label class="radio inline" style="padding-top:0">
                  <input type="radio" name="tipus_accio" id="id_tipus_mov_3" 
                         value="S">{% trans "Torn" %}
                </label>
            </div>
            <div class="span2">
                <label class="control-label" for="">{% trans "% Jornada/Reducció" %}:</label>
            </div>
        </div>

        <div class="row">
            <div class="pull-right">
                <button class="btn btn-primary" type="submit">
                    {% trans "Afegir" %} 
                    {% trans "Entrada" %}
                </button>
            </div>
            <div class="span2">            
                <div class="controls">
                    {{ form.seq_data_inici}}
                    {% if form.seq_data_inici.errors %}
                        <span class="help-inline">
                            {% for error in form.seq_data_inici.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="span2">            
                <div class="controls">
                    {{ form.seq_data_fi }}
                    {% if form.seq_data_fi.errors %}
                        <span class="help-inline">
                            {% for error in form.seq_data_fi.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="span4">            
                <div class="controls" id="entrada_selects">
                    <div id="container_tipus_mov_M">
                    {{ form.moviment }}
                    {% if form.moviment.errors %}
                        <span class="help-inline">
                            {% for error in form.moviment.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                    </div>
                    <div id="container_tipus_mov_E" style="display:none">
                    {{ form.extra }}
                    {% if form.extra.errors %}
                        <span class="help-inline">
                            {% for error in form.extra.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                    </div>
                    <div id="container_tipus_mov_R" style="display:none">
                    {{ form.rotacio }}
                    {% if form.rotacio.errors %}
                        <span class="help-inline">
                            {% for error in form.rotacio.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                    </div>
                    <div id="container_tipus_mov_S" style="display:none">
                    {{ form.sequencia }}
                    {% if form.sequencia.errors %}
                        <span class="help-inline">
                            {% for error in form.sequencia.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="span1">            
                <div class="controls">
                    {{ form.reduccio }}
                    {% if form.reduccio.errors %}
                        <span class="help-inline">
                            {% for error in form.reduccio.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
            <div class="span1">            
                <div class="controls">
                    <input class="span1" type="text" id="field_reduccio">
                </div>
            </div>
        </div>
        <div class="row" id="form_rot_deploy">
            {# Aqui s'injecta el form de selecció de primera rotació, if any #}
        </div>
        <div id="form_hores_deploy">
        <hr />
        <div class="row">
            <div class="span2">
                <label class="control-label" for="id_seq_data_inici">{% trans "Hora d'inici" %}:</label>
            </div>
            <div class="span2">
                <label class="control-label" for="id_seq_fi">{% trans "Hora final" %}:</label>
            </div>
            <div class="span1">
                <label class="control-label tipus-desp" for="id_extra_desp">{% trans "Desplaç." %}:</label>
            </div>
            <div class="span6">
                <label class="control-label" for="id_seq_fi">{% trans "Comentari" %}:</label>
            </div>
        </div>
        <div class="row">
            <div class="span2">            
                <div class="input-append">
                    <input type="text" name="mov_hora_inici" id="id_mov_hora_inici" 
                           class="input-mini time-picker">
                    <span class="add-on">
                        <i class="icon-time"></i>
                    </span>
                </div>
            </div>
            <div class="span2">            
                <div class="input-append">
                    <input type="text" name="mov_hora_final" id="id_mov_hora_final" 
                           class="input-mini time-picker">
                    <span class="add-on">
                        <i class="icon-time"></i>
                    </span>
                </div>
            </div>
            <div class="span1">
                <div class="input-append">
                    {{ form.extra_despla }}                
                </div>
            </div>
            <div class="span6">
                <div class="input-append">
                {{ form.mov_comentari }}
                </div>
            </div>
        </div>
        </div>
    </form>
</div>
{% endif %}

<!-- Modal d'esborrat -->
<div id="modal-alerta" class="modal hide " tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">×
        </button>
        <h3 id="myModalLabel" class="text-warning">
            {% trans "Editar Període" %}?
        </h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">
            {% trans "Segur que vols editar aquest Període" %}?
            {% trans "Editar el període d'un treballador pot modificar el comput de jornades ja treballades" %}
        </p>
    </div>
    <div class="modal-footer">        
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            {% trans "Cancelar" %}
        </button>
        <a href="#" class="btn" type="button" id="fake-href-target">
            {% trans "Si, editar" %}
        </a>

    </div>
</div>
{% endblock content %}

{% block localjs %}
    <script type="text/javascript">
        function create_tooltips () {
            $('a[rel="tooltip"]').tooltip({
                'html' : true,
                'placement' : 'top',
                'animation' : false
            });
        }

        // Datepickers per a camps de data inici / fi
        $('#id_seq_data_inici').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});
        $('#id_seq_data_fi').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});

        // Mostra i amaga els selects de moviment/rotacio/sequencia
        $('[name=tipus_accio]').click(function() {
            $('#entrada_selects').children().hide();
            tipus = $(this).val()  // M, E, R, S
            $('#container_tipus_mov_' + tipus).show();            

            // Es mostra la franja d'hores + comentari si
            // Moviment o Extra
            if (tipus == 'M' || tipus == 'E')
                $('#form_hores_deploy').show();
            else
                $('#form_hores_deploy').hide();

            // Nomes si s'especifica Extra es mostra el Desp/Qty
            // Aixo es deixa on-hold

            // if (tipus == 'E') {
            //     attrib = 'visible';
            // } else {
            //     attrib = 'hidden';
            // }
            // $('.tipus-desp').attr('visibility', attrib);
            // console.log($('.tipus-desp'));
        });

        // Nomes permeto entrada de nombres al camp de text
        $('.time-picker').numeric({decimal: false, negative: false});

        // Afegeixo els : i autocompleto, en cas de menys de 4 caracters
        $('.time-picker').blur(function() {
            sanitize_time_input($(this));
        });


        // aquestes dues funcions es complementen, si enro reduccio es
        // completa jornada i viceversa
        // canvio la coma decimal per un punt, also
        $('#id_reduccio').blur(function() {
            val = $(this).val();
            if (isNaN(val)) {
                // Si isNaN pot ser per xx,xx
                // convertim a xx.xx
                val = val.replace(',', '.');
            }
            val = parseFloat(val, 10);
            if (isNaN(val)) {
                return;
            }
            $(this).val(val);
            $('#field_reduccio').val((100 - val).toString().replace(',', '.'));
        });
        
        // la viceversa
        $('#field_reduccio').blur(function() {
            val = $(this).val();
            if (isNaN(val)) {
                val = val.replace(',', '.');
            }
            val = parseFloat(val, 10);
            if (isNaN(val)) {
                return;
            }
            $(this).val(val);
            $('#id_reduccio').val((100 - val).toString().replace(',', '.'));
        });


        // 
        $('#id_rotacio').change(function() {
            rot_id = $(this).val();
            
            if (rot_id.length == 0) {
                $('#form_rot_deploy').html('')
                return;
            }
            // Rotacions
            $.ajax({
                type : 'GET',
                url : '/idirh/rrhh/rotacio_form/' + rot_id + '/',
                success : function(data) {
                    $('#form_rot_deploy').html(data)
                },
                error: function(data) {
                    console.log('Aquí passa alguna cosa, truca als informàtics');
                },
            });

        });

        $('#btn-cal-llista').click(function() {
            update_session('cal_vista', 'llista')
            $(this).addClass('disabled');
            $('#btn-cal-cal').removeClass('disabled');
            $('#calendari-cal').hide();
            $('#calendari-llista').show();
            return false;
        });

        $('#btn-cal-cal').click(function() {
            update_session('cal_vista', 'cal')
            $(this).addClass('disabled');
            $('#btn-cal-llista').removeClass('disabled');
            $('#calendari-llista').hide();
            $('#calendari-cal').show();
            return false;
        });
        
        // Per fer saltar el MODAL d'edició
        $('.fake-href').click(function() {
            $('#fake-href-target').prop('href', $(this).attr('href'));
            $('#modal-alerta').modal('show');

            return false;
        });

        // Autosave de Jornada Anual
        $('#id_jornada_anual').on('change', function() {
            $('[name=form_treballador]').submit()
        });


        // Salt a la URL del snapshot
        $('#snapshots').on('change', function() {
            var url = '/idirh/rrhh/';

            url += '{{ treballador.id }}' + '/'
            url += '{{ treballador.username }}' + '/'
            url += '{{ anyo_def }}' + '/'
            if ($(this).val() != '0') {
                url += $(this).val()
            }
            
            window.location = url;  
        });

        create_tooltips();
    </script>
{% endblock localjs %}