{% load url from future %}
{% load i18n %}

{% with request.user.get_profile.permis_planilles as permis %}
<table class="table table-condensed table-hover table-bordered">
    <thead>  
        <tr>
            <th>{% trans "Dia" %}</th>
            <th>{% trans "Franja" %}</th>
            <th>{% trans "Comentari" %}</th>
            <th>{% trans "Moviment" %}</th>
            {% if permis != 'USER' %}
            <th></th>
            {% endif %}
        </tr>  
    </thead>  
    <tbody>
    {% for moviment in moviments %}
    <tr>
        <td>
            {{ moviment.dia|date:"d/m/Y" }}
        </td>
        <td>
            {{ moviment.get_franja_horaria_format }}
        </td>
        <td>
            {{ moviment.comentari }}
        </td>
        <td>
            <div class="form_sequencia_color list"
                style="color:{{ moviment.moviment.color_text }};
                background-color:{{ moviment.moviment.color }};
                text-align:center;"
                >
                {{ moviment.moviment.codi }}
            </div>
            &nbsp;
            {{ moviment.moviment.nom }}
        </td>
        {% if permis != 'USER' %}
        <td style="text-align:center">
            {% if not moviment.congelat or moviment.dia > primer_dia_editable or permis == 'RRHH' or permis == 'ROOT'%}
            <a href="{{ moviment.id }}/deletemoviment/" class="text-error">
                <i class="icon-trash"></i>
            </a>
            {% else %}
                <i class="icon-trash" style="opacity:0.3"></i>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endwith %}