{% load i18n %}

<div class="span4 offset4">
    <strong>
        {% trans "Escull la" %}
        {% trans "Seqüencia" %}
        {% trans "inicial" %}
        <span class="muted">:</span>
    </strong>
</div>
<div class="span4 offset4">    
    {% for sequencia in sequencies %}
    <label class="radio">
        <input type="radio" name="sequencia_inicial" id="sequencies" 
               value="{{ forloop.counter0 }}"
        {% if forloop.first %}
            checked="checked"
        {% endif %}
        >
        {{ sequencia.sequencia.nom }}
    </label><br />
    {% endfor %}
</div>
