{% extends "planilles/base.html" %}{% load url from future %}{% load sorting_tags %}{% load i18n %}{% block title  %}{% trans "Recursos Humans" %}{% autosort treballadors %}{% block content %}
<h4><small>{% trans "Escull a alguna" %}</small>
</h4>
<table{% __pyjade_attrs attrs=[('class', (('table') , ('table-stripped') , ('table-hover') , ('table-condensed') , ('hover')))] %}>
  <thead>
    <tr>
      <th>{% anchor authuserprofile__unitat_idi "Unitat" %}
      </th>
      <th>{% anchor first_name "Nom" %}
      </th>
      <th>{% anchor last_name "Dos Cognoms" %}
      </th>
    </tr>
  </thead>
  <tbody>{% for treballador in treballadors %}
    <tr>
      <td>{% ifchanged treballador.get_profile.unitat_idi  %}{{treballador.get_profile.unitat_idi|force_escape}}{% endifchanged %}
      </td>
      <td><a{% __pyjade_attrs attrs=[('href: -url treballador treballador.id treballador.username',(True))] %}>{{treballador.get_profile.get_nom_normalitzat|force_escape}}</a>
      </td>
      <td><a{% __pyjade_attrs attrs=[('href: -url treballador treballador.id treballador.username',(True))] %}>{{treballador.get_profile.get_cognom_normalitzat|force_escape}}</a>
      </td>
    </tr>{% endfor %}
  </tbody>
</table>{% endblock %}