{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Torns aplicats a Treballador" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h3><a href="{% url 'treballador_any' treb_id treb_codi anyo %}">{% trans "Treballador" %}</a> &raquo; 
    <span class="muted">
    {% if not periode.congelat %}
        {% trans "Editar Torn de Treballador" %} 
    {% else %}
        {% trans "Veure Torn de Treballador" %} 
    {% endif %}
    </span>
</h3>



<h4>{% trans "Calendari setmanal aplicat de" %} 
    {{ periode.data_inici }} 
    a {{ periode.data_fi }}
</h4>
{% if periode.reduccio %}
    <h5>{% trans "Reducció de jornada al" %} {{ periode.reduccio }}%</h5>
{% endif %}

{% include "planilles/sequencies_franja_form.html" %}

{% endblock content %}

{% if sequencia.id %}
    {% block localjs %}
    <script type="text/javascript">

        /// Nomes permeto entrada de nombres al camp de text
        $('.time-picker').numeric({decimal: false, negative: false});

        /// Afegeixo els : i autocompleto, en cas de menys de 4 caracters
        $('.time-picker').blur(function() {
            in_val = $(this).val(),
            len = in_val.length,
            out_val = '';

            if (len == 1) 
                out_val = '0' + in_val + ':00';
            else if (len == 2)
                out_val = in_val + ':00';
            else if (len == 3)
                out_val = in_val.substr(0, 2) + ':' + in_val.substr(2, 1) + '0';
            else if (len == 4)
                out_val = in_val.substr(0, 2) + ':' + in_val.substr(2, 2);
            $(this).val(out_val);
        });

        $('#id_data_fi_periode').datepicker({weekStart: 1, format: 'dd-mm-yyyy'});



    </script>
    {% endblock localjs %}    
{% endif %}