{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Recursos Humans" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
{% autosort treballadors %}

<div class="row">
    <div class="pull-right">
        <form class="form-search" type="GET">
        <div class="input-append">
            <input name="q" type="text" class="span2 search-query"
                   value="{{ query_string }}" autofocus="autofocus">
            <button type="submit" class="btn">{% trans "Filtrar" %}</button>
        </div>
        </form>
    </div>
    <div class="span6">
        <h4>{% trans "Recursos Humans" %}. 
        <small>
            {% trans "Escull un" %} 
            {% trans "Treballador" %} 
            {% trans "editar el seu" %} 
            {% trans "calendari" %}
        </small>
        </h4>
    </div>
</div>
{% if unitats %}
<div class="row">
    <div class="span6">
    <form id="unitats_form" action="{% url 'rrhh' %}" method="GET">
    <h5>{% trans "Unitats" %}:
        <select id="unitats_select">
            <option value="0">{% trans "Totes les unitats disponibles" %}</option>
            {% for unitat in unitats %}
            <option {% if unitat.id == unitat_id %}selected="selected"{% endif %} 
                value="{{ unitat.id }}">{{ unitat.descripcio }}</option>    
            {% endfor %}
        </select>
    </h5>
    <!--
    <h5>{% trans "Categories" %}:
        {% for categoria in categories %}
            <span>{{ categoria.nom }}</span>
        {% endfor %}
    </h5>
    -->
    </form>
    </div>
</div>
{% endif %}
<table class="table table-striped table-hover table-condensed hover">  
    <thead>
        <tr>
            <th>{% anchor authuserprofile__unitat_idi "Unitat" %}</th>
            <th>{% anchor first_name "Nom" %}</th>
            <th>{% anchor last_name "Cognoms" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for treballador in treballadors %}
        <tr>
            <td>
                {% ifchanged treballador.get_profile.unitat_idi %}
                {{ treballador.get_profile.unitat_idi }}    
                {% endifchanged %}
            </td>
            <td>
                {% if treballador.get_profile.categoria_profesional_karat.grup in categories %}
                    <a href="{% url 'treballador' treballador.id treballador.username %}">
                {% else %}
                    <a href="{% url 'treballador' treballador.id treballador.username %}">
                {% endif %}
                    {{ treballador.get_profile.get_nom_normalitzat }}
                </a>
            </td>
            <td>
                <a href="{% url 'treballador' treballador.id treballador.username %}">
                    {{ treballador.get_profile.get_cognom_normalitzat }}
                </a>
            </td>            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

{% block localjs %}
    <script type="text/javascript">
        $('#unitats_select').on('change', function() {
            var f = $('#unitats_form'),
                url = f.attr('action');
            
            if (url.length > 0) {
                if (this.value > 0) {
                    url += 'unitat/' + this.value + '/';
                }
                f.attr('action', url).submit()
            }
        });
    </script>
{% endblock localjs %}