{% load url from future %}
{% load i18n %}

{% with request.user.get_profile.permis_planilles as permis %}
<table class="table table-condensed table-hover table-bordered">
    <thead>  
        <tr>
            <th colspan="2">{% trans "Període" %}</th>
            <th colspan="2">{% trans "Rotacio / Torn" %}</th>
            <th>{% trans "% de Jornada" %}</th>
            {% if permis != 'USER' %}
            <th colspan="2"></th>
            {% endif %}
        </tr>  
    </thead>  
    <tbody>
    {% for periode in periodes %}
    <tr>
        <td style="text-align:right;"><span class="muted">{{ forloop.counter }}</span></td>
        <td>
            {{ periode.data_inici|date:"d/m/Y" }}
            {% if periode.data_fi %}
                - {{ periode.data_fi|date:"d/m/Y" }}
            {% endif %}
        </td>
        <td style="text-align:center;">
            {% if periode.rotacio %}R{% else %}T{% endif %}
        </td>
        <td>
        {% if periode.rotacio %}<div class="clearfix">{{ periode.rotacio }}</div>{% endif %}
        {% for periode_seq in periode.rotacioaplicada_set.all %}
            <div class="form_sequencia_color torn-{{ periode_seq.sequencia.abrev_torn }} list">
                {{ periode_seq.sequencia.abrev_torn }}
            </div>
            {% if permis == 'USER' %}
            <span style="padding-left:10px">{{ periode_seq.sequencia }}</span>
            {% else %}
            <a class="{% if not periode.congelat %}fake-href{% endif %} clearfix" href="{{ periode_seq.id }}/">&nbsp;
            {{ periode_seq.sequencia }}
            {% if periode_seq.editat %}
            <small class="muted">editat</small>
            {% endif %}
            </a>
            {% endif %}
        {% endfor %}
        </td>
        <td style="text-align:center">
        {% if periode.reduccio %}
            {{ periode.reduccio }}<span class="muted">%</span>
        {% endif %}
        </td>
        {% if permis != 'USER' %}
        <td style="text-align:center">
            {% if periode.rotacio %}<div class="clearfix"><br /></div>{% endif %}
            {% for periode_seq in periode.rotacioaplicada_set.all %}
            <a href="{{ periode_seq.id }}/" 
               {% if not periode.congelat %}class="fake-href"{% endif %}
               title="{% trans "Editar periode" %}">
                <i class="icon-calendar"></i></a>
            {% endfor %}
        </td>
        <td style="text-align:center">
            {# RRHH POT EDITAR SEMPRE #}
            {% if not periode.congelat or periode.data_fi > primer_dia_editable or permis == 'RRHH' or permis == 'ROOT' %}
            <a href="{{ periode.id }}/deleteperiode/" class="text-error">
                <i class="icon-trash"></i>
            </a>
            {% else %}
            <i class="icon-trash" style="opacity:0.3"></i>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endwith %}