{% load url from future %}
{% load i18n %}

{% with request.user.get_profile.permis_planilles as permis %}
<table class="table table-condensed table-hover table-bordered">
    <thead>  
        <tr>
            <th>{% trans "Dia" %}</th>
            <th>{% trans "Franja" %}</th>
            <th>{% trans "Desp." %}</th>
            <th>{% trans "Concepte" %}</th>
            {% if permis != 'USER' %}
            <th></th>
            {% endif %}
        </tr>  
    </thead>  
    <tbody>
    {% for extra in extres %}
    <tr>
        <td>
            {{ extra.dia|date:"d/m/Y" }}
        </td>
        <td>
            {{ extra.get_hora_list }}
        </td>
        <td style="text-align:center;">
            {% if extra.despla %}
                {{ extra.despla }}
            {% endif %}
        </td>
        <td>
            {{ extra.extra.nom }}
        </td>
        {% if permis != 'USER' %}
        <td style="text-align:center">
            {% if not extra.data_validacio or permis != 'CAPU' %}
            <a href="{{ extra.id }}/deletehoraextra/" class="text-error">
                <i class="icon-trash"></i>
            </a>
            {% else %}
            <i class="icon-trash" style="opacity:0.3"></i>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endwith %}