{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Torns" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
{% autosort sequencies %}

<h3>{% trans "Torns" %}
    {% if tipus_torn == 'P' %}
        {% trans "de Personal" %}.
    {% else %}
        {% trans "d'Equip" %}.
    {% endif %} 
    <small>
    {% trans "Escull un" %} 
    {% trans "Torn" %} 
    {% trans "per editar les seves propietats" %}
    </small>
</h3>
<table class="table table-striped table-condensed hover">  
    <thead>  
        <tr>
            {% if unitats_multiples %}
            <th>{% anchor unitat "Unitat" %}</th>
            {% endif %}
            <th>{% anchor nom "Nom" %}</th>  
            <th>{% anchor abrev_torn "Tipus" %}</th>
            <th>{% trans "Hores per setmana" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for sequencia in sequencies %}
        <tr>
            {% if unitats_multiples %}
            <td>
            {% ifchanged sequencia.unitat %}
            {{ sequencia.unitat }}
            {% endifchanged %}
            </td>
            {% endif %}
            <td>
                <a href="{% url 'sequencia' sequencia.id %}">
                    {{ sequencia.nom }}
                </a>
            </td>
            <td>
                <div class="form_sequencia_color torn-{{ sequencia.abrev_torn }} list"
                     style="margin-right:6px">
                    {{ sequencia.abrev_torn }}
                </div>
                    {{ sequencia.get_abrev_torn_display }}
            </td>
            <td>
                {{ sequencia.get_hores_format|safe }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="form-actions">
    <div class="pull-right">
        <a href="{% url 'sequencia' tipus_torn %}" class="btn btn-primary save">
            {% trans "Afegir" %} {% trans "Torn" %}
            {% if tipus_torn == 'P' %}
                {% trans "de Personal" %}
            {% else %}
                {% trans "d'Equip" %}
            {% endif %} 
        </a>
    </div>
</div>
{% endblock content %}
