{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% with request.user.get_profile.permis_planilles as permis %}
<table class="table table-striped table-condensed table-hover table-bordered">
    <thead>  
        <tr>
            <th>{% trans "Dia" %}</th>  
            <th>{% trans "Franja" %}</th>
            <th>{% trans "Torn per dia" %}</th>
            <th style="width:180px">{% trans "Hores diaries" %}</th>
            <th></th>
        </tr>  
    </thead>
    <tbody>
    {% for dia in dies %}
        <tr>
            <td>
                {% if dia.dia_num > 4 %}
                    <em>{{ dia.dia_str }}</em>
                {% else %}
                    {{ dia.dia_str }}
                {% endif %}
                </td>
            <td>
                {% for hora in dia.hores %}
                    {{ hora.hora_inici|time:'H:i' }} - {{ hora.hora_fi|time:'H:i' }}
                    {% if not forloop.last %}
                        &nbsp;/&nbsp;
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if dia.hores %}
                    {{ dia.abrev_torn }}
                {% endif %}
            </td>
            <td>
                {% if dia.hores %}    
                <span class="pull-right">{{ dia.hores_format }}</span>
                {% endif %}    
            </td>
            <td style="text-align:center">
            {% if dia.hores %}
                {% if not periode.congelat or permis == 'RRHH' or permis == 'ROOT' %}
                <a href="{{ dia.dia_num }}/delete/" class="text-error">
                    <i class="icon-trash"></i>
                </a>
                {% else %}
                    <i class="icon-trash" style="opacity:0.3"></i>
                {% endif %}
            {% endif %}
            </td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="4" style="text-align: right;">
                {% trans "Hores totals" %}: 
                <span>{{ total_setmana|safe }}</span>
                {% if periode.reduccio %}
                <div>{{ pct_sobre_torn }}% {% trans "del Torn assignat" %}: {{ total_sequencia_original|safe }}</div>
                {% endif %}
            </td>
            <td>&nbsp;</td>
        </tr>  
    </tbody>
</table>

<div class="form-actions">
    <form class="form-inline" name="form_dia"  action="franja/" method="post">
        {% csrf_token %}
        {% if not periode.congelat or permis == 'RRHH' or permis == 'ROOT' %}
        <div class="row">
            <div class="span2">
                {% trans "Dia" %}
            </div>
            <div class="span2">
                {% trans "Hora Inici" %}
            </div>
            <div class="span2">
                {% trans "Hora Fi" %}
            </div>
            <div class="span2">
                {% trans "Hora Inici" %}
            </div>
            <div class="span2">
                {% trans "Hora Fi" %}
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                <button class="btn btn-primary" type="submit">
                    {% trans "Afegir franja" %}
                </button>
            </div>

            <div class="span2">
                <select name ="dia_setmana" class="input-medium">
                    {% for dia in DIES_SETMANA %}
                        <option value="{{ forloop.counter0 }}">
                            {{ dia }}
                        </option>
                    {% endfor %}
                    <option disabled="disabled">
                        - - - - - - - - - - - - 
                    </option>
                    <option value="10">
                        {% trans "Dilluns / Divendres" %}
                    </option>
                    <option value="11">
                        {% trans "Cap de Setmana" %}
                    </option>
                </select>
            </div>
            <div class="span2">
                <div class="input-append">
                    <input type="text" name="inici_1" id="id_inici_1" 
                           class="input-mini time-picker"
                           maxlength="4">
                    <span class="add-on">
                        <i class="icon-time"></i>
                    </span>
                </div>
            </div>

            <div class="span2">
                <div class="input-append">
                    <input type="text" name="fi_1" id="id_fi_1" 
                           class="input-mini time-picker">
                    <span class="add-on">
                        <i class="icon-time"></i>
                    </span>
                </div>
            </div>
            <div class="span2">
                <div class="input-append">
                    <input type="text" name="inici_2" id="id_inici_2" 
                           class="input-mini time-picker">
                    <span class="add-on">
                        <i class="icon-time"></i>
                    </span>
                </div>
            </div>
            <div class="span2">
                <div class="input-append">
                    <input type="text" name="fi_2" id="id_fi_2" 
                           class="input-mini time-picker">
                    <span class="add-on">
                        <i class="icon-time"></i>
                    </span>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="span2">
                {% trans "Tipus de Torn per dia" %}
            </div>
            <div class="controls">
            {{ form.abrev_torn_detall }}
            </div>
        </div>
        <hr />
        {% endif %}
        {# FAP #}
        {% if tipus_torn == 'FAP' %}
        <div class="row">
            <div class="pull-right">
                <button class="btn btn-primary" type="submit">
                    {% trans "Canviar data final del Període" %}
                </button>
            </div>
            <div class="span3">
                {% trans "Canviar la data final del periode" %}:
                <em class="muted">ha de ser posterior a la data d'avui</em>
            </div>
            <div class="span2">            
                <div class="controls">
                    {{ form.data_fi_periode }}
                    {% if form.data_fi_periode.errors %}
                        <span class="help-inline">
                            {% for error in form.data_fi_periode.errors %}
                                {{ error }}&nbsp;
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </form>
</div>
{% endwith %}
