{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}
{% trans "Torns" %}{% if sequencia.id %} :: {{ sequencia.nom }}{% endif %} 
{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h3>
    {% if tipus_torn =  'P' %}
        <a href="{% url 'sequencies'  %}">{% trans "Torns" %} {% trans "de Personal" %}</a> &raquo;
    {% else %}
        <a href="{% url 'sequencies_equip'  %}">{% trans "Torns" %} {% trans "d'Equip" %}</a> &raquo;
    {% endif %}
    <span class="muted">
    {% if sequencia.id %}
        {% trans "Editar" %} {% trans "Torn" %} 
    {% else %}
        {% trans "Nou" %} {% trans "Torn" %}
    {% endif %}
    </span>
</h3>

<form action="{% url 'sequencia' seq_id %}" method="post" class="form-horizontal" 
      name="form_sequencies">
    {% csrf_token %}
    {# EL TIPUS ve assignat automaticament #}
    {{ form.tipus_seq.as_hidden }}
    {% if unitats_multiples %}
        <div class="control-group {% if form.unitat.errors %} error {% endif %}">
        <label class="control-label" for="id_unitat">{% trans "Unitat" %}</label>
        <div class="controls">
            {{ form.unitat }}
            {% if form.unitat.errors %}
                <span class="help-inline">
                    {% for error in form.unitat.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    {% else %}
        <input type="hidden" name="unitat" id="id_unitat" value="{{ unitat_alone.id }}">
    {% endif %}
    <div class="control-group {% if form.nom.errors %} error {% endif %}">
        <label class="control-label" for="id_nom">{% trans "Nom" %}</label>
        <div class="controls">
            {{ form.nom }}
            {% if form.nom.errors %}
                <span class="help-inline">
                    {% for error in form.nom.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    <div class="control-group {% if form.abrev_torn.errors %} error {% endif %}">
        <label class="control-label" for="id_abrev_torn">{% trans "Tipus de Torn" %}</label>
        <div class="controls">
            {{ form.abrev_torn }}
        </div>
    </div>
    <div class="form-actions">
        <div class="pull-right">
            {% if sequencia.id %}
                <a href="#modal-esborrar" role="button" class="btn btn-danger" 
                   data-toggle="modal">
                    {% trans "Esborrar" %} {% trans "Torn" %}
                </a>
            {% endif %}
            
            <a href="{% url 'sequencies' %}" class="btn">
                {% trans "Cancelar" %}
            </a>
            <button class="btn btn-primary" type="submit">
                {% trans "Desar canvis" %}
            </button>
        </div>
    </div>
</form>

<!-- Modal d'esborrat -->
<div id="modal-esborrar" class="modal hide " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">×</button>
        <h3 class="text-warning" id="myModalLabel">
            {% trans "Esborrar" %} {% trans "Torn" %} {{ sequencia.nom }}?
        </h3>
    </div>
    <div class="modal-body">
        <p class="text-warning">
            {% trans "Segur que vols esborrar aquest" %} {% trans "Torn" %}?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            {% trans "Tancar" %}
        </button>
        <a href="delete/" class="btn btn-danger" type="button">
            {% trans "Esborrar" %}
        </a>
    </div>
</div>

{% if sequencia.id %}
    <h4>{% trans "Calendari setmanal" %}</h4>
    {% include "planilles/sequencies_franja_form.html" %}
{% endif %}
{% endblock content %}

{% if sequencia.id %}
    {% block localjs %}
    {# Aquest Block es crida desde el include d'aqui sobre. Sorry #}
    <script type="text/javascript">
        /// Nomes permeto entrada de nombres al camp de text
        $('.time-picker').numeric({decimal: false, negative: false});

        /// Afegeixo els : i autocompleto, en cas de menys de 4 caracters
        $('.time-picker').blur(function() {
            sanitize_time_input($(this));
        });

    </script>
    {% endblock localjs %}    
{% endif %}