{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Sincronitzacio amb CCS-KARAT" %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/notificacio_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h3>{% trans "Sincronitzacio amb CSS-KARAT" %}</h3>

{% if resultat < 0 %}
    <form action="." method="post" class="form-horizontal">
        {% csrf_token %}

        <h4>{% trans "Vols sincronitzar les dades amb el fitxer mestre de CSS-KARAT?" %}</h4>
        <h4>{% trans "Aquest procés pot tardar uns minuts i és irreversible" %}</h4>
        <br />
        <button class="btn btn-primary" type="submit">
            {% trans "Si, executar proces de sincronitzacio" %} 
        </button>
    </form>

{% else %}
    <h4>
        {% trans "S'ha executat el proces, s'han modificat" %}&nbsp;
        {{ resultat }}
        {% trans "registres" %}.
    </h4>


{% endif %}
{% endblock content %}
