{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Unitats" %}
{% if unitat.id %} :: {{ unitat.descripcio }}{% endif %}{% endblock title %}

{% block notificacions %}
    {% include 'planilles/common/error_missatge_header.html' %}
{% endblock notificacions %}

{% block content %}
<h4><a href="{% url 'unitats'  %}">{% trans "Unitats" %}</a> &raquo; 
    <span class="muted">
        {% trans "Veure" %} {% trans "Unitat" %}
    </span>
</h4>
<form action="{% url 'unitat' unitat.id %}" method="post" class="form-horizontal" name="form_grup">
    {% csrf_token %}

    <div class="control-group">
        <label class="control-label" for="id_nom">{% trans "Nom" %} :</label>
        <div class="controls">
            <div class="valor-camp">{{ unitat.descripcio }}</div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="id_centre">{% trans "Centre" %} :</label>
        <div class="controls">
            <div class="valor-camp">{{ unitat.centre_idi }}</div>
        </div>
    </div>

    {% with request.user.get_profile.permis_planilles as permis %}
    {% if permis == 'RRHH' or permis == 'ROOT' %}
    <div class="control-group {% if form.calendari_laboral.errors %} error {% endif %}">
        <label class="control-label" for="id_calendari">{% trans "Calendari" %} :</label>
        <div class="controls">
            {{ form.calendari_laboral }}
            {% if form.calendari_laboral.errors %}
                <span class="help-inline">
                    {% for error in form.calendari_laboral.errors %}
                        {{ error }}&nbsp;
                    {% endfor %}
                </span>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="control-group">
        <label class="control-label" for="id_calendari">{% trans "Calendari" %} :</label>
        <div class="controls">
            <div class="valor-camp">{{ unitat.calendari_laboral }}</div>
        </div>
    </div>
    {% endif %}
    {% if unitat.grupunitat_set.all|length > 0 %}
    <div class="control-group">
        <label class="control-label" for="id_nom">{% trans "Grups/Equips" %} :</label>
        <div class="controls">
            <table class="table table-condensed-striped table-condensed table-hover table-bordered">
                <tbody>
                {% for grup in unitat.grupunitat_set.all %}
                    <tr>
                        <td>
                            <a href="{% url 'unitat_grup' unitat.id grup.id %}">{{ grup.nom }}
                                &nbsp;<small class="muted">{{ grup.descripcio|truncatewords:10 }}</small></a>
                            {% if grup.equip_set.all %}
                            <ul>
                                {% for equip in grup.equip_set.all %}
                                    <a href="{% url 'unitat_grup_equip' unitat.id grup.id equip.id %}">{{ equip }}</a>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </td>
                        {% if permis != 'USER'%}
                        <td style="text-align:center">
                            <a href="{% url 'unitat_grup_delete' unitat.id grup.id %}"><i class="icon-trash"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="form-actions">
        <div class="pull-right">
            {% if permis != 'USER'%}
            <a class="btn" href="grup/0/">
                {% trans "Afegir" %} {% trans "Grup" %}
            </a>
            {% endif %}
            {% if permis == 'CAPU' or permis == 'ROOT' %}
            <button class="btn btn-primary" type="submit">
                {% trans "Desar" %} {% trans "Canvis" %}
            </button>
            {% endif %}
        </div>
    </div>
    {% endwith %}
</form>
{% endblock content %}
