{% extends "planilles/base.html" %}
{% load url from future %}
{% load sorting_tags %}
{% load i18n %}

{% block title %}{% trans "Unitats" %}{% endblock title %}

{% block content %}
{% autosort unitats %}
<h4>{% trans "Unitats" %}. <small>{% trans "Escull una" %} {% trans "Unitat" %} {% trans "o un" %} {% trans "Grup" %} {% trans "per veure'n les seves propietats" %}.</small></h4>
<table class="table table-striped table-condensed hover">  
    <thead>
        <tr>
            <th>{% anchor descripcio "Unitats" %}</th>
            <th>{% anchor centre_idi "Centres" %}</th>  
            <th>{% trans "Grups" %}</th>
        </tr>  
    </thead>  
    <tbody>
        {% for unitat in unitats %}
        <tr>
            <td>
                <a href="{% url 'unitat' unitat.id %}">{{ unitat.descripcio }}</a>
            </td>
            <td>
                    {{ unitat.centre_idi }}
            </td>
            <td>
                {% for grup in unitat.grupunitat_set.all %}
                    <div>{{ grup }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
