/*!
 * CSS Per Planilles idi
 *
 * Combina plugins + main.css
 * Aprofita el variables.less per coloraines 
 * 
 */
/*!
 * Timepicker for Bootstrap
 *
 * Copyright 2012 Joris de Wit, Stefan Petre, Andrew Rowls
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.bootstrap-timepicker.dropdown-menu {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: none;
  min-width: 10px;
  z-index: 99999;
}
.bootstrap-timepicker.dropdown-menu.open {
  display: inline-block;
}
.bootstrap-timepicker.dropdown-menu:before {
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.bootstrap-timepicker.dropdown-menu:after {
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.bootstrap-timepicker.modal {
  top: 30%;
  margin-top: 0;
  width: 200px;
  margin-left: -100px;
}
.bootstrap-timepicker.modal .modal-content {
  padding: 0;
}
.bootstrap-timepicker table {
  width: 100%;
  margin: 0;
}
.bootstrap-timepicker table td {
  text-align: center;
  height: 30px;
  margin: 0;
  padding: 2px;
}
.bootstrap-timepicker table td span {
  width: 100%;
}
.bootstrap-timepicker table td a {
  border: 1px transparent solid;
  width: 3em;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  outline: 0;
  color: #333;
}
.bootstrap-timepicker table td a:hover {
  text-decoration: none;
  background-color: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ddd;
}
.bootstrap-timepicker table td a i {
  margin-top: 2px;
}
.bootstrap-timepicker table td input {
  width: 25px;
  margin: 0;
  text-align: center;
}
.bootstrap-timepicker-component .add-on {
  cursor: pointer;
}
.bootstrap-timepicker-component .add-on i {
  display: block;
  width: 16px;
  height: 16px;
}
body {
  -webkit-print-color-adjust: exact;
}
.navbar {
  margin-bottom: 20px;
}
.navbar .brand {
  background: transparent url("../img/logo_idi.png") no-repeat left 5px;
  padding-left: 50px;
  padding-bottom: 5px;
  padding-top: 13px;
}
.navbar .nav > li > a {
  padding: 16px 12px 10px 0px;
}
a.brand {
  height: 30px!important;
}
.controls .valor-camp {
  padding: 5px 0 0 4px;
  font-weight: 700;
}
.strong {
  font-weight: bold;
}
table.table tbody tr td a {
  display: block;
}
.calendari {
  border-width: 0px;
  border-spacing: 2px;
  border-style: solid;
  border-collapse: collapse;
  background-color: #ffffff;
}
.calendari th,
.calendari td {
  padding: 1px;
  text-align: center;
}
.calendari th {
  border-width: 0px;
  padding: 1px;
  border-style: solid;
  width: 120px;
}
.calendari th.nom-treballador {
  font-size: 12px;
  letter-spacing: -0.1em;
  overflow: hidden;
  text-align: left;
  width: 120px;
}
.calendari td {
  border-color: #d9d9d9;
  border-width: 1px;
  border-style: dotted;
  width: 20px;
}
.calendari td.header-dia {
  border-width: 0px;
  font-weight: bold;
}
.calendari td.dia_W {
  background-color: #999999;
}
.calendari td.dia_W a {
  color: #eeeeee;
  font-weight: normal;
}
.calendari td.dia_F {
  background-color: #dc4e44;
}
.calendari td.dia_FL {
  background-color: #c83025;
}
.calendari td.dia_0 {
  border-width: 0px;
}
.calendari td.dia_FOO {
  background-color: #abcabc;
}
.calendari td.laboral {
  background-color: #f1f9f1;
}
.calendari td.laboral a {
  color: #333;
}
.calendari td.torn-M {
  background-color: #cdeacd;
}
.calendari td.torn-P {
  background-color: #a9dba9;
}
.calendari td.torn-T {
  background-color: #62bc62;
}
.calendari td.torn-N {
  background-color: #46a546;
}
.calendari td.torn-M-weekend {
  background-color: #b3c1b3;
}
.calendari td.torn-P-weekend {
  background-color: #a1baa1;
}
.calendari td.torn-T-weekend {
  background-color: #7dab7d;
}
.calendari td.torn-N-weekend {
  background-color: #709f70;
}
.calendari td.no-laboral {
  background-color: #cccccc;
}
.calendari td.extra {
  background-color: #f1f9f1;
}
.calendari td.dia-doble {
  background-color: #ffff40;
  color: #111;
}
.calendari td.lower {
  text-transform: lowercase;
}
.calendari td a {
  color: inherit;
  display: block;
  font-size: 11.9px;
  font-weight: bold;
  text-decoration: none;
}
.calendari td a.hora-extra {
  background: transparent url('../img/custom_bgs.png') no-repeat bottom left;
}
.calendari td a:hover {
  background-color: black;
  color: white;
}
.hora-extra-tooltip {
  color: #ffc40d;
  font-size: 9.799999999999999px;
}
.form_sequencia_color {
  border: 1px solid #777;
  float: left;
  margin-right: 10px;
  height: 30px;
  padding-left: 10px;
  text-align: center;
  width: 22px;
}
.form_sequencia_color.torn-M {
  background-color: #cdeacd;
}
.form_sequencia_color.torn-P {
  background-color: #a9dba9;
}
.form_sequencia_color.torn-T {
  background-color: #62bc62;
}
.form_sequencia_color.torn-N {
  background-color: #46a546;
}
.form_sequencia_color.list {
  height: 20px;
  margin: 0;
  padding: 0;
  width: 20px;
}
.tooltip-inner {
  text-align: left;
}
.menys-hores-treballades {
  color: #46a546;
}
.mes-hores-treballades {
  color: #9d261d;
}
.span05 {
  width: 28px;
}
.app-version {
  color: #999999;
}
.div-debug {
  background-color: #9d261d;
}
.dies-setmana ul {
  list-style-type: none;
  margin: 0;
}
.dies-setmana li {
  float: left;
  margin-right: 10px;
}
.columna-tooltip {
  cursor: pointer;
  text-decoration: none;
}
div.kolorPicker-wrapper {
  position: relative !important;
}
input.kolorPicker {
  background: #ffffff url("../img/color-wheel.jpg") no-repeat 70px 4px;
  cursor: pointer;
  position: relative !important;
}
div.kolorpicker-palette {
  float: left;
  margin: 0 0 10px 78px;
  width: 180px;
  position: relative;
  display: inline;
}
div.kolorpicker-palette ul {
  margin: 0;
  padding-left: 20px;
}
div.kolorpicker-palette ul li {
  list-style: none;
  float: left;
  width: 42px;
  height: 12px;
  background: #D0DFE5;
  border: 1px solid #666666;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  margin: 0 3px 0 0;
  padding: 3px 3px 4px 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #353448;
  cursor: pointer;
}
#kolorPicker .kolorpicker-palette-select {
  background: #353448;
  color: #D0DFE5;
}
div.x-close-box {
  float: right !important;
  width: 15px;
  height: 12px;
  font-size: 10px;
  line-height: 12px;
  background: #353448;
  border: 1px solid #666666;
  text-align: center;
  padding: 3px 3px 4px 3px;
  margin: 0 2px 0 0;
  display: block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
#kolorPicker {
  border: 1px solid #353448;
  margin: 0;
  background: #f5f9fb;
  padding: 7px 5px 5px 5px;
  color: #fff;
  width: 290px;
  height: auto;
  z-index: 99;
  position: absolute;
  top: -8px;
  left: -8px;
  cursor: pointer;
  font: 13px/18px Verdana, Arial, sans-serif;
}
div#kolorPicker table td.tile {
  line-height: 20px;
}
