{% extends "quadre_comandament/indicador.html" %}
{% block subcontent %}


{% if forumlari and validar %}
    <form action="validar/" method="post" title="Validar la activitat extraordinaria">{% csrf_token %}
        <div id="content" class="m">
              <ul >
                  <li>.</li>
                  
                  <li class="message">Validació de les prestacions extraordinaries realitzades</li>
                  <li class="message">Trigarà un parell de minuts!</li>
                  <li class="message" style='color: red;' > IMPORTANT: l'activitat validada NO podrà ser modificada!.</li>
                  
              </ul>
              <input type="submit" value="Validar">
        </div>
        
    </form>
{%else%}
        {% if missatge %}
            <ul class="messagelist"><li>{{missatge}}</li></ul>
            <a href="{{url_ret}}">Tornar enrrere</a>

        {% endif %}
{% endif %}


{% if detall %}
        <a href="detall/ ">Mostra detall</a> 
{% endif %}

{% endblock %}


