{% extends "quadre_comandament/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="/static/media/css/quadrecomandament.css" />
{% endblock %}



{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}

    
<form action="{{provaohdim_id}}&{{codgen_id}}" method="post">{% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Aplicar" />
    
</form>

<form action="../" method="post">{% csrf_token %}
    <div id="content" class="flex">
        {% if missatge %}
            <ul class="messagelist"><li>{{missatge}}</li></ul>
        {% endif %}
        
    </div>
</form>
<a href="{{url_ret}}">Enrrere</a>

 
    

{% endblock %}