{% extends "quadre_comandament/base_app.html" %}
{% load i18n %}
{% load sorting_tags %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="/static/media/css/quadrecomandament.css" />
{% endblock %}



{% block coltype %}flex{% endblock %}

{% block bodyclass %}change-list{% endblock %}
 	
{% block content %}

<ul class="message">
<li>
<a href="{{url_ret}}">
    <img src="/static/media/img/quadre_comandament/tecnics_infermers/definicio_complexitat.jpg" alt="Definicio complexitat" align ="middle"  />
</a>
 </li>
<li>Definició dels nivells de complexitat sobre les tasques dels diplomats en infermeria i els tècnics en radiodiagnòsti.</li></ul>
     

{% endblock %}