{% load i18n %}

{% if form.errors %}
<div class="row span9 offset1">
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>{% trans "Error" %}.</strong> 
        {% trans "Hi ha camps amb valors incorrectes" %}.
    </div>
</div>
{% endif %}
