{% if messages %}
    {% for message in messages %}
        <div class="row span9 offset1">
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">
                    ×
                </button>
                <strong style="text-transform:uppercase">{{ message.tags }}.</strong> {{ message|safe }}
            </div>
        </div>
    {% endfor %}
{% endif %}
